/*------------------------------------------------------------------

[MIXINS]

-------------------------------------------------------------------*/

/*
==========================================================================
	Blocks / Grid
==========================================================================
*/
// Også anvendt i backend temaet.
@mixin grid-box($color) {
	background-color: $color;
	@include border-radius($border-radius-std);
	@include box-shadow(rgba(black, 0.15) 0 0 3px);
}

// Også anvendt i backend temaet.
@mixin grid-box-page-admin($color) {
	background-color: $color;
	/* @include box-shadow(rgba(black, 0.1) -1px -1px 0px); */
}

// Også anvendt i backend temaet.
@mixin grid-box-workbench($color) {
	background-color: $color;
	border: 1px solid #bebfb9;
	@include border-radius($border-radius-std);
	/* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
}

// Calendar fieldgroup
@mixin grid-box-no-shadow($color) {
	background-color: $color;
	@include border-radius($border-radius-std);
}

/*
==========================================================================
	Forms
==========================================================================
*/
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

/*
==========================================================================
	Text
==========================================================================
*/
@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

/*
==========================================================================
	Utilities
==========================================================================
*/
@mixin bp($point) {
  @if $point == narrow {
    @media all and (min-width: 740px) {
      @content;
    }
  } @else if $point == normal {
    @media all and (min-width: 980px) {
      @content;
    }
  } @else if $point == wide {
    @media all and (min-width: 1140px) {
      @content;
    }
  } @else {
    @media all and (min-width: $point + 'px') {
      @content;
    }
  }
}
