/*------------------------------------------------------------------

[MIXINS]

Blocks
Backend

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
// Også anvendt i backend temaet.
@mixin grid-box($color) {
	background-color: $color;
	@include border-radius($border-radius-std);
	@include box-shadow(rgba(black, 0.15) 0 0 3px);
}

/*------------------------------------------------------------------
	Input
-------------------------------------------------------------------*/
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

/*------------------------------------------------------------------
	Backend
-------------------------------------------------------------------*/
// Også anvendt i backend temaet.
@mixin grid-box-page-admin($color) {
	background-color: $color;
	/* 	@include box-shadow(rgba(black, 0.1) -1px -1px 0px); */
}

// Også anvendt i backend temaet.
@mixin grid-box-workbench($color) {
	background-color: $color;
	border: 1px solid #bebfb9;
	@include border-radius($border-radius-std);
/* 	@include box-shadow(rgba(black, 0.85) 0 0 3px); */
}

/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/
// Calendar fieldgroup
@mixin grid-box-no-shadow($color) {
	background-color: $color;
	@include border-radius($border-radius-std);
}