/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/

// Også anvendt i backend temaet.
$font-family-std: Verdana, Arial, sans-serif;
$line-height-std: 1.15em;

// Også anvendt i backend temaet.
$font-size-std: 1em; /* 12px */
// Også anvendt i backend temaet.
$font-size-small: (11/12)*1em;
// Også anvendt i backend temaet.
$font-size-large: (16/12)*1em;
// Også anvendt i backend temaet.
$font-size-headline: (18/12)*1em;
$font-size-title: (26/12)*1em;

/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/

// Også anvendt i backend temaet.
$spacing-std: 20px;
$border-radius-std: 3px;