# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Do not track SASS cache.
.sass-cache

# Don not track .DS_store files.
.DS_Store