*.sql
*.tar.gz
# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore paths that contain development only content.
sites/all/modules/devel/

# Ignore single files.
.DS_Store

# Ignore SASS cache.
sites/all/themes/rebild/.sass-cache/
sites/all/themes/rebild/.sass-cache/*
sites/all/themes/rebild/.sass-cache/*/*
.sass-cache/

# Ignore .DS_store files.
.DS_Store

# Ignore apc.php & phpinfo.php
apc.php
phpinfo.php
