# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/modules/devel

# Ignore SASS cache.
.sass-cache

# Ignore .DS_store files.
.DS_Store

# Ignore apc.php & phpinfo.php
apc.php
phpinfo.php