/*------------------------------------------------------------------

[BLOCKS]

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	Blocks General
-------------------------------------------------------------------*/

/* Region: Header First */
#region-header-first {
	.block {
		background-image: url("../img/background_print.png");
		background-repeat: no-repeat;
		background-position: top right;	
		.content {
			line-height: $line-height-std;
			text-align: center;
			color: $text-color-header;
		}
	}
}

/* Section Content */
#section-content {
	.block {
		margin-bottom: $spacing-std;
		.block-title {
			font-size: $font-size-headline;
			line-height: 1em;
			font-weight: normal;
			padding: 0 0 $spacing-std 0;
			color: $text-color;
			@include text-shadow(rgba(white, 1) 1px 1px 1px);
		}
	}
}

/* Region: Content */
#region-content {
	.block {
		margin-bottom: $spacing-std;
		.content {
			color: $text-color;
			line-height: $line-height-std;
			padding-bottom: 0;
		}	
	}
	.block-system-main {
		margin-bottom: 0;
	}
}
.not-front {
	#region-content {
		.block-system-main {
			margin-bottom: $spacing-std;
		}
	}
}

/* Region: Content Sidebar */
#region-content-sidebar {
	margin-top: $spacing-std;
	.block {
		margin-bottom: $spacing-std;
		.block-title, h3 {
			font-size: 12px;
			line-height: $font-size-std;
			background: $color-blue;
			color: white;
			margin: 0 0 $spacing-std*0.75;
			padding: 0.4em 0.7em;
			font-weight: normal;
			@include text-shadow(none);
			@include border-radius(3px);
		}
		h3 {
			margin-top: $spacing-std;
		}
		.content {
			color: $text-color;
			line-height: $line-height-std;
			padding-bottom: 0;
			font-size: $font-size-small;
			ul {	
				margin: 0 0.75em;
				overflow: hidden;
				li {
					margin: 0 0 .75em 0;
					line-height: 1.15em;
				}
				li:before {
					@include icon-prepare();
					content: "\f101";	
					color: $color-blue;
					margin: 0.1em 0.5em 0 0;
					font-size: 0.9em;
					display: block;
					float: left;
				}
			}
		}
		/* Content sidebar borger.dk - Læs også */
		.view-content-sidebar-borger-dk-read-also {
			h4 {
				margin: 1em .75em .5em;
			}
			h3 {
				
			}
		}
	}
	/**
	 * RELATED CONTENT - Content sidebar
	 */
	section.related-content-links {
		border: 1px solid $color-blue;
		padding-bottom: $spacing-std/2;
		@include border-radius($border-radius-std);
		.block-title {
			@include border-radius(0);
		}
	}
}

/* Region: Sidebar First */
.not-front {
	#region-sidebar-first {
	  text-align: center;
		.block {
			text-align: left;
			.block-title {
				font-size: $font-size-large;					
				@include text-shadow(none);
			}
			.content {
				font-size: $font-size-std;
				line-height: $line-height-std;
			}
		}
	}
}

/* Region: Postcripts First */
#region-postscript-first {
	.block {
		.block-title {
			
		}
		.content {
			padding: $spacing-std;
			color: white;
			line-height: $line-height-std;
			@include grid-box($color-green);
		}
	}
}

/* Region: Postscripts Second */
#region-postscript-second {
	.block {
		.block-title {
			
		}
		.content {
			padding: $spacing-std;
			line-height: $line-height-std;
			color: $text-color;
			@include grid-box(white);
			a {
				word-break: break-word;
			}
		}
	}
}

/* Zone: Footer */
#zone-footer {
	.block {
		color: $text-color-footer;
		.block-title {
			font-size: 14px;
			margin: 0 0 $spacing-std 0;
			font-weight: normal;
		}
		.content {
			font-size: $font-size-small;
			line-height: $line-height-std;
			a {
				color: $text-color-footer;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

/* Region: Bottom */
#region-bottom {
	.block {
		.content {
			padding: 8px 0;
			text-align: center;
			font-size: 10px;
			line-height: 1.4em;
			color: white;
			a { 
				color: white; 
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

/*------------------------------------------------------------------
	Blocks Specific
-------------------------------------------------------------------*/

/* Selfservice block - frontpage */
#region-header-first {
	.block {
	  margin-top: $spacing-std;
    padding: $spacing-std;
		@include grid-box($bg-color-header);
		h2 {
			color: white;
			font-size: (28/12)*1em;
			line-height: 1.1em;
			font-weight: normal;
			margin-bottom: 14px;
		}
		p {
			font-size: (15/12)*1em;
			margin-bottom: 15px;	
			line-height: $line-height-std;
		}
		.separator {
		  margin: 10px 20px;
		  font-size: $font-size-small;
		  font-style: italic;
		}
		p.arrow-link {
			margin-bottom: 0 !important;
			font-size: $font-size-small;
			a {
				text-transform: uppercase;
				color: $text-color-header;
				font-weight: bold;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
			a:after {
				@include icon-prepare();
				content: "\f061";	
				color: $bg-color-header;
				background: $text-color-header;
				display: inline-block;
				font-size: 0.75em;
				line-height: 1em;
				padding: 0.40em 0.50em;
				margin: 0 0 0 5px;
				position: relative;
				top: -1px;
				@include border-radius(2px);
			}
		}
		.customSelect {
			font-style: italic;
			color: $text-color-header;
			font-size: 13px;
			text-align: left;
			width: 100%;
			cursor: pointer;
		}
		.customSelect:after {
			position: absolute;
			font-style: normal;
			font-size: 16px;
			top: 0;
			right: 0;
			@include icon-prepare();
			content: "\e000";
		}		
		.customSelectInner {
			padding: 1em;
			display: block;
			cursor: pointer;
			max-width: 80%;
		}
	}
}
.view-selfservice-frontpage {
	position: relative;
  .ctools-jump-menu-button {
  	display: none;
  }
}
.view-id-selfservice_frontpage.view-display-id-block {
  > .view-content {
    font-size: $font-size-std;
    line-height: 1.4em;
    margin-bottom: 25px;
    overflow: hidden;
    margin: 20px auto 25px; 
    text-align: center;
    > .views-row {
      color: $text-color-header;
      margin-right: 0.9em;
      margin-bottom: 0.5em;
      display: inline-block;
      a {
        color: $text-color-header;
      }
      a:hover {
	      text-decoration: none;
      }
    }
  } 
}

/* Contact block - front page/landing pages */
#region-sidebar-first {
	.block.contact-sidebar {
    padding: $spacing-std;
    color: white;
    line-height: $line-height-std;
    @include grid-box($color-purple); 
		.block-title {
			color: white;
			font-size: $font-size-large;
			line-height: $line-height-std;
			@include text-shadow(none);
		}
		.content {
			line-height: 1.25em;
			a {
				color: white;
			}
		}
	}
}


/* 5 shortcuts - frontpage */
#region-postscript-first {
	.block-block {
		.block-title {

		}
		.content {
			ul {
				margin-bottom: 0;
				li {
					margin-bottom: 1.6em;
					a {
						color: white;
						text-decoration: none;
					}
					a:hover {
						text-decoration: underline;
					}
				}
				li:before {
					@include icon-prepare();
					content: "\f101";	
					margin-right: 5px;
				}
			}
		}
	}	
}
/* Custom blocks */
.custom_block {
    padding: $spacing-std;
    color: white;
    line-height: $line-height-std;
    a {
	    text-decoration: none;
    }  
    a:hover {
	    text-decoration: underline;
    }
}

/* Custom blocks - book en politiker */
.html {
	#page {
		.custom_block.politics {
			@include grid-box($color-green); 
			background-image: url('../img/block_watermark.png');
			background-position: right bottom;
			background-repeat: no-repeat;
			font-size: 1.25em;
			p {
				margin-bottom: 5px;
			}
			a {
				color: #fff;
			}
		}
	}
}
/* Custom blocks - Kort og godt */
.html {
	#page {
		.custom_block.map {
			@include grid-box(#fff);
			color: $text-color;
			font-size: 1.25em;
			background-image: url('../img/map_digital.png');
			background-repeat: no-repeat;
			background-position: right bottom;
			h3 {
				font-weight: normal;
				color: $color-green;
			}
			p {
				margin-bottom: 5px;
			}
			a {
				color: $text-color;
			}
		}
	}
} 
/* Custom blocks - Rebildporten */
.html {
	#page {
		.custom_block.rebildporten {
			@include grid-box(#f04f0f);
			height: 105px;		
			h2 {
				margin-bottom: 10px;
			}
			.rold {
				margin-bottom: 10px;
			}	
		}
	}
}
/* Custom blocks - Frivillig */
.html {
	#page {
		.custom_block.frivillig {
			@include grid-box(#fff);
			height: 280px;
			color: $text-color;
			background-image: url('../img/frivillig_high.jpg');
			background-repeat: no-repeat;
			background-position: center top;
			h2 {
				margin-top: 210px;
				font-size: $font-size-large;
				font-weight: normal;
				margin-bottom: 10px;
			}
		}
	}
}
/* Custom blocks - Socialt ansvarlig */
.html {
	#page {
		.custom_block.social {
			@include grid-box(#fff);
			height: 280px;
			color: $text-color;
			background-image: url('../img/social_high.jpg');
			background-repeat: no-repeat;
			background-position: center top;
			h2 {
				margin-top: 210px;
				font-size: $font-size-large;
				font-weight: normal;
				margin-bottom: 10px;
			}
		}
			
	}
}
/* Calendar sidebar */
#section-content {
	.block-calendar-sidebar-block {
		overflow: hidden;
		line-height: $line-height-std;
		color: $text-color;
		@include grid-box(white);
		.block-title {
			padding: 20px 20px 0 20px;
		}
	}
}

/* Footer - Contact information */
#region-footer-first {
	.block {
		text-align: center;
		.content {
			p {
				margin-bottom: $spacing-std/2;
			}
			table {
				margin: auto;
				margin-bottom: 10px;
				line-height: $line-height-std;
				text-align: center;
			}
			p.large-text {
				font-size: (20/12)*1em;
				line-height: $line-height-std;
				span {
					position: relative; top: 2px;
					display: inline-block;
					width: 20px;
				}
			}
			img {
				margin-bottom: 5px;
			}
			a {
				color: $text-color-footer;
				text-decoration: none;
			}
	    a:hover {
		    text-decoration: underline;
	    }
			p.bottom-logo {
				margin-bottom: $spacing-std/1.5;				
				span.icon-bottom_logo {
					font-size: 50px;
				}
			}
			p.bottom-text {
				font-size: 1.15em;
				line-height: 1.20em;
				margin-bottom: $spacing-std/1.5;
			}
		}
	}	
}

/* Mobile Header */
#mob-header {
	color: $color-green;
	font-size: 24px;
	a {
		color: $color-green;
		text-decoration: none;
	}
	#mob-header-left {
		float: left;
		text-align: left;
		width: 33%;
		line-height: 1.5em;
	}
	#mob-header-center {
		text-align: center;
		float: left;
		width: 34%;
		font-size: 38px;
		color: #00703c;
		line-height: 1em;
		a {
			color: #00703c;
		}
	}
	#mob-header-right {
		float: left;
		text-align: right;
		width: 33%;
		line-height: 1.5em;
	}
}

.not-front #region-sidebar-first {

	/* Selvbetjening - sidebar */
	.block-selfservice-blocks-block-1,
	.block-selfservice-landing-block-1 {
		padding: $spacing-std;
		color: white;
		@include grid-box($color-green);
		.block-title {
			color: white;
		}
		.content {
			form {
				margin-bottom: 1em;
			}
			p.arrow-link {
				font-size: $font-size-small;
				border-bottom: 1px dotted white;
				margin-bottom: $spacing-std;
				padding-bottom: $spacing-std;
				a {
					text-transform: uppercase;
					color: $text-color-header;
					font-weight: bold;
					text-decoration: none;
				}
		    a:hover {
			    text-decoration: underline;
		    }
				a:after {
					@include icon-prepare();
					content: "\f061";	
					color: $bg-color-header;
					background: $text-color-header;
					display: inline-block;
					font-size: 0.75em;
					line-height: 1em;
					padding: 0.40em 0.50em;
					margin: 0 0 0 5px;
					position: relative;
					top: -1px;
					text-decoration: none;
					@include border-radius(2px);
				}
			}
			.container-inline {
				position: relative;
				margin: 0;
				overflow: hidden;
			}
			.customSelect {
				font-style: italic;
				color: $text-color-header;
				font-size: $font-size-small;
				text-align: left;
				width: 100%;
			}
			.customSelect:after {
				font-style: normal;
				font-size: 1.3em;
				float: right;
				margin-top: 0.65em;
				margin-right: 0.3em;
				position: absolute;
				top: 0;
				right: 0;
				@include icon-prepare();
				content: "\e000";
			}		
			.customSelectInner {
				padding: 1em;
				max-width: 80%;
			}		
			.ctools-jump-menu-button {
	  		display: none;
			}	
		}
		ul {
			li {
				margin: 0 0 0.5em 0;
				padding: 0;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
					text-decoration: underline;
				}
				span:before {
          @include icon-prepare();
          content: "\f101"; 
          margin-right: 0.5em;
        }
			}
		}
	}
	
	/* Background Image blocks */
	.block.image-box {
		padding: $spacing-std;
		color: $text-color;
		@include grid-box($bg-color-alt);		
		.block-title {
		}
		.content {
			width: 62%;
			h2 {
				font-size: $font-size-large;
				line-height: 1.1em;
				font-weight: normal;
			}
			p {
				margin-top: 1em;				
			}
		}
	}
	.block.image-box.plads {
		background: $bg-color-alt url("../img/image-box-1.png") no-repeat bottom right;
	}
	.block.image-box.skole {
		background: $bg-color-alt url("../img/image-box-2.png") no-repeat bottom right;		
	}
}
.view-selfservice-blocks {
	position: relative;
}

/* Workbench Moderation */
div.workbench-info-block {
	font-size: $font-size-std;
	padding: $spacing-std/2 $spacing-std;
	line-height: 1.5em;
	a {
		font-weight: bold;
	}
}

/* WCAG BLOCKS */
.wcag-block {
  display: inline-block;
  margin: 0 $spacing-std 0 0;
  a {
    color: $text-color;
    text-decoration: none;
    font-style: italic;
  }
}
.wcag-block.textsize {
  #text_resize_increase {
    background: none;
    margin: 0 7px 0 0; padding: 0;
    text-indent: 0;
    height: auto;
    width: auto;
    font-weight: bold;
    sup {
      vertical-align: super;
      float: right;
      margin: 0 0 0 1px;
    }
  }
  #text_resize_decrease {
    background: none;
    margin: 0; padding: 0;
    text-indent: 0;
    height: auto;
    width: auto;
    font-weight: bold;
    font-size: 0.95em;
    sup {
      vertical-align: sub;
      margin: 0 0 0 1px;   
      float: right;   
    }
  }
}
.wcag-block.read-aloud {
  a:before {
    @include icon-prepare();
    content: "\e012"; 
    margin-right: 7px;
    margin-top: 1px;
    position: relative;
    top: 1px;
  }  
}
.wcag-block.print {
  span {
    margin: 0;
  }
  a:before {
    @include icon-prepare();
    content: "\e011"; 
    margin-right: 7px;
    position: relative;
    top: 1px;
  }
}

/* Cookie Popup */
#sliding-popup {
  background: $bg-color-bottom;
  .popup-content {
    width: auto;
    #popup-text {
      font-family: $font-family-std;
      font-size: $font-size-small;
      margin: $spacing-std/2 $spacing-std/2;
      width: auto;
      text-align: center;
      h3 {
        font-size: 1.25em;
        margin-bottom: 5px;
        font-weight: bold;
      } 
      p {
        font-size: $font-size-small;
      }
    }
    #popup-buttons {
      margin: $spacing-std/2 $spacing-std/2;       
      text-align: center;
      float: none;
      button {
        
      }
    }
  }
}

/* Search block - search page */
#block-ci-search-ci-search-results {
  padding: $spacing-std;
  margin: 0;
  > div {
    position: relative;
  }
  @include grid-box(white); 
  .form-item, .form-actions {
    margin: 0;
  }      
  .form-type-textfield {
  	position: relative;
  }
	.sf-wrapper {
		background: #e9e9e9;
    padding: 10px;
    overflow: hidden;
    @include border-radius($border-radius-std);		
	}
	.form-type-textfield:before {
		@include icon-prepare();
		content: "\e013";
		z-index: 10;
		position: absolute;
		left: 1em;
		top: 1em;
		font-size: 1.6em;
		color: $input-color;
	}
  input[type=search],
  input[type=text] {
			font-size: 1em;
			font-style: italic;
			height: 4.8em;
			width: 100%;
			line-height: 2em;
			float: left;
			position: relative;
			padding: 1.05em 1em 1.05em 4em;
	    border-top: 1px solid white;
	    background: white;
	    background-position: center top;
			@include background-image(linear-gradient(#eeeeee, #ffffff 33%));
			@include border-radius($border-radius-std);
			@include box-sizing(border-box);
  }
  input[type=submit] {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: (20/13)*1em;
    padding: 0 1.5em;
    @include border-radius(0 3px 3px 0);
  }
  .form-type-checkboxes {
    overflow: hidden;
    > label {
      font-size: 1.2em;
      margin: 1em 0 0.75em 0;
    }
    .form-type-checkbox {
      float: left;
      margin-right: 10px;
    }
  }
}

/* Search block - frontpage */
#block-ci-search-ci-search-front {
	font-size: 10px;
	text-align: center;
	form {
		background: #cfcfcf;
		padding: 10px;
		position: relative;
		overflow: hidden;
		margin-bottom: (17/10)*1em;
		@include border-radius($border-radius-std);
		.sf-wrapper {
			overflow: hidden;
			position: relative;
			@include border-radius($border-radius-std);
		}
		.sf-wrapper:before {
			@include icon-prepare();
			content: "\e013";
			z-index: 10;
			position: absolute;
			left: 1em;
			top: 1em;
			font-size: 1.6em;
			color: $input-color;
		}
		input[type=search],
		input[type=text] {
			font-size: 1em;
			font-style: italic;
			height: 4.8em;
			width: 100%;
			line-height: 2em;
			float: left;
			position: relative;
			padding: 1.05em 1em 1.05em 4em;
	    border-top: 1px solid white;
	    background: white;
	    background-position: center top;
			@include background-image(linear-gradient(#eeeeee, #ffffff 33%));
			@include border-radius($border-radius-std);
			@include box-sizing(border-box);
		}
		input[type=submit] {
			position: absolute;
			right: 10px;
			top: 10px;
			font-size: (20/13)*1em;
			padding: 0 1.5em;
			@include border-radius(0 3px 3px 0);
		}
		.form-item, .form-actions {
			margin: 0;
		}
	}
	p.small-text {
		font-size: 11px;
		line-height: $line-height-std;
		color: $link-color;
		a, strong { 
			color: $link-color;
			margin-right: 1em;
			@include text-shadow(rgba(white, 1) 1px 1px 1px);
		}
	}
}
/* Search autocomplete widget */
.ac_results {
	width: 660px !important;
	border: none;
	padding: 10px 8px;
	margin-top: 11px;
	@include grid-box(white);
	ul {
		li {
			padding: $spacing-std;
			font-size: $font_size_std;
			cursor: pointer;
			color: $text-color;
			.apachesolr_autocomplete.suggestion {
				
			}
			.apachesolr_autocomplete.message {
				
			}
		}
		.ac_even {
			background: white;
		}
		.ac_odd {
			background: $bg-color-alt;
		}
		.ac_over {
			background: #cfcfcf;
			color: $text-color;
		}
	}
}