/*------------------------------------------------------------------

[FORMS]

-------------------------------------------------------------------*/

form {
	:focus {
		outline: 0;
	}
	input[type=text],
	input[type=search],
	input[type=password],
	textarea {
		padding: 0 3%;
		margin: 0;
		width: 93%;
		height: 3em;
		color: $input-color;
		font-family: $font-family-std;
		font-size: $font-size-std;
		line-height: 1em;	
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		border: 1px solid #EEE;
		@include background-image(linear-gradient(#ececec, #ffffff 33%));
		@include box-sizing(content-box);
	}
	input[type=submit] {
		background: $button-bg-color;
		color: white;
		border: 1px solid $button-bg-color;
		text-transform: uppercase;
		font-family: $font-family-std;
		font-size: $font-size-std;
		line-height: 1em;
		margin: 0; 
		padding: 0 1em;
		height: 3em;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance:    none;
   	appearance:         none;
		@include box-sizing(content-box);
	}
	input[type=submit]::-moz-focus-inner {
		margin: 0; padding: 0; border: 0;
	}
	label {
		margin-bottom: 0.3em;
	}
	.description {
		margin-top: 0.3em;
	}
}

/**
 * Custom Selects
 */
select {
	cursor: pointer;
}
.customSelect {
	background: white;
	border: 0;
	border-top: 1px solid white;
	line-height: 1em;
	cursor: pointer;
	@include border-radius($border-radius-std);
	@include background-image(linear-gradient(#ececec, #ffffff 33%));
	@include box-shadow(rgba(black, 0.10) 0 0 5px);
}
.customSelect:after {
	font-style: normal;
	font-size: 1.1em;
	float: right;
	margin-top: 0.8em;
	padding-right: 0.3em;
	@include icon-prepare();
	content: "\e000";
}	
.customSelectInner {
	cursor: pointer;
	line-height: 1em;
	padding: 1em;
}

/** 
 * Newsletter subscriptions 
 */
#simplenews-subscriptions-page-form {
	legend {
		font-weight: bold;
		margin-bottom: $spacing-std;
	}
	.fieldset-description {
		margin-bottom: $spacing-std;
	}
	#edit-newsletters {
		margin-bottom: $spacing-std;
	}
	.form-type-textfield {
		margin: $spacing-std 0;
	}
	.form-submit {
		margin-right: 10px;
	}
}