/*------------------------------------------------------------------

[GENERAL]

-------------------------------------------------------------------*/

.business-frontpage-info,
#region-content {
	.content {
		/* Text */
		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
			padding-bottom: 0.5em;
			padding-top: 0.25em;
		}
		h1 {
			font-size: 1.5em;
			line-height: 1.5em;
		}
		h2 {
			font-size: 1.25em;
			line-height: 1.25em;
		}
		h3 {
			font-size: 1.08em;
			line-height: 1.08em;
		}
		h4 {
			font-size: 1.05em;
			line-height: 1.05em;
		}
		h5 {
			font-size: 1em;
			line-height: 1em;
		}
		h6 {
			font-size: 1.0em;
			line-height: 1.0em;
		}
		p {
			margin-bottom: 1.25em;
			line-height: 1.25em;
			word-wrap: break-word;
		}
		p:last-child {
			margin-bottom: 0;
		}
		strong {
			font-weight: bold;
		}
		em {
			font-style: italic;
		}
		sup {
	    vertical-align: super;
	    font-size: smaller;
		}
		sub {
			vertical-align: sub;
			font-size: smaller;
		}
		/* Links */
		a {
			color: $link-color;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
		/* Lists */
		ul, ol {
			margin-bottom: 1.25em;
			li {

			}
		}
		ul:last-child,
		ol:last-child {
			margin-bottom: 0;
		}
		#content-main {
			ul {
				li {
					list-style: disc;
				}
			}
			ol {
				li {
					list-style: decimal;
				}
			}
			#region-content-sidebar {
				ul {
					li {
						list-style: none;
						margin-left: 10px;
					}
				}
				ol {
					li {
						list-style: none;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

/* Contextual links */
.page.contextual-links-region {
	.contextual-links-wrapper {
		z-index: 99999;
		ul.contextual-links {
			z-index: 99999;
		}
	}
}
