/*------------------------------------------------------------------

[NODES]

General
Basic Page
News Article
Accordions
Borger dk
Agendas

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/

#region-content {
	.node-unpublished {
		background: none;
	}
	.node {
		.field {
			margin-bottom: 1em;
		}
		.field-label {
			margin: $spacing-std 0 $spacing-std/2;
		}
		p {
			a {
				color: $color-blue;
			}
		}
		a {
			color: $color-blue;
		}
		.field-name-field-main-gis-map {
			.field-label:before {
				@include icon-prepare();
				content: "\e00d";	
				margin-right: 0.5em;
			}
		}
		#content-main {
			ul,ol {
				margin-left: 40px;
				li {
					margin-bottom: 0.5em;
				}
			}
		}
	}
}


/*------------------------------------------------------------------
	Basic Page + News Article
-------------------------------------------------------------------*/
#region-content {
	.node-page,
	.node-news-article {
		/* Main Image*/
		.field-name-field-main-image {
			margin-bottom: $spacing-std;
			img {
				width: 100%;
			}
		}
		/* Summary */
		.field-name-field-main-summary {
			margin-bottom: $spacing-std;
			font-size: $font-size-large;
			line-height: $line-height-std;
		}
		/* Fact Box */
		.field-name-field-main-factbox {
			float: right;
			width: 33%;
			background: $bg-node-box;
			padding: $spacing-std/2;
			margin: 0 0 $spacing-std/2 $spacing-std/2;
			@include border-radius(3px);
		}
		.field-body {
			
		}
		/* Node Image Gallery */
		.field-name-field-main-image-gallery {
			margin: $spacing-std*1.5 0;
			.field-items {
				background: $bg-node-box;
				@include border-radius(3px);
				padding: $spacing-std $spacing-std 0;
				overflow: hidden;
				.field-item {
					width: 29%;
					padding: 0 2%;
					float: left;
					margin-bottom: $spacing-std;
					text-align: center;
				}			
			}
			.field-label {
				margin-bottom: 1.25em;
				font-size: 1.08em;
			}
			.field-label:before {			
				@include icon-prepare();
				content: "\e00e";	
				margin-right: 0.5em;
				font-size: 1.5em;
				position: relative;
				top: 0.1em;
			}
		}
	}
}

/*------------------------------------------------------------------
	Accordions
-------------------------------------------------------------------*/	

#region-content {
	.node-page,
	.node-news-article,
	.node-agenda {
		.ui-accordion {
			margin: $spacing-std 0;
			.ui-accordion-header {
				background: #e6e6e6;
				color: $text-color;
				font-size: 1.08em;
				line-height: 1.5em;
				padding: 6px 8px;
				margin: 0 0 5px 0;
				font-weight: bold;
				@include border-radius($border-radius-std);
				> a {
					color: $text-color;
					padding: 0;
					margin: 0;
				}
				> a:hover {
					text-decoration: none;
				}
				> a .field-content:before {
					@include icon-prepare();
					content: "\e00f";	
					margin-right: 0.5em;
				}	
			}
				.ui-accordion-header.ui-state-active {
					background-color: $color-blue;
					a {
						color: white;
					}
				}
			.ui-accordion-content {
				padding: $spacing-std/2 $spacing-std;
				margin: 0;
			}			
		}	
	}
}

/*------------------------------------------------------------------
	Borger dk
-------------------------------------------------------------------*/	

/* Accordion */
#region-content {
	.node-os2web-borger-dk-article {
		.field.field-name-body {
			margin: 2em 0 2em 0;
		}
		.field-name-field-os2web-borger-dk-header {
			margin-bottom: $spacing-std;
			font-size: $font-size-large;
			line-height: $line-height-std;
		}
		.microArticle {
			position: relative;
			h2.mArticle {
				background: #e6e6e6;
				color: $text-color;
				font-size: 1.08em;
				line-height: 1.5em;
				padding: 6px 8px;
				margin: 0 0 5px 0;
				font-weight: bold;
				cursor: pointer;
				@include border-radius($border-radius-std);
			}	
			h2.mArticle:before {
				@include icon-prepare();
				content: "\e00f";	
				margin-right: 0.5em;				
			}
			div.mArticle {
				padding: $spacing-std/2 $spacing-std;
				margin: 0;		
			}
		}
		.microArticle.aktiv {
			h2.mArticle {
				background-color: $color-blue;
				color: #fff;			
			}	
		}	
	}	
}

/*------------------------------------------------------------------
	Agendas
-------------------------------------------------------------------*/	
#region-content {
	.node-agenda {
		.ui-accordion {
			.ui-accordion-content {
				padding: $spacing-std/2 $spacing-std $spacing-std;
				.views-label {
					font-weight: bold;
				}
				ul {
					margin-top: $spacing-std/2;
					margin-bottom: $spacing-std/2;
					li {
						margin: 0;
					}
				}
			}
		}
		.field-label {
			margin: 0;
		}
		table tr td {
			border: 1px solid $text-color;
		}
		img {
			display: none;
		}
	}
}