/*------------------------------------------------------------------

[NODES]

General
Basic Page
News Article
Accordions
Borger dk
Agendas
Calendar
Share nodes

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/

/* Google Docs - Valgstatistik */
.page-node-2525 {
	#region-content {
		.node {
			display:none;
		}
	}
}

#region-content {
	.node-unpublished {
		background: none;
	}
	.node {
		.field {
			margin-bottom: 1em;
		}
		.field-label {
			margin: $spacing-std 0 $spacing-std/2;
		}
		p {
			a {
				color: $color-blue;
			}
		}
		a {
			color: $color-blue;
		}
		.field-name-field-main-gis-map {

			.field-label:before {
				@include icon-prepare();
				content: "\e00d";
				margin-right: 0.5em;
			}

			a {
				display: inline-block;
				margin-top: 10px;
			}
		}
		#content-main {
			ul,ol {
				margin-left: 40px;
				li {
					margin-bottom: 0.5em;
				}
			}
		}
	}
}
.page-node {
	#region-content {
		#block-system-main {
			padding: 0;
			.node {
				padding: $spacing-std;
			}
		}
	}
}
.page-node {
	#region-content {
		#block-system-main {
			padding: 0;
			.node-cloned-page {
				padding: 0;
			}
		}
	}
}

/*------------------------------------------------------------------
	Basic Page + Basic Page Extended + News Article
-------------------------------------------------------------------*/
#region-content {
	.node-page,
	.node-news-article,
	.node-calendar-post,
	.node-offering,
	.node-page-extended {
		/* Main Image*/
		.field-name-field-main-image {
			margin-bottom: $spacing-std;
			img {
				width: 100%;
			}
		}
		/* Summary */
		.field-name-field-main-summary {
			margin-bottom: $spacing-std;
			font-size: $font-size-large;
			line-height: $line-height-std;
		}
		/* Fact Box */
		.field-name-field-main-factbox {
			background: $bg-node-box;
			padding: $spacing-std/2;
			margin: 0 0 $spacing-std 0;
			@include border-radius(3px);
		}

		.field-name-field-main-youtube-link {
			iframe {
				width: 100%;
			}
			.field-item {
				margin-bottom: 20px;
			}
		}
		/* Node Image Gallery */
		.field-name-field-main-image-gallery {
			margin: $spacing-std*1.5 0;
			.field-items {
				background: $bg-node-box;
				@include border-radius(3px);
				padding: $spacing-std $spacing-std 0;
				overflow: hidden;
				.field-item {
					width: 29%;
					padding: 0 2%;
					float: left;
					margin-bottom: $spacing-std;
					text-align: center;
				}
			}
			.field-label {
				margin-bottom: 1.25em;
				font-size: 1.08em;
			}
			.field-label:before {
				@include icon-prepare();
				content: "\e00e";
				margin-right: 0.5em;
				font-size: 1.5em;
				position: relative;
				top: 0.1em;
			}
		}
	}
}

/* Fancybox settings */
.fancybox-title-float-wrap {
	margin-bottom: -55px;
	.child {
		white-space: normal;
	}
}

/* Colorbox */
#colorbox {
  background: white;
  max-height: 365px;
  @include box-shadow(none);
  @include border-radius(0);

	#cboxLoadedContent {
		overflow: hidden !important;
	}
  #cboxContent {
    margin-bottom: 0;
  }
	#gis-map-frame {
		height: 100%;
	}
}
#cboxOverlay {
	background: rgb(102, 102, 102);
}


/*------------------------------------------------------------------
	Basic Page Extended
-------------------------------------------------------------------*/
#region-content {
	.node-page-extended {
		.print-link {
			display: none;
		}
		.field-name-field-main-paragraphs {
			.field:last-child {
				margin: 0;
			}
			> .field-items > .field-item {
				padding: 0 0 20px;
				margin: 0;
				overflow: hidden;
				&:last-child {
					padding: 0;
				}
			}
			/* Reset field margin */
			.field-name-field-main-accordion,
			.field-name-field-main-image-gallery,
			.view-selfservice-items.view-display-id-embedded_ext {
				margin: 0;
				.view-content {
					margin: 0;
				}
			}
			/* Text and Image */
			.field-name-field-sec-txt-img-image {
				float: left;
				width: 40%;
				max-width: 145px;
				margin: 2px 12px 8px 0;
			}
			.field-name-field-sec-txt-img-body {
				.field-item > *:first-child {
					padding-top: 0;
					margin-top: 0;
				}
			}
			/* Text and Video */
			.field-name-field-sec-txt-vid-url {
				float: left;
				width: 40%;
				max-width: 145px;
				margin: 2px 12px 8px 0;
				position: relative;
				.youtube-field-player,
				.cboxElement {
					&:before {
						content: url("/sites/all/themes/rebild/img/youtube-play.png");
						position: absolute;
						top: 50%;
					  left: 50%;
					  margin-left: -25px;
					  margin-top: -19px;
					}
				}
				.field-item > *:first-child {
					padding-top: 0;
					margin-top: 0;
				}
			}
			/* PDF List */
			.view-section-pdf-list {
				.views-row {
					margin-bottom: 13px;
					a {
						color: #e14045;
						text-decoration: none;
						display: block;
						.file-meta {
							color: $text-color;
						}
					}
					a:hover {
						.file-name {
							text-decoration: underline;
						}
					}
					.file-icon {
						float: left;
						font-size: 2.45em;
						color: #e14045;
						margin: 0 5px 0 0;
					}
					.file-meta {
						text-transform: uppercase;
						font-style: italic;
					}
				}
				.views-row-last {
					margin-bottom: 0;
				}
			}
			/* Navigation List */
			.field-name-field-sec-nav-elment {
				> .field-items {
					> .field-item {
						margin-bottom: 15px;
						position: relative;
						min-height: 90px;
						a.nav-link {
							display: block;
							min-height: 80px;
							text-decoration: none;
							color: $text-color;
							@include transition-property(opacity);
							@include transition-duration(250ms);
						}
						a.nav-link:hover {
							@include opacity(0.75);
						}
						.field-name-field-sec-nav-image {
							position: absolute;
							top: 1px;
							left: 0;
							margin-bottom: 0;
							width: 76px;
						}
						h3 {
							font-size: 1.08em;
							padding-top: 0;
							line-height: $line-height-std;
							padding-left: 88px;
							padding-bottom: 0.7em;
							margin: 0;
							font-weight: bold;
						}
						.field-name-field-sec-nav-body {
							padding-left: 88px;
							margin-bottom: 6px;
							word-break: normal;
							word-wrap: normal;
						}
						.read-more {
							display: block;
							padding-left: 88px;
							color: $color-blue;
						}
					}
					> .field-item:last-child {
						margin-bottom: 0;
					}
				}
			}
			/* Accordions */
			.view-selfservice-items-paragraphs {
  			margin-top: 0;
			}
		}
	}
}

/*------------------------------------------------------------------
	Accordions
-------------------------------------------------------------------*/
#region-content {
	.node-page,
	.node-page-extended,
	.node-news-article,
	.node-agenda,
	.node-os2web-borger-dk-article {
		.ui-accordion {
			margin: $spacing-std 0;
			.ui-accordion-header {
				background: #e6e6e6;
				color: $text-color;
				font-size: 1.08em;
				line-height: 1.5em;
				padding: 6px 8px;
				margin: 0 0 5px 0;
				font-weight: bold;
				@include border-radius($border-radius-std);
				> a,
				.field-item {
					color: $text-color;
					padding: 0;
					margin: 0;
				}
				> a:hover,
				.field-item:hover {
					text-decoration: none;
				}
				> a .field-content:before,
				.field-item:before {
					@include icon-prepare();
					content: "\e00f";
					margin-right: 0.5em;
				}
			}
			.ui-accordion-header.ui-state-active {
				background-color: $color-blue;
				a,
				.field-item {
					color: white;
				}
				a .field-content:before,
				.field-item:before {
					@include icon-prepare();
					content: "\e010";
					margin-right: 0.5em;
				}
			}
			.ui-accordion-content {
				padding: $spacing-std/2 $spacing-std $spacing-std;
				margin: 0;

        .field-name-field-accordion-image {
          float: left;
          width: 40%;
          max-width: 145px;
          margin: 2px 12px 8px 0;
        }
			}
		}
	}
	.node-agenda {
		.ui-accordion {
			margin: 0;
		}
	}
}

/*------------------------------------------------------------------
	Borger dk
-------------------------------------------------------------------*/

/* Accordion */
#region-content {
	.node-os2web-borger-dk-article {
		.field.field-name-body {
			margin: 0 0 1em 0;
		}
		.field-name-field-os2web-borger-dk-header {
			margin-bottom: $spacing-std;
			font-size: $font-size-large;
			line-height: $line-height-std;
		}
		.microArticle {
			position: relative;
			h2.mArticle,
			> h3 {
				background: #e6e6e6;
				color: $text-color;
				font-size: 1.08em;
				line-height: 1.5em;
				padding: 6px 8px;
				margin: 0 0 5px 0;
				font-weight: bold;
				cursor: pointer;
				@include border-radius($border-radius-std);
			}
			h2.mArticle:before,
			> h3:before {
				@include icon-prepare();
				content: "\e00f";
				margin-right: 0.5em;
			}
			h2.mArticle.ui-state-active,
			> h3.ui-state-active {
				background-color: $color-blue;
				color: #fff;
				&:before {
					content: "\e010";
				}
			}
			div.mArticle {
				padding: $spacing-std/2 $spacing-std;
				margin: 0;
			}
		}
	}
}

/*------------------------------------------------------------------
	Agendas
-------------------------------------------------------------------*/
#region-content {
	.node-agenda {
		.view-agenda-accordion {
			position: relative;
			.toggle-expand-all {
				text-decoration: none;
				position: absolute;
				top: -26px;
				right: 5px;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.ui-accordion {
			.ui-accordion-content {
				padding: $spacing-std/2 $spacing-std $spacing-std;
				.views-label {
					font-weight: bold;
				}
				ul {
					margin-top: $spacing-std/2;
					margin-bottom: $spacing-std/2;
					li {
						margin: 0;
					}
				}
				p.item-intro {
					line-height: 1.5em;
					position: relative;
					font-style: italic;
					margin-bottom: 1em;
					.area-print-trigger {
						position: absolute;
						top: 0;
						right: 0;
						cursor: pointer;
						color: $color-blue;
						text-decoration: underline;
						padding: 0;
						margin: 0;
						border: none;
						background: none;
						font-size: $font-size-std;
						font-family: $font-family-std;
						font-style: normal;
					}
					.print-agenda-item {
						float: right;
						font-style: normal;
						text-decoration: underline;
					}
				}
				p:last-child {
					margin-bottom: 1.25em;
				}
				h3 {
					font-size: 1.2em;
					line-height: 1.2em;
					padding-top: 0.5em;
					padding-bottom: 0.25em;
				}
				div.item-resume,
				div.item-decision {
					background: #e6e6e6;
					margin: 0 0 10px;
					padding: 10px;
					p:last-child {
						margin-bottom: 0;
					}
				}
				div.item-setting,
				div.item-decision {
					table {
						margin: 0;
						border: none;
						tr {
							border: none;
							td {
								border: none;
							}
						}
					}
				}
			}
		}
		.ui-accordion.closed-item {
			.ui-accordion-content {
				div.bilag {
					display: none;
				}
			}
		}
		.field-label {
			margin: 0;
		}
		table {
			width: 100%;
			max-width: 100%;
			margin: 0 0 1.25em 0;
			tr {
				td {
					padding: 5px;
					border: 1px solid black;
				}
				td.indstillingat {
					width: 1%;
					padding: 0 5px 1.25em 20px;
				}
				td.indstillinglinje {
					width: 99%;
					padding: 0 0 1.25em;
				}
			}
		}
	}
}

#region-content {
	.node-offering {
		.field-name-field-offering-link a {
			display: inline-block;
			color: white;
			text-transform: uppercase;
			font-size: $font-size-std;
			background-color: $color-purple;
			padding: 14px 20px;
			margin-top: $spacing-std;
			@include background-image(linear-gradient($color-purple, #79648c));
			@include border-radius($border-radius-std);
		}
		.field-name-field-offering-link a:after {
			@include icon-prepare();
			content: "\f061";
			color: $color-purple;
			background: white;
			display: inline-block;
			padding: 0.30em 0.40em 0.4em;
			margin: 0 0 0 10px;
			position: relative;
			font-size: 0.75em;
			top: -1px;
			@include border-radius(2px);
		}
	}
}

/*------------------------------------------------------------------
	Calendar
-------------------------------------------------------------------*/
#region-content {
	.node-calendar-post {
		.group-calendar-info {
			padding: 10px;
			margin-bottom: $spacing-std;
			@include grid-box-no-shadow(#e6e6e6);
			.fieldset-legend {
				position: absolute;
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 15px;
			}
			.fieldset-wrapper {
				margin-top: $spacing-std*2;
			}
			.group-calendar-contact {
				margin-bottom: $spacing-std;
				.fieldset-legend {
					position: relative;
					margin-top: 0;
					text-transform: none;
				}
				.fieldset-wrapper {
					margin-top: 0;
				}
				.field {
					margin-bottom: 0;
				}
				.field-name-field-calender-email {
					a {
						color: #474747;
					}
				}

			}
		}
		.field-name-field-calendar-ticket-link {
			a {
				background-image: url('../img/bestil_billet.png');
				background-repeat: no-repeat;
				height: 43px;
				width: 213px;
				text-indent: -999em;
				display: block;

			}
		}
	}
}

/*------------------------------------------------------------------
	Cloned page
-------------------------------------------------------------------*/
#region-content {
	.field-name-field-cloned-page {
		#region-content-sidebar {
			ul {
				margin-left: 0;
			}
		}
	}
}
/*------------------------------------------------------------------
	Share node
-------------------------------------------------------------------*/
#region-content {
	.node-share {
		background: #f6f6f6;
		border-radius: 0 0 3px 3px;
		float: left;
		width: 100%;
		padding-bottom: 5px;
		padding-top: 5px;
		position: relative;
		.share_wrapper {
			padding: 5px 20px 5px 20px;
			.share_this {
				margin-bottom: 10px;
			}
			.facebook-share {
				#u_0_6 {
					display: none;
				}
			}
			.email-share {
				.print_mail {
					margin-left: 0;
					a {
						display: block;
						background: url('../img/send_email.png');
						background-repeat: no-repeat;
						width: 105px;
						height: 20px;
						text-indent: -999em;
					}
				}
			}
			.to_the_top {
				position: absolute;
				top: 10px;
				right: 20px;
				.go-top {
					color: $text-color-footer;
					font-size: 0.8em;
					font-style: italic;
				}
				.go-top:after {
					@include icon-prepare();
					font-style: normal;
					margin-left: 5px;
					content: "\e014";
				}
			}
		}

	}
}
/*------------------------------------------------------------------
	Kontakt sidebar
-------------------------------------------------------------------*/
#region-content-sidebar {
	#kontaktlink,
	#contact-block {
		display: inline-block;
		color: white;
		text-transform: uppercase;
		font-size: $font-size-std;
		text-align: center;
		width: 100%;
		line-height: 1.35em;
		background-color: $color-purple;
		padding: 14px 20px;
		@include box-sizing(border-box);
		@include background-image(linear-gradient($color-purple, #79648c));
		@include border-radius($border-radius-std);
		&:hover {
			text-decoration: none;
		}
	}
	#kontaktdiv,
	#contact-block-content {
		display: none;
	}
}
.fancybox-skin {
	background: #fff;
}
#fancybox-outer {
	border-radius: 3px;
}
#fancybox-wrap {
	width: 100%;
}
#fancybox-inner {
	#kontaktdiv,
	#contact-block-content {
		padding: 20px;
		overflow: hidden;
		line-height: $line-height-std;
		font-size: $font-size-std;
		a {
			color: $color-blue;
		}
		.field {
			margin-bottom: 10px;
		}
		.field-name-field-con-center {
			font-weight: bold;
			font-size: 1.5em;
			margin-bottom: 5px;
		}
		.field-name-field-con-name {
			font-weight: bold;
			margin-bottom: 0;
		}
	}
}

/*------------------------------------------------------------------
	Page Extended
-------------------------------------------------------------------*/
.paragraphs-items-field-main-paragraphs {
	.field-collection-container {
		border-bottom: 0;
		margin-bottom: 0;
		.field-items {
			.field-item {
				margin-bottom: 0;
				.field-collection-view {
					padding: 0;
					margin: 0;
					border-bottom: 0;
				}
			}
		}
	}
}
.player {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}
.player iframe,
.player embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#cboxContent .player {
	position: inherit;
}

/*------------------------------------------------------------------
	Jobs
-------------------------------------------------------------------*/
#region-content {
	.node-job {

    .field-name-field-job-app-url {
      margin: 2em 0 2em;
      a {
        display: inline-block;
        color: white;
        text-transform: uppercase;
        font-size: $font-size-std;
        line-height: 1.35em;
        background-color: $color-purple;
        padding: 14px 20px;
        @include background-image(linear-gradient($color-purple, #79648c));
        @include border-radius($border-radius-std);
      }
      a:after {
        @include icon-prepare();
        content: "\f061";
        color: $color-purple;
        background: white;
        display: inline-block;
        padding: 0.4em 0.4em;
        margin: 0 0 0 10px;
        position: relative;
        font-size: 0.75em;
        @include border-radius(2px);
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}
