/*------------------------------------------------------------------

[VIEWS]

-------------------------------------------------------------------*/

/* Aktuelt i Rebild kommune */
.view-id-rebild_frontpage {
	.views-row {
		margin: 0 0 $spacing-std 0;
		position: relative;
		@include grid-box(white);
		.featured-image {
			img {
				width: 100%;
				@include border-radius(3px 3px 0 0);
			}
		}
		.featured-title {
			padding: $spacing-std $spacing-std 0;
			font-size: $font-size-large;
			line-height: $line-height-std;
			a {
				color: $text-color;
				text-decoration: none;
			}
		}
		.featured-summary {
			padding: $spacing-std/2 $spacing-std $spacing-std*2.4;
		}
		.featured-date {
			padding: $spacing-std/2 0;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background: $bg-color-alt;
			font-size: $font-size-small;
			font-style: italic;
			@include border-radius(0 0 3px 3px);
			span {
				position: relative; left: $spacing-std;
			}
		}
	}
}
/* Calendar - frontpage */
.view-id-calendar_frontpage {	
	.rebild-calendar {
		min-height:60px;
		margin: 0 0 $spacing-std 0; 			
		.calendar_left {
			width: 60px;
			float: left;
			margin: 0 $spacing-std 0 0;
			text-align: center;
			@include grid-box(white);
			padding: 0 0 3px 0;
			.calendar_day {
				font-size: 0.8em;
				line-height: $line-height-std;
				background: $color-blue;
				color: white;
				margin: 0 0 $spacing-std/4;		
				padding: 0.2em 0.5em;
				@include text-shadow(none);
				@include border-radius(3px 3px 0 0);				
			}
			.calendar_date {
				font-size: 1.25em;
			}
			.calendar_month {
				text-transform: uppercase;
				font-size: 0.7em;
			}			
		}
		.calendar_right {
			float: left;
			max-width: 260px;
			.calendar_section {
				text-transform: uppercase;
			}
			.calendar_title {
				a {
					color: $text-color;
					text-decoration: none;
					
				}
			}
		}
	}
}

/**
 * NEWS ARTICLES
 */

/* News Articles - Frontpage/Landing pages */
#block-views-news-articles-block,
#block-views-news-articles-block-1,
#block-views-news-articles-block-2,
#block-views-news-articles-block-3,
#block-views-news-articles-block-4 {
	.view {
	@include box-shadow(rgba(black, 0.15) 0 0 3px);		
	}
	.view-header {
		img {
			width: 100%;
			@include border-radius(3px 3px 0 0);
		}
	}
	.view-content {
		padding: 0 $spacing-std/2 $spacing-std/2;
		background-color: $bg-news-block;
		line-height: $line-height-std;
		@include border-radius(0 0 3px 3px);
	}
	.views-row {
		position: relative;
		padding: 1em;
		.news-date {
			font-style: italic;
			font-size: $font-size-small;
			margin-bottom: 3px;
			height: $line-height-std;
		}
		.news-title {
			height: $line-height-std;
			a {
				color: $text-color;
				text-decoration: none;
			}
		}
	}
	.views-row:after {
		font-style: normal;
		font-size: 1.33em;
		position: absolute; 
		right: 3%;
		top: 33%;
		@include icon-prepare();
		content: "\e001";		
	}
	.views-row-first { 
		padding: $spacing-std $spacing-std/2; 
		.news-title {
			font-weight: bold;
		}
	}
	.views-row-first:after {
		top: 40%;
	}
	.views-row-even { background-color: white; }
}

/* News Overview */
.view-id-news_articles.view-display-id-page_1 {
  .views-row {
    padding-bottom: $spacing-std;
    margin-bottom: $spacing-std;
    border-bottom: 1px dotted $text-color;
    overflow: hidden;
    .news-title {
      font-weight: bold;
      margin-bottom: $spacing-std/1.5;
      font-size: 1.08em;
      a {
        color: $text-color;
      }
    }
    .news-image {
      margin: 0 $spacing-std/2 $spacing-std/1.5 0;
      float: left;
      max-width: 40%;
    }
    .news-date {
      margin-bottom: $spacing-std/2;
    }
    .news-summary {
      
    }
  }
}

/**
 * SELF SERVICE ACCORDION
 */
 
/* Display navigation */
#quicktabs-self_service_views ul.quicktabs-tabs {
	font-size: $font-size-small;
	margin: $spacing-std 0 $spacing-std 0 !important;
	padding: 0;
	li {
		margin: 0;
		a {
			text-transform: uppercase;
			font-weight: bold;
			color: $text-color;
		}
	}
	li.active {
		a {
			color: $bg-color-selfservice;
		}
	}
	li.first {
		border-right: 1px solid $text-color;
		margin: 0 5px 0 0;
		padding: 0 5px 0 0;
	}
}
/* Level 1 */
#region-content {
	.view-selfservice-items.view-display-id-emner {
		.view-grouping {
			margin-bottom: 6px;
			> .ui-accordion-header {
				background: $bg-color-selfservice;
				color: white;
				font-size: 1.25em;
				padding: 8px 6px;
				font-weight: bold;
				@include border-radius($border-radius-std);
			}
				> .ui-accordion-header:before {
					@include icon-prepare();
					content: "\e00f";	
					margin-right: 0.5em;
				}
			> .ui-accordion-header.ui-state-active {
				background: #a3a3a3;
				color: $text-color;
			}
			> .ui-accordion-header.ui-state-active:before {
				@include icon-prepare();
				content: "\e010";	
				margin-right: 0.5em;			
			}
		}
	}
}
/* Level 2 */
#region-content {
	.view-selfservice-items.view-display-id-alfabetisk,
	.view-selfservice-items.view-display-id-emner,
	.view-selfservice-items.view-display-id-embedded {
		.view-grouping-content,
		.view-content {
			padding: 0;
			margin: 6px 0 0 0;
			> h3 {
				color: $text-color;
				padding: 8px 18px;
				margin: 0 0 5px 0;		
			}
				>h3:before {
					@include icon-prepare();
					content: "\e00f";	
					margin-right: 0.5em;
				}
			> h3.ui-state-active {
				background: white;
			}
				>h3.ui-state-active:before {
					@include icon-prepare();
					content: "\e010";	
					margin-right: 0.5em;
				}
			.accordion-content-level-2 {
				padding: 0 50px $spacing-std;
				margin: 0;
				top: 0;
				border: none;
				.views-field-field-self-service-link a,
				.views-field-link a {
					display: inline-block;
					color: white;
					text-transform: uppercase;
					font-size: $font-size-std;
					background-color: $color-purple;
					padding: 14px 20px;
					@include background-image(linear-gradient($color-purple, #79648c));
					@include border-radius($border-radius-std);			
				}
				.views-field-field-self-service-link a:after,
				.views-field-link a:after {
					@include icon-prepare();
					content: "\f061";	
					color: $color-purple;
					background: white;
					display: inline-block;
					padding: 0.30em 0.40em 0.4em;
					margin: 0 0 0 10px;
					position: relative;
					font-size: 0.75em;
					top: -1px;
					@include border-radius(2px);
				}
				.views-field-field-main-body {
					a {
						color: $color-green;
					}	
					ul {
						margin-left: 40px;
						margin-bottom: 1em;
						li {
							margin-bottom: 0.5em;
						}
					}
				}
				.views-field-field-self-service-link a:hover {
					text-decoration: none;
				}
				.views-field-description {
					border-top: 1px dotted $text-color;
					padding-top: 1em;
					font-size: $font-size-small;
				}
			}
		}
	}
}
/* Alphabetical list */
#region-content {
	.view-selfservice-items.view-display-id-alfabetisk {
		.view-content {
			> h3 {
				padding: 8px;
			}	
		}
	}
}
/* Embedded accordion */
#region-content {
	.view-selfservice-items.view-display-id-embedded {
		margin: 30px 0 0 0;
		h2.title {
			font-size: 1.08em;
			margin: 20px 0 10px;
		}
		.view-content {
			> h3 {
				background: $color-green;
				color: white;
				padding: 6px 8px;
			}
			> h3.ui-state-active {
				background: #a3a3a3;
				color: $text-color;
			}
			.accordion-content-level-2 {
				padding: $spacing-std/2 $spacing-std $spacing-std;
			}
		}
	}	
}

/**
 * AGENDAS
 */
#region-content {
	.view-agenda-overview {
		.view-filters {
			margin: $spacing-std 0;
			label {
				margin: 0 0 10px 0;
			}
			.views-exposed-widget {
				select {
					margin: 0;
					padding: 0;
				}
				.customSelect {
					border: 1px solid #dbdbdb;
				}
				.form-submit {
					background: $color-blue;
					border: none;
					margin: 24px 0 0 0;
				}
			}
		}
		h3 {
			text-transform: capitalize;
			margin-top: $spacing-std;
			margin-bottom: 0.5em;
		}
		.views-row {
			margin-bottom: 0.5em;
			a { color: $color-blue; }
		}
	}
}

/**
 * SEARCH RESULTS
 */
#search-results-page {
  h2 {
    padding-bottom: 1em;
  }
  .search-result {
    padding: 15px 10px;
    margin: 0;
    h2 {
      
    }
    h3 {
      margin: 0 0 10px 0;
      a {
        color: $color-blue;
      }
    }
    .search-date {
      font-size: $font-size-small;
      margin: 0 0 10px;
    }
    .search-text {
     line-height: 1.25em; 
    }
  }
  .odd {
    background: $bg-color-alt;
  }
  ul.pager {
    margin: $spacing-std 0;
  }
}

/**
 * OFFERINGS
 */
#region-content {
	.view-offerings {
		h2 {
			margin: $spacing-std 0;
		}
		.views-row {
			margin-bottom: $spacing-std;
		}
	}
}