/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
/*------------------------------------------------------------------

[BASE] 

-------------------------------------------------------------------*/
/* Compass */
/* Modules */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

Blocks
Backend

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Backend
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[ALPHA-DEFAULT-NARROW]

General
Menus
Frontpage
Landingpage

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
/* line 22, ../sass/rebild-alpha-default-normal.scss */
#page header, #page section, #page footer {
  font-size: 12px;
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/
/* Main Menu - (Mega Menu) */
/* line 35, ../sass/rebild-alpha-default-normal.scss */
#region-menu ul.ultimenu > li {
  padding: 0 19px;
}

/* line 40, ../sass/rebild-alpha-default-normal.scss */
.ultimenu-flyout {
  width: 940px;
  left: -240px;
}

/*------------------------------------------------------------------
	Frontpage
-------------------------------------------------------------------*/
/* line 50, ../sass/rebild-alpha-default-normal.scss */
.front #region-header-first .block {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 25px 0 20px 0;
  background-position: 480px -110px;
}
/* line 58, ../sass/rebild-alpha-default-normal.scss */
.front #region-content .view .views-row {
  height: 361px;
  margin-bottom: 20px;
}
/* line 65, ../sass/rebild-alpha-default-normal.scss */
.front #region-sidebar-first .block {
  margin-bottom: 20px;
}
/* line 68, ../sass/rebild-alpha-default-normal.scss */
.front #region-sidebar-first .block-views {
  height: 530px;
}
/* line 71, ../sass/rebild-alpha-default-normal.scss */
.front #region-sidebar-first .block-block {
  height: 190px;
}
/* line 77, ../sass/rebild-alpha-default-normal.scss */
.front #region-postscript-first .block .content {
  height: 123px;
}
/* line 84, ../sass/rebild-alpha-default-normal.scss */
.front #region-postscript-second .block .content {
  height: 123px;
}

/*------------------------------------------------------------------
  Landingpage
-------------------------------------------------------------------*/
/* Aktuelt */
/* line 102, ../sass/rebild-alpha-default-normal.scss */
.not-front .view-id-rebild_frontpage .views-row {
  height: 361px;
  width: 310px;
}

/*------------------------------------------------------------------
  Blocks
-------------------------------------------------------------------*/
/* Calendar - sidebar */
/* line 116, ../sass/rebild-alpha-default-normal.scss */
.view-id-calendar_sidebar .view-content .rebild-calendar .calendar_right {
  max-width: 160px;
}

/* WCAG */
/* line 124, ../sass/rebild-alpha-default-normal.scss */
.wcag-block {
  font-size: 1em;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

/* Search Autocomplete */
/* line 132, ../sass/rebild-alpha-default-normal.scss */
.not-front .ac_results {
  display: inherit;
  width: 464px !important;
}

/* Share buttons */
/* line 142, ../sass/rebild-alpha-default-normal.scss */
#region-content .node-share .share_wrapper .share_this {
  margin-right: 15px;
  margin-bottom: 2px;
}

/* 5 shortcuts - frontpage */
/* line 155, ../sass/rebild-alpha-default-normal.scss */
#region-postscript-first .block-block .content ul li {
  margin-bottom: 1.1em;
}
