/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/*------------------------------------------------------------------

[BASE] 

-------------------------------------------------------------------*/
/* Compass */
/* Modules */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

Blocks
Backend

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Backend
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[ALPHA-DEFAULT-NARROW]

General
Menus
Frontpage

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
/* line 21, ../sass/rebild-alpha-default-narrow.scss */
body {
  font-size: 11px;
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/
/* Main Menu - (Mega Menu) */
/* line 32, ../sass/rebild-alpha-default-narrow.scss */
#region-menu ul.ultimenu > li {
  margin: 0 0 0 35px;
}

/* line 38, ../sass/rebild-alpha-default-narrow.scss */
.ultimenu-flyout {
  width: 700px;
  left: -180px;
}

/*------------------------------------------------------------------
	Frontpage
-------------------------------------------------------------------*/
/* line 48, ../sass/rebild-alpha-default-narrow.scss */
.front #region-header-first .block {
  background-position: 250px -110px;
}
/* line 54, ../sass/rebild-alpha-default-narrow.scss */
.front #region-content .view .views-row {
  height: 338px;
  margin-bottom: 20px;
}
/* line 61, ../sass/rebild-alpha-default-narrow.scss */
.front #region-sidebar-first .block {
  margin-bottom: 20px;
}
/* line 64, ../sass/rebild-alpha-default-narrow.scss */
.front #region-sidebar-first .block-views {
  height: 463px;
}
/* line 70, ../sass/rebild-alpha-default-narrow.scss */
.front #region-sidebar-first .block-block {
  height: 210px;
}
/* line 76, ../sass/rebild-alpha-default-narrow.scss */
.front #region-postscript-first .block .content {
  height: 190px;
}
/* line 83, ../sass/rebild-alpha-default-narrow.scss */
.front #region-postscript-second .block .content {
  height: 190px;
}
/* line 86, ../sass/rebild-alpha-default-narrow.scss */
.front #region-postscript-second .block .content .view-calendar-frontpage .calendar_right {
  width: 120px;
}
