/* This file will hold styles that are loaded using the same media query as the wide grid. */
/*------------------------------------------------------------------

[BASE] 

-------------------------------------------------------------------*/
/* Compass */
/* Modules */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

Blocks

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[ALPHA-DEFAULT-NARROW]

General
Menus
Frontpage

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
/* line 18, ../sass/rebild-alpha-default-wide.scss */
body {
  font-size: 13px;
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/
/* Main Menu - (Mega Menu) */
/* line 29, ../sass/rebild-alpha-default-wide.scss */
#region-menu ul.ultimenu > li {
  margin: 0 0 0 35px;
}

/* line 34, ../sass/rebild-alpha-default-wide.scss */
.ultimenu-flyout {
  width: 1200px;
  left: -300px;
}

/*------------------------------------------------------------------
	Frontpage
-------------------------------------------------------------------*/
/* line 45, ../sass/rebild-alpha-default-wide.scss */
.front #region-content .view .views-row {
  height: 410px;
  margin-bottom: 20px;
}
/* line 52, ../sass/rebild-alpha-default-wide.scss */
.front #region-sidebar-first .block {
  margin-bottom: 20px;
}
/* line 55, ../sass/rebild-alpha-default-wide.scss */
.front #region-sidebar-first .block-views {
  height: 595px;
}
/* line 58, ../sass/rebild-alpha-default-wide.scss */
.front #region-sidebar-first .block-block {
  height: 225px;
}
/* line 64, ../sass/rebild-alpha-default-wide.scss */
.front #region-postscript-first .block .content {
  height: 150px;
}
/* line 71, ../sass/rebild-alpha-default-wide.scss */
.front #region-postscript-second .block .content {
  height: 150px;
}
