/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/*------------------------------------------------------------------

[BASE] 

-------------------------------------------------------------------*/
/* Compass */
/* Modules */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

Blocks
Backend

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Backend
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[ALPHA-DEFAULT]

General
Sections
Regions
Zones
Menus
Views
Blocks
Blocks specific
Nodes

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
/* line 24, ../sass/rebild-alpha-default.scss */
#logo {
  display: block;
}

/*------------------------------------------------------------------
	Sections
-------------------------------------------------------------------*/
/* line 33, ../sass/rebild-alpha-default.scss */
.front #section-content {
  padding: 40px 0 20px;
}

/*------------------------------------------------------------------
	Regions
-------------------------------------------------------------------*/
/* line 42, ../sass/rebild-alpha-default.scss */
.not-front #region-sidebar-first {
  text-align: left;
  margin-top: -35px;
}

/* Hide mobile regions */
/* line 49, ../sass/rebild-alpha-default.scss */
#region-user-second,
#region-mobile-menu {
  display: none;
}

/* Expose hidden regions */
/* line 58, ../sass/rebild-alpha-default.scss */
#region-user-first,
#region-footer-second,
#region-footer-third,
#region-footer-fourth,
#region-footer-fifth {
  display: block;
}

/* line 61, ../sass/rebild-alpha-default.scss */
#region-user-first {
  float: right;
}

/*------------------------------------------------------------------
	Zones
-------------------------------------------------------------------*/
/* line 68, ../sass/rebild-alpha-default.scss */
#zone-menu-wrapper {
  padding: 14px 0 0;
}

/* line 71, ../sass/rebild-alpha-default.scss */
#zone-header-wrapper {
  background: #68a386;
}

/* line 74, ../sass/rebild-alpha-default.scss */
#zone-preface-wrapper {
  display: block;
}

/* line 77, ../sass/rebild-alpha-default.scss */
#zone-postscript-wrapper {
  padding: 20px 0 0 0;
}

/* line 80, ../sass/rebild-alpha-default.scss */
#zone-footer-wrapper {
  padding: 10px 0;
}
/* line 82, ../sass/rebild-alpha-default.scss */
#zone-footer-wrapper #zone-footer {
  padding: 40px 0;
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/
/* Main Menu - Level 1+2 */
/* line 93, ../sass/rebild-alpha-default.scss */
#region-menu ul.ultimenu {
  margin-top: 28px;
  width: 100%;
  display: block;
}
/* line 97, ../sass/rebild-alpha-default.scss */
#region-menu ul.ultimenu > li {
  float: left;
  list-style: none;
  padding: 0 19px;
}
/* line 101, ../sass/rebild-alpha-default.scss */
#region-menu ul.ultimenu > li > a {
  color: #474747;
  text-decoration: none;
  font-size: 1.33em;
  text-transform: uppercase;
  display: inline-block;
  height: 44px;
}
/* line 110, ../sass/rebild-alpha-default.scss */
#region-menu ul.ultimenu > li a.active,
#region-menu ul.ultimenu > li a.active-trail {
  color: #68a386;
}
/* line 115, ../sass/rebild-alpha-default.scss */
#region-menu ul.ultimenu > li.hover > a {
  color: #888888;
}
/* line 119, ../sass/rebild-alpha-default.scss */
#region-menu ul.ultimenu > li.last > a {
  position: relative;
}
/* line 122, ../sass/rebild-alpha-default.scss */
#region-menu ul.ultimenu > li.last > a:after {
  font-family: 'Rebild';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e600";
  color: #f04f0f;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2.25em;
}

/* Sub Menu*/
/* line 146, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout {
  width: 1200px;
  left: -240px;
}
/* line 149, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout > div {
  overflow: hidden;
}

/* line 153, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout {
  overflow: hidden;
  font-size: 1em;
  background-color: white;
  color: #474747;
  font-size: 1em;
  line-height: 1.15em;
  /* Search Block*/
  /* Menu Block */
}
/* line 161, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block {
  width: 33%;
  float: right;
  position: relative;
  z-index: 2;
  background-color: #f6f6f6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 20px;
  min-height: 180px;
}
/* line 169, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block .block-title {
  font-size: 1.33333em;
  font-weight: normal;
  margin-bottom: 10px;
}
/* line 174, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block .block-inner {
  padding: 20px;
}
/* line 176, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block .block-inner p {
  margin-bottom: 10px;
}
/* line 182, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block-menu-block {
  width: 67%;
  float: left;
  position: relative;
  z-index: 1;
  background: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 189, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block-menu-block .block-inner {
  padding-bottom: 10px;
}
/* line 192, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block-menu-block li {
  float: left;
  width: 30%;
  padding-right: 3%;
  font-size: 0.91667em;
  line-height: 1.2em;
  height: 2.75em;
  position: relative;
}
/* line 200, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block-menu-block li a {
  color: #6b6b6b;
  text-decoration: none;
  padding-left: 10px;
  display: block;
}
/* line 207, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block-menu-block li a:hover,
.ultimenu-flyout .block-menu-block li a.active {
  text-decoration: underline;
}
/* line 210, ../sass/rebild-alpha-default.scss */
.ultimenu-flyout .block-menu-block li span {
  color: #474747;
  font-size: 0.91667em;
  height: 2.75em;
  position: absolute;
  top: 2px;
  left: 0;
}

/* Main Menu - Level 3 */
/* line 225, ../sass/rebild-alpha-default.scss */
#region-content .block-menu-block ul li {
  width: 30%;
  padding-right: 3%;
}

/* line 233, ../sass/rebild-alpha-default.scss */
#breadcrumb {
  margin-bottom: 40px;
}

/* Secondary Menu */
/* line 240, ../sass/rebild-alpha-default.scss */
#region-user-first .menu-block-wrapper > ul.menu {
  float: right;
}
/* line 242, ../sass/rebild-alpha-default.scss */
#region-user-first .menu-block-wrapper > ul.menu li {
  float: left;
  list-style: none;
  font-size: 0.91667em;
  margin: 0 0 0 5px;
}
/* line 247, ../sass/rebild-alpha-default.scss */
#region-user-first .menu-block-wrapper > ul.menu li a {
  color: #6b6b6b;
  background: #f9f9f9;
  text-decoration: none;
  display: inline-block;
  padding: 8px 4px;
}

/* line 259, ../sass/rebild-alpha-default.scss */
#region-user-menu-first .block-politik-user-menu {
  margin: 8px 30px 0 0;
}
/* line 261, ../sass/rebild-alpha-default.scss */
#region-user-menu-first .block-politik-user-menu p, #region-user-menu-first .block-politik-user-menu a {
  color: #6b6b6b;
  text-align: left;
}

/*------------------------------------------------------------------
	Views
-------------------------------------------------------------------*/
/* Frontpage */
/* line 274, ../sass/rebild-alpha-default.scss */
.view-id-rebild_frontpage .views-row {
  float: left;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px;
}
/* line 277, ../sass/rebild-alpha-default.scss */
.view-id-rebild_frontpage .views-row .views-field-field-image img {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  height: auto;
}
/* line 281, ../sass/rebild-alpha-default.scss */
.view-id-rebild_frontpage .views-row .views-field-title {
  padding: 20px 20px 0;
  font-size: 1.33333em;
  line-height: 1.15em;
}
/* line 285, ../sass/rebild-alpha-default.scss */
.view-id-rebild_frontpage .views-row .views-field-title a {
  color: #474747;
  text-decoration: none;
}
/* line 290, ../sass/rebild-alpha-default.scss */
.view-id-rebild_frontpage .views-row .views-field-body {
  padding: 10px 20px 20px;
}
/* line 294, ../sass/rebild-alpha-default.scss */
.view-id-rebild_frontpage .views-row-odd {
  margin: 0 10px 20px 0;
}
/* line 297, ../sass/rebild-alpha-default.scss */
.view-id-rebild_frontpage .views-row-even {
  margin: 0 0 20px 10px;
}

/* News Articles - Views Block */
/* line 304, ../sass/rebild-alpha-default.scss */
#block-views-news-articles-block .view-header {
  display: block;
}

/* Calendar - frontpage */
/* line 310, ../sass/rebild-alpha-default.scss */
#block-views-calendar-frontpage-block .block-title {
  margin-bottom: 0;
}

/* line 315, ../sass/rebild-alpha-default.scss */
.view-id-calendar_frontpage .rebild-calendar {
  float: left;
  width: 50%;
  margin: 0;
}
/* line 322, ../sass/rebild-alpha-default.scss */
.view-id-calendar_frontpage .post1, .view-id-calendar_frontpage .post2 {
  margin: 0 0 20px 0;
}
/* line 325, ../sass/rebild-alpha-default.scss */
.view-id-calendar_frontpage .calendar_view_all {
  position: absolute;
  top: 0;
  text-transform: uppercase;
  right: 0;
  left: auto;
  padding-top: 2px;
}

/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/* Zone: Footer */
/* line 342, ../sass/rebild-alpha-default.scss */
#zone-footer .block {
  margin-bottom: 0;
}

/*------------------------------------------------------------------
	Blocks - Specific
-------------------------------------------------------------------*/
/* Selfservice block - frontpage */
/* line 353, ../sass/rebild-alpha-default.scss */
#region-header-first .block {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 25px 0 20px 0;
  margin-top: 0;
}
/* line 357, ../sass/rebild-alpha-default.scss */
#region-header-first .block .jump-left, #region-header-first .block .jump-right {
  width: 33%;
  display: inline-block;
}
/* line 361, ../sass/rebild-alpha-default.scss */
#region-header-first .block .jump-left {
  text-align: right;
}
/* line 364, ../sass/rebild-alpha-default.scss */
#region-header-first .block .jump-right {
  text-align: left;
}
/* line 367, ../sass/rebild-alpha-default.scss */
#region-header-first .block p.separator {
  display: inline-block;
}

/* Search block - search page */
/* line 375, ../sass/rebild-alpha-default.scss */
#block-ci-search-ci-search-results .sf-wrapper {
  padding: 10px;
}
/* line 378, ../sass/rebild-alpha-default.scss */
#block-ci-search-ci-search-results .form-type-textfield:before {
  font-size: 1.6em;
  top: 1em;
}
/* line 384, ../sass/rebild-alpha-default.scss */
#block-ci-search-ci-search-results input[type=search],
#block-ci-search-ci-search-results input[type=text] {
  font-size: 1em;
  height: 4.8em;
  padding: 1.05em 1em 1.05em 4em;
}
/* line 389, ../sass/rebild-alpha-default.scss */
#block-ci-search-ci-search-results input[type=submit] {
  font-size: 1.53846em;
  top: 10px;
  right: 10px;
}

/* Search block - frontpage */
/* line 398, ../sass/rebild-alpha-default.scss */
#region-header-second .block {
  font-size: 13px;
  margin-bottom: 40px;
}
/* line 401, ../sass/rebild-alpha-default.scss */
#region-header-second .block form {
  margin: 0 auto 1.7em;
}
/* line 403, ../sass/rebild-alpha-default.scss */
#region-header-second .block form .sf-wrapper {
  max-width: 680px;
}

/* Search block - Inside mega menu */
/* line 412, ../sass/rebild-alpha-default.scss */
.ultimenu p.small-text {
  font-size: 0.91667em;
  line-height: 1.4em;
  color: #6b6b6b;
  border-top: 1px dotted #6b6b6b;
  padding-top: 10px;
  margin-bottom: 0 !important;
}
/* line 419, ../sass/rebild-alpha-default.scss */
.ultimenu p.small-text a {
  color: #6b6b6b;
  margin: 0 10px 0 0;
}
/* line 424, ../sass/rebild-alpha-default.scss */
.ultimenu p {
  font-size: 0.91667em;
}
/* line 428, ../sass/rebild-alpha-default.scss */
.ultimenu form .form-item, .ultimenu form .form-actions {
  margin: 0;
}
/* line 431, ../sass/rebild-alpha-default.scss */
.ultimenu form .form-wrap {
  background: #e0e0e0;
  padding: 6px;
  margin-bottom: 10px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 438, ../sass/rebild-alpha-default.scss */
.ultimenu form .form-wrap input[type=search],
.ultimenu form .form-wrap input[type=text] {
  font-size: 0.91667em;
}
/* line 441, ../sass/rebild-alpha-default.scss */
.ultimenu form .form-wrap input[type=submit] {
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 0.91667em;
}

/* Footer - Contact information */
/* line 453, ../sass/rebild-alpha-default.scss */
#region-footer-first .block {
  text-align: left;
}
/* line 456, ../sass/rebild-alpha-default.scss */
#region-footer-first .block .content table {
  margin: 0 0 10px;
  text-align: left;
}

/* Cookie Popup*/
/* line 467, ../sass/rebild-alpha-default.scss */
#sliding-popup .popup-content #popup-text {
  width: 670px;
  max-width: 50%;
  text-align: left;
}
/* line 472, ../sass/rebild-alpha-default.scss */
#sliding-popup .popup-content #popup-buttons {
  max-width: 50%;
  float: right;
}

/* line 479, ../sass/rebild-alpha-default.scss */
#block-ci-search-ci-search-header {
  display: block;
}

/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/
/* line 488, ../sass/rebild-alpha-default.scss */
.node #content-main.has-sidebar {
  border-right: 1px dotted #474747;
  width: 70%;
  padding-right: 3%;
  float: left;
}
/* line 494, ../sass/rebild-alpha-default.scss */
.node #region-content-sidebar {
  float: right;
  width: 23%;
  padding-left: 3%;
  margin-top: 0;
}

/* Fancybox */
/* line 502, ../sass/rebild-alpha-default.scss */
.fancybox-outer {
  margin-bottom: 20px;
}

/* line 506, ../sass/rebild-alpha-default.scss */
.fancybox-title-float-wrap {
  margin-bottom: -45px;
  position: relative;
}

/* Page & News Articles */
/* line 513, ../sass/rebild-alpha-default.scss */
#region-content .node-page,
#region-content .node-news-article {
  /* Node Image Gallery */
  /* Fact Box */
}
/* line 517, ../sass/rebild-alpha-default.scss */
#region-content .node-page .field-name-field-main-image-gallery .field-items .field-item,
#region-content .node-news-article .field-name-field-main-image-gallery .field-items .field-item {
  width: 21%;
  padding: 0 2%;
  float: left;
  margin-bottom: 20px;
  text-align: center;
}
/* line 527, ../sass/rebild-alpha-default.scss */
#region-content .node-page .field-name-field-main-factbox,
#region-content .node-news-article .field-name-field-main-factbox {
  float: right;
  width: 33%;
  margin: 0 0 10px 10px;
}
