/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/*------------------------------------------------------------------

[BASE] 

-------------------------------------------------------------------*/
/* Compass */
/* Modules */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

Blocks
Backend

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Input
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Backend
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[ALPHA-DEFAULT-NARROW]

General
Menus
Frontpage
Landingpage

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
/* line 23, ../sass/rebild-alpha-default-narrow.scss */
#page header, #page section, #page footer {
  font-size: 11px;
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/
/* line 32, ../sass/rebild-alpha-default-narrow.scss */
.region-branding {
  position: relative;
}

/* line 35, ../sass/rebild-alpha-default-narrow.scss */
.sticky-wrapper {
  height: 113px;
}

/* line 39, ../sass/rebild-alpha-default-narrow.scss */
.logo-img img {
  height: 57px;
  opacity: 1;
  margin-top: 0;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-property: height, margin-top;
  -o-transition-property: height, margin-top;
  -webkit-transition-property: height, margin-top;
  transition-property: height, margin-top;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

/* line 48, ../sass/rebild-alpha-default-narrow.scss */
#section-header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.25s ease-in-out, height 0.25s ease-in-out;
}

/* line 54, ../sass/rebild-alpha-default-narrow.scss */
#section-header.stuck {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: white;
  top: -40px;
}
/* line 62, ../sass/rebild-alpha-default-narrow.scss */
#section-header.stuck .region-branding .region-inner {
  top: 10px;
}
/* line 67, ../sass/rebild-alpha-default-narrow.scss */
#section-header.stuck .logo-img img {
  margin-top: 13px;
  height: 45px;
}

/* line 74, ../sass/rebild-alpha-default-narrow.scss */
.front .sticky-wrapper {
  background: #68a386;
}

/* Main Menu - (Mega Menu) */
/* line 82, ../sass/rebild-alpha-default-narrow.scss */
#region-menu ul.ultimenu > li {
  padding: 0 12px;
}
/* line 85, ../sass/rebild-alpha-default-narrow.scss */
#region-menu ul.ultimenu > li.last > a:after {
  right: 15px;
  font-size: 2.25em;
}

/* line 91, ../sass/rebild-alpha-default-narrow.scss */
.ultimenu-flyout {
  width: 700px;
  left: -180px;
}

/*------------------------------------------------------------------
	Frontpage
-------------------------------------------------------------------*/
/* line 102, ../sass/rebild-alpha-default-narrow.scss */
.front #region-content .view .views-row {
  height: 345px;
  margin-bottom: 20px;
}
/* line 109, ../sass/rebild-alpha-default-narrow.scss */
.front #region-sidebar-first .block {
  margin-bottom: 20px;
}
/* line 112, ../sass/rebild-alpha-default-narrow.scss */
.front #region-sidebar-first .block-news-articles-block {
  height: 430px;
}
/* line 118, ../sass/rebild-alpha-default-narrow.scss */
.front #region-sidebar-first .block-block {
  height: 210px;
}

/*------------------------------------------------------------------
  Landingpage
-------------------------------------------------------------------*/
/* Aktuelt */
/* line 131, ../sass/rebild-alpha-default-narrow.scss */
.not-front .view-id-rebild_frontpage .views-row {
  height: 361px;
  width: 227px;
}

/*------------------------------------------------------------------
  Blocks
-------------------------------------------------------------------*/
/* Custom blocks - Frivillig */
/* line 144, ../sass/rebild-alpha-default-narrow.scss */
.html #page .custom_block.social {
  background-image: url("../img/social_ansvar.png");
  background-position-x: center;
  padding-top: 178px;
}
/* line 149, ../sass/rebild-alpha-default-narrow.scss */
.html #page .custom_block.frivillig {
  background-image: url("../img/frivillig.png");
  padding-top: 215px;
}
/* line 153, ../sass/rebild-alpha-default-narrow.scss */
.html #page .custom_block.folkeskole {
  background-image: url("../img/fremtidens_folkeskole.png");
  padding-top: 215px;
}
/* line 157, ../sass/rebild-alpha-default-narrow.scss */
.html #page .custom_block.dagtilbud {
  background-image: url("../img/fremtidens_dagtilbud.png");
  padding-top: 215px;
}
/* line 161, ../sass/rebild-alpha-default-narrow.scss */
.html #page .custom_block.skolereform {
  background-image: url("../img/skolereform.png");
  padding-top: 215px;
}
/* line 165, ../sass/rebild-alpha-default-narrow.scss */
.html #page .custom_block.handicapservice {
  background-image: url("../img/handicapservice.png");
  padding-top: 215px;
}

/* Calendar - sidebar */
/* line 176, ../sass/rebild-alpha-default-narrow.scss */
.view-id-calendar_sidebar .view-content .rebild-calendar .calendar_right {
  max-width: 80px;
}

/* Calendar - frontpage */
/* line 185, ../sass/rebild-alpha-default-narrow.scss */
.view-id-calendar_frontpage .rebild-calendar {
  width: 50%;
}
/* line 188, ../sass/rebild-alpha-default-narrow.scss */
.view-id-calendar_frontpage .post3, .view-id-calendar_frontpage .post4, .view-id-calendar_frontpage .post5, .view-id-calendar_frontpage .post6 {
  margin: 20px 0 0 0;
}

/* WCAG */
/* line 194, ../sass/rebild-alpha-default-narrow.scss */
.wcag-block {
  font-size: 11px;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}

/* Search */
/* line 202, ../sass/rebild-alpha-default-narrow.scss */
#region-header-first .block-ci-search {
  background: url("../img/et_sundt_liv_mini.png") no-repeat 9px 14px;
}

/* Search Autocomplete */
/* line 209, ../sass/rebild-alpha-default-narrow.scss */
.not-front .ac_results {
  margin-top: 11px;
  display: inherit;
  width: 298px !important;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px;
}

/* Share buttons */
/* line 221, ../sass/rebild-alpha-default-narrow.scss */
#region-content .node-share .share_wrapper .twitter-share {
  width: 77px;
}
/* line 224, ../sass/rebild-alpha-default-narrow.scss */
#region-content .node-share .share_wrapper .share_this {
  float: left;
  margin-right: 20px;
  margin-bottom: 8px;
}

/* 5 shortcuts - frontpage */
/* line 238, ../sass/rebild-alpha-default-narrow.scss */
#region-postscript-first .block-block .content ul li {
  margin-bottom: 1.25em;
}

/* Sidebar kontaktlink */
/* line 247, ../sass/rebild-alpha-default-narrow.scss */
#region-content-sidebar #kontaktlink {
  width: auto;
}

/* Announcement (Din kommune informerer) */
/* line 255, ../sass/rebild-alpha-default-narrow.scss */
.block-din-kommune-informerer .announcement-front .week-number {
  height: 80px;
  width: 30%;
  padding-top: 10px;
}
/* line 260, ../sass/rebild-alpha-default-narrow.scss */
.block-din-kommune-informerer .announcement-front .body {
  height: 80px;
  width: 70%;
}
