/*------------------------------------------------------------------

[BASE] 

-------------------------------------------------------------------*/
/* Compass */
/* Modules */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

Blocks
Backend

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Backend
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[GENERAL]

-------------------------------------------------------------------*/
/* line 8, ../sass/partials/_general.scss */
#region-content .content {
  /* Text */
  /* Links */
  /* Lists */
}
/* line 10, ../sass/partials/_general.scss */
#region-content .content h1, #region-content .content h2, #region-content .content h3, #region-content .content h4, #region-content .content h5, #region-content .content h6 {
  font-weight: bold;
  margin-bottom: 0.3em;
}
/* line 14, ../sass/partials/_general.scss */
#region-content .content h1 {
  font-size: 1.5em;
  line-height: 1.5em;
}
/* line 18, ../sass/partials/_general.scss */
#region-content .content h2 {
  font-size: 1.4em;
  line-height: 1.4em;
}
/* line 22, ../sass/partials/_general.scss */
#region-content .content h3 {
  font-size: 1.3em;
  line-height: 1.3em;
}
/* line 26, ../sass/partials/_general.scss */
#region-content .content h4 {
  font-size: 1.2em;
  line-height: 1.2em;
}
/* line 30, ../sass/partials/_general.scss */
#region-content .content h5 {
  font-size: 1.1em;
  line-height: 1.1em;
}
/* line 34, ../sass/partials/_general.scss */
#region-content .content h6 {
  font-size: 1.0em;
  line-height: 1.0em;
}
/* line 38, ../sass/partials/_general.scss */
#region-content .content p {
  margin-bottom: 1em;
}
/* line 41, ../sass/partials/_general.scss */
#region-content .content strong {
  font-weight: bold;
}
/* line 44, ../sass/partials/_general.scss */
#region-content .content em {
  font-style: italic;
}
/* line 48, ../sass/partials/_general.scss */
#region-content .content a {
  color: #474747;
  text-decoration: none;
}
/* line 52, ../sass/partials/_general.scss */
#region-content .content a:hover {
  text-decoration: underline;
}

/* line 4, ../sass/wysiwyg.scss */
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}
