/*------------------------------------------------------------------

[BASE] 

-------------------------------------------------------------------*/
/* Compass */
/* Modules */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

Blocks
Backend

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Input
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Backend
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[GENERAL]

-------------------------------------------------------------------*/
/* line 9, ../sass/partials/_general.scss */
#region-content .content {
  /* Text */
  /* Links */
  /* Lists */
}
/* line 11, ../sass/partials/_general.scss */
#region-content .content h1, #region-content .content h2, #region-content .content h3, #region-content .content h4, #region-content .content h5, #region-content .content h6 {
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-top: 0.25em;
}
/* line 16, ../sass/partials/_general.scss */
#region-content .content h1 {
  font-size: 1.5em;
  line-height: 1.5em;
}
/* line 20, ../sass/partials/_general.scss */
#region-content .content h2 {
  font-size: 1.25em;
  line-height: 1.25em;
}
/* line 24, ../sass/partials/_general.scss */
#region-content .content h3 {
  font-size: 1.08em;
  line-height: 1.08em;
}
/* line 28, ../sass/partials/_general.scss */
#region-content .content h4 {
  font-size: 1.05em;
  line-height: 1.05em;
}
/* line 32, ../sass/partials/_general.scss */
#region-content .content h5 {
  font-size: 1em;
  line-height: 1em;
}
/* line 36, ../sass/partials/_general.scss */
#region-content .content h6 {
  font-size: 1.0em;
  line-height: 1.0em;
}
/* line 40, ../sass/partials/_general.scss */
#region-content .content p {
  margin-bottom: 1.25em;
  line-height: 1.25em;
  word-wrap: break-word;
}
/* line 45, ../sass/partials/_general.scss */
#region-content .content p:last-child {
  margin-bottom: 0;
}
/* line 48, ../sass/partials/_general.scss */
#region-content .content strong {
  font-weight: bold;
}
/* line 51, ../sass/partials/_general.scss */
#region-content .content em {
  font-style: italic;
}
/* line 56, ../sass/partials/_general.scss */
#region-content .content a {
  color: #474747;
  text-decoration: none;
}
/* line 60, ../sass/partials/_general.scss */
#region-content .content a:hover {
  text-decoration: underline;
}
/* line 64, ../sass/partials/_general.scss */
#region-content .content ul, #region-content .content ol {
  margin-bottom: 1.25em;
}
/* line 70, ../sass/partials/_general.scss */
#region-content .content ul:last-child,
#region-content .content ol:last-child {
  margin-bottom: 0;
}
/* line 76, ../sass/partials/_general.scss */
#region-content .content #content-main ul li {
  list-style: disc;
}
/* line 81, ../sass/partials/_general.scss */
#region-content .content #content-main ol li {
  list-style: decimal;
}
/* line 87, ../sass/partials/_general.scss */
#region-content .content #content-main #region-content-sidebar ul li {
  list-style: none;
  margin-left: 10px;
}
/* line 93, ../sass/partials/_general.scss */
#region-content .content #content-main #region-content-sidebar ol li {
  list-style: none;
  margin-left: 10px;
}

/* Contextual links */
/* line 105, ../sass/partials/_general.scss */
.page.contextual-links-region .contextual-links-wrapper {
  z-index: 99999;
}
/* line 107, ../sass/partials/_general.scss */
.page.contextual-links-region .contextual-links-wrapper ul.contextual-links {
  z-index: 99999;
}

/* line 4, ../sass/wysiwyg.scss */
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}
