/*------------------------------------------------------------------

[BASE] 

-------------------------------------------------------------------*/
/* Compass */
/* Modules */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

Blocks
Backend

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Backend
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[GENERAL]

-------------------------------------------------------------------*/
/* line 9, ../sass/partials/_general.scss */
#region-content .content {
  /* Text */
  /* Links */
  /* Lists */
}
/* line 11, ../sass/partials/_general.scss */
#region-content .content h1, #region-content .content h2, #region-content .content h3, #region-content .content h4, #region-content .content h5, #region-content .content h6 {
  font-weight: bold;
  margin-bottom: 0.3em;
}
/* line 15, ../sass/partials/_general.scss */
#region-content .content h1 {
  font-size: 1.5em;
  line-height: 1.5em;
}
/* line 19, ../sass/partials/_general.scss */
#region-content .content h2 {
  font-size: 1.25em;
  line-height: 1.25em;
}
/* line 23, ../sass/partials/_general.scss */
#region-content .content h3 {
  font-size: 1.08em;
  line-height: 1.08em;
}
/* line 27, ../sass/partials/_general.scss */
#region-content .content h4 {
  font-size: 1.05em;
  line-height: 1.05em;
}
/* line 31, ../sass/partials/_general.scss */
#region-content .content h5 {
  font-size: 1em;
  line-height: 1em;
}
/* line 35, ../sass/partials/_general.scss */
#region-content .content h6 {
  font-size: 1.0em;
  line-height: 1.0em;
}
/* line 39, ../sass/partials/_general.scss */
#region-content .content p {
  margin-bottom: 1em;
  line-height: 1.25em;
  word-wrap: break-word;
}
/* line 44, ../sass/partials/_general.scss */
#region-content .content strong {
  font-weight: bold;
}
/* line 47, ../sass/partials/_general.scss */
#region-content .content em {
  font-style: italic;
}
/* line 51, ../sass/partials/_general.scss */
#region-content .content a {
  color: #474747;
  text-decoration: none;
  word-wrap: break-word;
}
/* line 56, ../sass/partials/_general.scss */
#region-content .content a:hover {
  text-decoration: underline;
}
/* line 67, ../sass/partials/_general.scss */
#region-content .content #content-main ul li {
  list-style: disc;
}
/* line 72, ../sass/partials/_general.scss */
#region-content .content #content-main ol li {
  list-style: decimal;
}
/* line 78, ../sass/partials/_general.scss */
#region-content .content #content-main #region-content-sidebar ul li {
  list-style: none;
  margin-left: 10px;
}
/* line 84, ../sass/partials/_general.scss */
#region-content .content #content-main #region-content-sidebar ol li {
  list-style: none;
  margin-left: 10px;
}

/* line 4, ../sass/wysiwyg.scss */
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
}
