.banner-front {
  position: relative;
  overflow: hidden;

  .banner-image {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    display: block;

    @include bp-narrow {
      margin-left: -960px;
      width: 1920px;
    }
  }

  .banner-content {
    position: relative;
    z-index: 2;

    @include bp-narrow {
      width: 640px;
      height: 320px;
      margin: auto;
    }
    @include bp-normal {
      width: 960px;
    }

    .banner-content-inner {
      position: absolute;
      top: 50%;
      z-index: 2;
      backface-visibility: hidden;
      @include transform(translateY(-50%));

      @include bp-narrow {
        width: 640px;
      }
      @include bp-normal {
        width: 960px;
      }
    }

    p {
      background: rgba(white, .85);
      color: $color-gray;
      font-size: $font-size-largest;
      line-height: 1.15em;
      font-family: $font-fam-head;
      font-weight: bold;
      padding: $space-base*1.5 $space-base*1.5 $space-base*2;
      display: inline-block;
      margin: 0;
      float: left;
      box-sizing: border-box;

      @include bp-narrow {
        min-width: 50%;
        max-width: 66%;
      }
      @include bp-normal {
        max-width: 66%;
      }
    }

    a {
      display: inline-block;
      background: $color-base;
      color: white;
      padding: $space-base*0.75 $space-base;
      text-decoration: none;
      float: left;
      clear: both;
      margin: -$space-base 0 0 $space-base*1.5;
      @include transition(background, 250ms);

      &:hover {
        background: $color-base-light;
      }
    }
  }

}
