/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Base */
@import "base";
/* Partials */
@import "partials/fonts";
@import "partials/forms";
@import "partials/navigation";
@import "partials/general";
@import "partials/nodes";
@import "partials/blocks";
@import "partials/views";

/*------------------------------------------------------------------

[GLOBAL]

General
Sections
Zones
Menus
Nodes
Views

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/

body {
	@include background-image(linear-gradient($bg-color-main, $bg-color-main 600px, #d4d4d4 900px, $bg-color-main 1200px));
	background-color: $bg-color-main;
	font-family: $font-family-std;
	-webkit-text-size-adjust: none;
	font-size: 12px;
}
#page {
	header, section, footer {
		font-size: 12px;
	}
}
img {
	max-width: 100%;
	height: auto;
}

/* Page titles */
.front #page-title {
	font-size: $font-size-headline;
	font-weight: normal;
	padding: 0 0 $spacing-std 0;
	color: $text-color;	
	@include text-shadow(rgba(white, 1) 1px 1px 1px);
}
.not-front #page-title {
	font-size: $font-size-title;
	line-height: 1.25em;
	font-weight: bold;
	color: $text-color;
	@include text-shadow(rgba(white, 1) 1px 1px 1px);
}
#logo {
	display: none;
}

/*------------------------------------------------------------------
	Sections
-------------------------------------------------------------------*/
#section-content {
	padding: $spacing-std 0 0;
	background: transparent url("../img/noise_bg_repeat.png") repeat;	
}

/*------------------------------------------------------------------
	Zones
-------------------------------------------------------------------*/
#zone-user-wrapper {
	background-color: white;
	z-index: 2;
	@include box-shadow(rgba(black, 0.075) 0 10px 10px);
}
#zone-menu-wrapper {
	background-color: white;
	position: relative;
	z-index: 2;
	@include box-shadow(rgba(black, 0.075) 0 10px 10px);
}
#zone-header-wrapper {
	color: white;
	background: transparent url("../img/noise_bg_repeat.png") repeat;	
}
#zone-preface-wrapper {
	display: none;
}
#zone-footer-wrapper {
	background-color: $bg-color-footer;
	padding: $spacing-std 0 $spacing-std;
}
#zone-bottom-wrapper {
	background-color: $bg-color-bottom;
}

/*------------------------------------------------------------------
	Regions
-------------------------------------------------------------------*/

#region-menu {
	position: relative;
}
#region-user-second {
	padding: $spacing-std/2;
}

#region-footer-second,
#region-footer-third,
#region-footer-fourth,
#region-footer-fifth {
	display: none;
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/
.ultimenu,
#region-user-first
{
	display: none;
}

/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/
.not-front {
	.block-system-main {
		padding: $spacing-std;
		@include grid-box(white);	
	}
}

/*------------------------------------------------------------------
	Views
-------------------------------------------------------------------*/
.page-borger,
.page-erhverv,
.page-politik,
.page-bo-i-rebild 
{
  .block-system-main {
    padding: 0;
    background: transparent;
    @include box-shadow(none);
    @include border-radius(none);
  }
}
.page-politik-dagsordener-og-referater {
  .block-system-main {
		padding: $spacing-std;
		@include grid-box(white);		
	}
}