/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
@import "base";

/*------------------------------------------------------------------

[ALPHA-DEFAULT-NARROW]

General
Menus
Frontpage
Landingpage

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
#page {
	header, section, footer {
		font-size: 11px;
	}
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/

/* Main Menu - (Mega Menu) */
#region-menu {
	ul.ultimenu {
		> li {
			padding: 0 12px;			
		}
	}
}
 
.ultimenu-flyout {
	width: 700px;
	left: -180px;
}

/*------------------------------------------------------------------
	Frontpage
-------------------------------------------------------------------*/
.front {
	#region-header-first {
		.block {
			background-position: 250px -110px;
		}	
	} 
	#region-content {
		.view {
			.views-row {
				height: 338px;
				margin-bottom: $spacing-std;
			}
		}
	}
	#region-sidebar-first {
		.block {
				margin-bottom: $spacing-std;
		}
		.block-views {
			height: 463px;
			.views-row {
				
			}
		}
		.block-block {
			height: 210px;
		}
	}
	#region-postscript-first {
		.block {
			.content {
				height: 190px;
			}
		}
	}
	#region-postscript-second {
		.block {
			.content {
				height: 190px;
				.view-calendar-frontpage {
					.calendar_right {
						width: 120px;
					}
				}
			}
		}
	}
}

/*------------------------------------------------------------------
  Landingpage
-------------------------------------------------------------------*/

/* Aktuelt */
.not-front {
  .view-id-rebild_frontpage {
    .views-row {
      height: 361px;
      width: 227px;
    }
  } 
}
/*------------------------------------------------------------------
  Blocks
-------------------------------------------------------------------*/

/* Custom blocks - Frivillig */
.html {
	#page {
		.custom_block.social {
			background-image: url('../img/social_ansvar.png');
			padding-top: 215px;
		}
		.custom_block.frivillig {
			background-image: url('../img/frivillig.png');
			padding-top: 215px;
		}
		.custom_block.folkeskole {
			background-image: url('../img/fremtidens_folkeskole.png');
			padding-top: 215px;
		}
		.custom_block.dagtilbud {
			background-image: url('../img/fremtidens_dagtilbud.png');			
			padding-top: 215px;
		}
	}
}

/* Calendar - sidebar */
.view-id-calendar_sidebar {
	.view-content {
		.rebild-calendar {
			.calendar_right {
				max-width: 80px;
			}
		}
	}
}

/* WCAG */
.wcag-block {
	font-size: 11px;
	margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}

/* Search Autocomplete */
.not-front {
	.ac_results {
		margin-top: 11px;
		display: inherit;
		width: 298px !important;	
		@include box-shadow(rgba(black, 0.4) 0 0 3px);	
	}	
}


/* Share buttons */
#region-content {
	.node-share {
		.share_wrapper {
			.twitter-share {
				width: 77px;
			}
			.share_this {
				float: left;
				margin-right: 20px;
				margin-bottom: 8px;
			}
		}
	}
}