/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal
 *  and widescreen CSS files as appropriate. */

@import "base";

/*------------------------------------------------------------------

[ALPHA-DEFAULT-NARROW]

General
Menus
Frontpage
Landingpage
Nodes
Blocks

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
#page {
	header, section, footer {
		font-size: 11px;
	}
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/

.region-branding {
	position: relative;
}
.sticky-wrapper {
	height: 113px;
}
.logo-img {
  padding-bottom: 15px;

	.business-en-theme & {
		padding-top: 27px;
	}

	img {
		height: 57px;
		opacity: 1;
		margin-top: 0;
		@include transition-timing-function(ease-in-out);
		@include transition-property(height, margin-top);
		@include transition-duration(0.25s);
	}
}
#section-header {
	position: fixed;
	top: 0;
	width: 100%;
	transition: top 0.25s ease-in-out, height 0.25s ease-in-out;
}
#section-header.stuck {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	background: white;
	top: -40px;
	.region-branding {
		.region-inner {
			top: 10px;
		}
	}
	.logo-img {
		img {
			margin-top: 13px;
			height: 45px;
		}
	}
}
.front {
	.sticky-wrapper {
		background: $color-green;
	}
}

/* Main Menu - (Mega Menu) */
#region-menu {
	ul.ultimenu {
		> li {
			padding: 0 12px;
		}
		> li.last > a:after {
			right: 15px;
			font-size: 2.25em;
		}
	}
}
.ultimenu-flyout {
	width: 700px;
	left: -180px;
}

/* Main Menu - Level 3 */
#region-content,
#region-preface-first {
	.block-menu-block {
		.content {
		ul {
			li {
				width: 47%;
				padding-right: 3%;
			}
		}
		}
	}
}

/*------------------------------------------------------------------
	Frontpage
-------------------------------------------------------------------*/
.front {
	#region-content {
		.view {
			.views-row {
				height: 345px;
				margin-bottom: $spacing-std;
			}
		}
	}
	#region-sidebar-first {
		.block {
				margin-bottom: $spacing-std;
		}
		.block-news-articles-block {
			height: 430px;
			.views-row {

			}
		}
		.block-block {
			height: 210px;
		}
	}
}

/*------------------------------------------------------------------
  Landingpage
-------------------------------------------------------------------*/

/* Aktuelt */
.not-front {
  .view-id-rebild_frontpage {
    .views-row {
      height: 361px;
      width: 227px;
    }
  }
}
/* Focus */
.business-theme.not-front {
	.view-id-rebild_frontpage {
		.views-row {
			width: 220px;
			margin: 0;
			.text-wrapper {
				position: absolute;
				bottom: 0;
				z-index: 2;
				@include opacity(0.9);
				@include transform(translateY(105px));
				@include transition-duration(250ms);
				@include transition-timing-function(ease-in-out);
				.featured-title {
					font-size: 1.25em;
					margin-bottom: 10px;
					height: 2.25em;
					line-height: 2.25em;
					div {
						display: inline-block;
						vertical-align: middle;
						line-height: $line-height-std;
					}
				}
				a {
					height: 143px;
					padding: 5px 12px;
				}
			}
		}
		.views-row-2 {
			margin: 0 20px;
		}
		.views-row:hover {
			img {
				opacity: 0.75;
			}
			.text-wrapper {
				@include transform(translateY(0));
			}
		}
	}
}

/*------------------------------------------------------------------
  Nodes
-------------------------------------------------------------------*/

/* Basic Page Extended */
#region-content {
	.node-page-extended {

		.field-name-field-main-paragraphs {
			/* Navigation List */
			.field-name-field-sec-nav-elment {
				> .field-items {
					> .field-item {
						.field-name-field-sec-nav-image {
							width: 76px;
						}
						h3 {
							padding-left: 88px;
						}
						.field-name-field-sec-nav-body {
							padding-left: 88px;
							margin-bottom: 6px;
						}
						.read-more {
							padding-left: 88px;
						}
					}
				}
			}
		}
	}
}

/*------------------------------------------------------------------
  Blocks
-------------------------------------------------------------------*/

/* Custom blocks - Frivillig */
.html {
	#page {
		.custom_block.social {
			background-image: url('../img/social_ansvar.png');
			background-position-x: center;
			padding-top: 178px;
		}
		.custom_block.frivillig {
			background-image: url('../img/frivillig.png');
			padding-top: 215px;
		}
		.custom_block.folkeskole {
			background-image: url('../img/fremtidens_folkeskole.png');
			padding-top: 215px;
		}
		.custom_block.dagtilbud {
			background-image: url('../img/fremtidens_dagtilbud.png');
			padding-top: 215px;
		}
		.custom_block.skolereform {
			background-image: url('../img/skolereform.png');
			padding-top: 215px;
		}
		.custom_block.handicapservice {
			background-image: url('../img/handicapservice.png');
			padding-top: 215px;
		}
	}
}

/* Calendar - sidebar */
.view-id-calendar_sidebar {
	.view-content {
		.rebild-calendar {
			.calendar_right {
				max-width: 80px;
			}
		}
	}
}

/* Calendar - frontpage */
.view-id-calendar_frontpage {
	.rebild-calendar {
		width: 50%;
	}
	.post3 , .post4, .post5, .post6 {
		margin: $spacing-std 0 0 0;
	}
}

/* WCAG */
.wcag-block {
	font-size: 11px;
	margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}

/* Search */
#region-header-first {
	.block-ci-search {
		background: url("../img/et_sundt_liv_mini.png") no-repeat 9px 14px;
	}
}

/* Search Autocomplete */
.not-front {
	.ac_results {
		margin-top: 11px;
		display: inherit;
		width: 298px !important;
		@include box-shadow(rgba(black, 0.4) 0 0 3px);
	}
}

/* Share buttons */
#region-content {
	.node-share {
		.share_wrapper {
			.twitter-share {
				width: 77px;
			}
			.share_this {
				float: left;
				margin-right: 20px;
				margin-bottom: 8px;
			}
		}
	}
}

/* 5 shortcuts - frontpage */
#region-postscript-first {
	.block-block {
		.content {
			ul {
				li {
					margin-bottom: 1.25em;
				}
			}
		}
	}
}
/* Sidebar kontaktlink */
#region-content-sidebar {
	#kontaktlink {
		width: auto;
	}
}

/* Announcement (Din kommune informerer) */
.block-din-kommune-informerer {
	.announcement-front {
		.week-number {
			height: 80px;
			width: 30%;
			padding-top: 10px;
		}
		.body {
			height: 80px;
			width: 70%;

		}
	}
}
