/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
@import "base";

/*------------------------------------------------------------------

[ALPHA-DEFAULT-NARROW]

General
Menus
Frontpage
Landingpage

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
#page {
	header, section, footer {
		font-size: 11px;
	}
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/

#zone-menu-wrapper.stuck {
	position: fixed;
	top: 0;
	width: 100%;
	.logo-img {
		opacity: 0;
	}
}


/* Main Menu - (Mega Menu) */
#region-menu {
	ul.ultimenu {
		> li {
			padding: 0 12px;			
		}
		> li.last > a:after {
			right: 15px;
			font-size: 2.25em;
		}
	}
}
 
.ultimenu-flyout {
	width: 700px;
	left: -180px;
}

/*------------------------------------------------------------------
	Frontpage
-------------------------------------------------------------------*/
.front {
	#region-content {
		.view {
			.views-row {
				height: 345px;
				margin-bottom: $spacing-std;
			}
		}
	}
	#region-sidebar-first {
		.block {
				margin-bottom: $spacing-std;
		}
		.block-news-articles-block {
			height: 430px;
			.views-row {
				
			}
		}
		.block-block {
			height: 210px;
		}
	}
}

/*------------------------------------------------------------------
  Landingpage
-------------------------------------------------------------------*/

/* Aktuelt */
.not-front {
  .view-id-rebild_frontpage {
    .views-row {
      height: 361px;
      width: 227px;
    }
  } 
}
/*------------------------------------------------------------------
  Blocks
-------------------------------------------------------------------*/

/* Custom blocks - Frivillig */
.html {
	#page {
		.custom_block.social {
			background-image: url('../img/social_ansvar.png');
			background-position-x: center;
			padding-top: 178px;
		}
		.custom_block.frivillig {
			background-image: url('../img/frivillig.png');
			padding-top: 215px;
		}
		.custom_block.folkeskole {
			background-image: url('../img/fremtidens_folkeskole.png');
			padding-top: 215px;
		}
		.custom_block.dagtilbud {
			background-image: url('../img/fremtidens_dagtilbud.png');			
			padding-top: 215px;
		}
		.custom_block.skolereform {
			background-image: url('../img/skolereform.png');			
			padding-top: 215px;			
		}
		.custom_block.handicapservice {
			background-image: url('../img/handicapservice.png');			
			padding-top: 215px;			
		}
	}
}

/* Calendar - sidebar */
.view-id-calendar_sidebar {
	.view-content {
		.rebild-calendar {
			.calendar_right {
				max-width: 80px;
			}
		}
	}
}

/* Calendar - frontpage */
.view-id-calendar_frontpage {
	.rebild-calendar {
		width: 50%;
	}
	.post3 , .post4, .post5, .post6 {
		margin: $spacing-std 0 0 0;
	}
}

/* WCAG */
.wcag-block {
	font-size: 11px;
	margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}

/* Search Autocomplete */
.not-front {
	.ac_results {
		margin-top: 11px;
		display: inherit;
		width: 298px !important;	
		@include box-shadow(rgba(black, 0.4) 0 0 3px);	
	}	
}


/* Share buttons */
#region-content {
	.node-share {
		.share_wrapper {
			.twitter-share {
				width: 77px;
			}
			.share_this {
				float: left;
				margin-right: 20px;
				margin-bottom: 8px;
			}
		}
	}
}

/* 5 shortcuts - frontpage */
#region-postscript-first {
	.block-block {
		.content {
			ul {
				li {
					margin-bottom: 1.25em;
				}
			}
		}
	}
}
/* Sidebar kontaktlink */
#region-content-sidebar {
	#kontaktlink {
		width: auto;
	}
}