/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

@import "base";

/*------------------------------------------------------------------

[ALPHA-DEFAULT]

General
Sections
Regions
Zones
Menus
Views
Blocks
Blocks specific
Nodes

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
#logo {
	display: block;
}

/*------------------------------------------------------------------
	Sections
-------------------------------------------------------------------*/
#section-content {
	padding: $spacing-std 0 0;
	#zone-header {
		.block-title {
			padding: $spacing-std 0;
		}
	}
}
.front {
	#section-content {
		padding: 0 0 $spacing-std;
	}
}

/*------------------------------------------------------------------
	Regions
-------------------------------------------------------------------*/
.not-front {
  #region-sidebar-first {
    text-align: left;
    margin-top: -35px;
  }
}
/* Hide mobile regions */
#region-user-second,
#region-mobile-menu {
	display: none;
}

/* Expose hidden regions */
#region-user-first,
#region-footer-second,
#region-footer-third,
#region-footer-fourth,
#region-footer-fifth {
	display: block;
}
#region-user-first {
	float: right;
}

/*------------------------------------------------------------------
	Zones
-------------------------------------------------------------------*/
#zone-user-wrapper {
	padding: 0 0 14px;
}
#zone-header-wrapper {
	background: $bg-color-header;
}
#zone-preface-wrapper {
	display: block;
}
#zone-postscript-wrapper {
	padding: $spacing-std 0 0 0;
}
#zone-footer-wrapper {
	padding: $spacing-std/2 0;
	#zone-footer {
		padding: $spacing-std*2 0;
	}
}

/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/

/* Main Menu - Level 1+2 */
#region-menu {
	ul.ultimenu {
		margin-top: 28px;
		width: 100%;
		display: block;
		> li {
			float: left;
			list-style: none;
			padding: 0 19px;
			> a {
				color: $link-color;
				text-decoration: none;
				font-size: 1.33em;
				text-transform: uppercase;
				display: inline-block;
				height: 44px;
			}	
			a.active,
			a.active-trail {
				color: $link-color-active;
			}	
		}
		> li.hover {
			> a {
				color: $link-color-hover;
			}	
		}
		> li.last > a {
			position: relative;
		}
		> li.last > a:after {
			font-family: 'Rebild';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
		
			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;			
			content: "\e600";
			color: #f04f0f;
			
			position: absolute;
			right: 0;
			bottom:  0;
		}
	}
}

#zone-menu-wrapper {
}

	/* Sub Menu*/
	.ultimenu-flyout {
		width: 1200px;
		left: -240px;
		> div {
			overflow: hidden;
		}
	}
	.ultimenu-flyout {
		overflow: hidden;
		font-size: $font-size-std;
		background-color: white;
		color: $text-color;
		font-size: $font-size-std;
		line-height: $line-height-std;
		/* Search Block*/
		.block {
			width: 33%;
			float: right;
			position: relative;
			z-index: 2;
			background-color: $bg-mega-menu;
			@include box-shadow(rgba(black, 0.25) 0 0 20px);
			min-height: 180px;
			.block-title {
				font-size: $font-size-large;
				font-weight: normal;
				margin-bottom: 10px;
			}
			.block-inner {
				padding: $spacing-std;	
				p { 
					margin-bottom: 10px; 
				}
			}
		}
		/* Menu Block */
		.block-menu-block {
			width: 67%;
			float: left;
			position: relative;
			z-index: 1;
			background: white;
			@include box-shadow(none);
			.block-inner {
				padding-bottom: $spacing-std/2;
			}
			li {
				float: left;
				width: 30%;
				padding-right: 3%;
				font-size: $font-size-small;
				line-height: 1.2em;
				height: 2.75em;
				position: relative;
				a {
					color: $top-menu-color;
					text-decoration: none;
					padding-left: 10px;
					display: block;
				}
				a:hover,
				a.active {
					text-decoration: underline;
				}
				span {
					color: $link-color;
					font-size: $font-size-small;
					height: 2.75em;
					position: absolute;
					top: 2px; left: 0;
				}
			}
		}
	}
	
/* Main Menu - Level 3 */
#region-content,
#region-preface-first {
	.block-menu-block {
		.content {
		ul {
			li {
				width: 30%;
				padding-right: 3%;
			}
		}
		}
	}
}

#breadcrumb {
	margin-bottom: $spacing-std*2;
}

/* Secondary Menu */
#region-user-first {
	.menu-block-wrapper {
		> ul.menu {
			float: right;
			li {
				float: left;
				list-style: none;
				font-size: $font-size-small;
				margin: 0 0 0 5px;
				a {
					color: $top-menu-color;
					background: $top-menu-bg-color;
					text-decoration: none;
					display: inline-block;
					padding: 8px 8px;
				}
			}
		}
	}	
}
#region-user-menu-first {
	.block-politik-user-menu {
		margin: 8px 30px 0 0;
		p, a {
			color: $top-menu-color;
			text-align: left;
		}
	}	
}

/*------------------------------------------------------------------
	Views
-------------------------------------------------------------------*/

/* Frontpage */
.view-id-rebild_frontpage {
	.views-row {
		float: left;
		@include grid-box(white);
		.views-field-field-image img {
			@include border-radius(3px 3px 0 0);
			height: auto;
		}
		.views-field-title {
			padding: $spacing-std $spacing-std 0;
			font-size: $font-size-large;
			line-height: $line-height-std;
			a {
				color: $text-color;
				text-decoration: none;
			}
		}
		.views-field-body {
			padding: $spacing-std/2 $spacing-std $spacing-std;
		}
	}
	.views-row-odd {
		margin: 0 $spacing-std/2 $spacing-std 0;
	}
	.views-row-even {
		margin: 0 0 $spacing-std $spacing-std/2;
	}
}

/* News Articles - Views Block */
#block-views-news-articles-block {
	.view-header {
		display: block;
	}
}
/* Calendar - frontpage */
#block-views-calendar-frontpage-block {
	.block-title {
		margin-bottom: 0;
	}
}
.view-id-calendar_frontpage {
	.rebild-calendar {
		float: left;
		width: 33%;	
		margin: 0;
		padding: 0 10px 0 0;
		@include box-sizing(border-box);
	}
	.post4:last-child, .post5:last-child, .post6:last-child {
		margin: $spacing-std 0 0 0;
	}
	.post4, .post5, .post6 {
		margin: $spacing-std 0 0 0;
	}
	.calendar_view_all {
		position: absolute;
		top: 0;
		text-transform: uppercase;
		right: 0;
		left:auto;
		padding-top: 2px;
	}
}


/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/

/* Zone: Footer */
#zone-footer {
	.block {
		margin-bottom: 0;
	}
}

/*------------------------------------------------------------------
	Blocks - Specific
-------------------------------------------------------------------*/

/* Search block - frontpage */
#block-ci-search-ci-search-front {
	form {
		.form-type-textfield:before {
			content: "\e013";
		}
		input[type=search],
		input[type=text] {
			font-size: 1em;
			font-style: italic;
			height: 4.8em;
			width: 100%;
			line-height: 2em;
			float: left;
			position: relative;
			padding: 1.05em 1em 1.05em 4em;
	    border-top: 1px solid white;
	    background: white;
	    background-position: center top;
			@include background-image(linear-gradient(#eeeeee, #ffffff 33%));
			@include border-radius($border-radius-std);
			@include box-sizing(border-box);
			@include placeholder {
				color: $input-color;
			}
		}
		input[type=submit] {
			font-size: 1.55em;
			padding: 0 1.5em;
		}
	}
}

/* Search block - search page */
#block-ci-search-ci-search-results {
	.sf-wrapper {
		padding: 10px;
	}
	.form-type-textfield:before {
		font-size: 1.6em;
		top: 1em;

	}
  input[type=search],
  input[type=text] {
			font-size: 1em;
			height: 4.8em;
			padding: 1.05em 1em 1.05em 4em;
  }
  input[type=submit] {
    font-size: (20/13)*1em;
    top: 10px;
    right: 10px;
  }
}

/* Search block - frontpage */
#region-header-first {
	background: url("../img/background_print.png") right -105px no-repeat;
	.block {
		form {
			margin: 0 auto (17/10)*1em;
			.sf-wrapper {
				max-width: 680px;
			}
		}
	}
}

/* Search block - Inside mega menu */
.ultimenu {
	p.small-text {
		font-size: $font-size-small;
		line-height: 1.4em;
		color: $top-menu-color;
		border-top: 1px dotted $top-menu-color;
		padding-top: 10px;
		margin-bottom: 0 !important;
		a {
			color: $top-menu-color;
			margin: 0 10px 0 0;
		}
	}
	p {
		font-size: $font-size-small;		
	}
	form {
		.form-item, .form-actions {
			margin: 0;
		}
		.form-wrap {
			background: #e0e0e0;
			padding: 6px;
			margin-bottom: 10px;
			position: relative;
			@include border-radius($border-radius-std);
			input[type=search],
			input[type=text] {
				font-size: $font-size-small;
			}
			input[type=submit] {
				position: absolute;
				top: 6px;
				right: 6px;
				font-size: $font-size-small;
			}
		}
	}
}

/* Footer - Contact information */
#region-footer-first {
	.block {
		text-align: left;
		.content {
			table {
				margin: 0 0 10px;
				text-align: left;
			}
		}
	}	
}

/* Cookie Popup*/
#sliding-popup {
  .popup-content {
    #popup-text {
      width: 670px;
      max-width: 50%;
      text-align: left;
    }
    #popup-buttons {
      max-width: 50%;
      float: right;
    }
  }
}

#block-ci-search-ci-search-header {
	display: block;
}

/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/

.node {
	#content-main.has-sidebar {
		border-right: 1px dotted $text-color;
		width: 70%;
		padding-right: 3%;
		float: left;
	}
	#region-content-sidebar {
		float: right;
		width: 23%;
		padding-left: 3%;
		margin-top: 0;
	}
}
/* Fancybox */
.fancybox-outer {
	margin-bottom: 20px;
}

.fancybox-title-float-wrap {
	margin-bottom: -45px;
	position: relative;
}
/* Page & News Articles */
#region-content {
	.node-page,
	.node-page-extended,
	.node-news-article {
		/* Node Image Gallery */
		.field-name-field-main-image-gallery {
			.field-items {
				.field-item {
					width: 21%;
					padding: 0 2%;
					float: left;
					margin-bottom: $spacing-std;
					text-align: center;
				}
			}
		}
		/* Fact Box */
		.field-name-field-main-factbox {
			float: right;
			width: 33%;
			margin: 0 0 $spacing-std/2 $spacing-std/2;
		}
	}
}
