/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
@import "base";

/*------------------------------------------------------------------

[ALPHA-DEFAULT-NARROW]

General
Menus
Frontpage
Landingpage

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	General
-------------------------------------------------------------------*/
#page {
	header, section, footer {
		font-size: 12px;
	}
}


/*------------------------------------------------------------------
	Menus
-------------------------------------------------------------------*/

/* Main Menu - (Mega Menu) */
#region-menu {
	ul.ultimenu {
		> li {
			padding: 0 19px;
		}
	}
}
.ultimenu-flyout {
	width: 940px;
	left: -240px;
}

/*------------------------------------------------------------------
	Frontpage
-------------------------------------------------------------------*/
.front {
	#region-header-first {
		.block {
			@include box-shadow(none);
			padding: 25px 0 20px 0;		
			background-position: 480px -110px;
		}
	}
	#region-content {
		.view {
			.views-row {
				height: 361px;
				margin-bottom: $spacing-std;
			}
		}
	}
	#region-sidebar-first {
		.block {
				margin-bottom: $spacing-std;
		}
		.block-views {
			height: 530px;
		}
		.block-block {
			height: 190px;
		}
	}
	#region-postscript-first {
		.block {
			.content {
				height: 123px;
			}
		}
	}
	#region-postscript-second {
		.block {
			.content {
				height: 123px;
				.view-calendar-frontpage {
					.calendar_right {
					}
				}
			}
		}
	}
}

/*------------------------------------------------------------------
  Landingpage
-------------------------------------------------------------------*/

/* Aktuelt */
.not-front {
  .view-id-rebild_frontpage {
    .views-row {
      height: 361px;
      width: 310px;
    }
  } 
}
/*------------------------------------------------------------------
  Blocks
-------------------------------------------------------------------*/

/* Calendar - sidebar */
.view-id-calendar_sidebar {
	.view-content {
		.rebild-calendar {
			.calendar_right {
				max-width: 160px;
			}
		}
	}
}

/* WCAG */
.wcag-block {
	font-size: $font-size-std;
	margin: 0 $spacing-std/2 0 0;
	padding: 0 $spacing-std/2 0 0;
}

/* Search Autocomplete */
.not-front {
	.ac_results {
		display: inherit;
		width: 464px !important;		
	}	
}

/* Share buttons */
#region-content {
	.node-share {
		.share_wrapper {
			.share_this {
				margin-right: 15px;
				margin-bottom: 2px;
			}
		}
	}
}

/* 5 shortcuts - frontpage */
#region-postscript-first {
	.block-block {
		.content {
			ul {
				li {
					margin-bottom: 1.1em;
				}
			}
		}
	}
}