@charset "UTF-8";
/* This styling will affect the backend administrative theme */
/* Partials from main theme */
/*------------------------------------------------------------------

[FONTS]

-------------------------------------------------------------------*/
@font-face {
  font-family: 'Rebild';
  src: url("../fonts/Rebild.eot?389so7");
  src: url("../fonts/Rebild.eot?#iefix389so7") format("embedded-opentype"), url("../fonts/Rebild.woff2?389so7") format("woff2"), url("../fonts/Rebild.woff?389so7") format("woff"), url("../fonts/Rebild.ttf?389so7") format("truetype"), url("../fonts/Rebild.svg?389so7#Rebild") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 34, ../../rebild/sass/partials/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'Rebild';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * UDSKIFT KUN LINJERNE HERUNDER, NåR DER SKAL OPDATERS
 */
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 49, ../../rebild/sass/partials/_fonts.scss */
.icon-brand:before {
  content: "\e90e";
  color: #3b5998;
}

/* line 53, ../../rebild/sass/partials/_fonts.scss */
.icon-instagram:before {
  content: "\e900";
}

/* line 56, ../../rebild/sass/partials/_fonts.scss */
.icon-youtube:before {
  content: "\e901";
}

/* line 59, ../../rebild/sass/partials/_fonts.scss */
.icon-google-plus:before {
  content: "\e902";
}

/* line 62, ../../rebild/sass/partials/_fonts.scss */
.icon-facebook2:before {
  content: "\e903";
}

/* line 65, ../../rebild/sass/partials/_fonts.scss */
.icon-linkedin:before {
  content: "\e904";
}

/* line 68, ../../rebild/sass/partials/_fonts.scss */
.icon-twitter:before {
  content: "\e906";
}

/* line 71, ../../rebild/sass/partials/_fonts.scss */
.icon-english-flag .path1:before {
  content: "\e908";
  color: white;
}

/* line 75, ../../rebild/sass/partials/_fonts.scss */
.icon-english-flag .path2:before {
  content: "\e909";
  margin-left: -1.1318359375em;
  color: #d00f14;
}

/* line 80, ../../rebild/sass/partials/_fonts.scss */
.icon-english-flag .path3:before {
  content: "\e90a";
  margin-left: -1.1318359375em;
  color: #d00f14;
}

/* line 85, ../../rebild/sass/partials/_fonts.scss */
.icon-english-flag .path4:before {
  content: "\e90b";
  margin-left: -1.1318359375em;
  color: #00305b;
}

/* line 90, ../../rebild/sass/partials/_fonts.scss */
.icon-danish-flag:before {
  content: "\e907";
  color: #d00f14;
}

/* line 94, ../../rebild/sass/partials/_fonts.scss */
.icon-mobil_logo:before {
  content: "\e007";
}

/* line 97, ../../rebild/sass/partials/_fonts.scss */
.icon-printer:before {
  content: "\e011";
}

/* line 100, ../../rebild/sass/partials/_fonts.scss */
.icon-volume:before {
  content: "\e012";
}

/* line 103, ../../rebild/sass/partials/_fonts.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 106, ../../rebild/sass/partials/_fonts.scss */
.icon-search:before {
  content: "\e013";
}

/* line 109, ../../rebild/sass/partials/_fonts.scss */
.icon-plus2:before {
  content: "\e00f";
}

/* line 112, ../../rebild/sass/partials/_fonts.scss */
.icon-minus2:before {
  content: "\e010";
}

/* line 115, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-down2:before {
  content: "\e003";
}

/* line 118, ../../rebild/sass/partials/_fonts.scss */
.icon-bottom_logo:before {
  content: "\e009";
}

/* line 121, ../../rebild/sass/partials/_fonts.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 124, ../../rebild/sass/partials/_fonts.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 127, ../../rebild/sass/partials/_fonts.scss */
.icon-home:before {
  content: "\e005";
}

/* line 130, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 133, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 136, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 139, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 142, ../../rebild/sass/partials/_fonts.scss */
.icon-images:before {
  content: "\e00e";
}

/* line 145, ../../rebild/sass/partials/_fonts.scss */
.icon-menu:before {
  content: "\e000";
}

/* line 148, ../../rebild/sass/partials/_fonts.scss */
.icon-pil2:before {
  content: "\e014";
}

/* line 151, ../../rebild/sass/partials/_fonts.scss */
.icon-angle-right:before {
  content: "\e006";
}

/* line 154, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-left2:before {
  content: "\e004";
}

/* line 157, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-up2:before {
  content: "\e002";
}

/* line 160, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-right2:before {
  content: "\e001";
}

/* line 163, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 166, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 169, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 172, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 175, ../../rebild/sass/partials/_fonts.scss */
.icon-close:before {
  content: "\e008";
}

/* line 178, ../../rebild/sass/partials/_fonts.scss */
.icon-plus:before {
  content: "\e00a";
}

/* line 181, ../../rebild/sass/partials/_fonts.scss */
.icon-minus:before {
  content: "\e00c";
}

/* line 184, ../../rebild/sass/partials/_fonts.scss */
.icon-compass:before {
  content: "\e00d";
}

/* line 187, ../../rebild/sass/partials/_fonts.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 190, ../../rebild/sass/partials/_fonts.scss */
.icon-rss:before {
  content: "\f09f";
}

/* line 193, ../../rebild/sass/partials/_fonts.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 196, ../../rebild/sass/partials/_fonts.scss */
.icon-og_bliv_her2:before {
  content: "\e600";
}

/* line 199, ../../rebild/sass/partials/_fonts.scss */
.icon-enlarge:before {
  content: "\e90f";
}

/* line 202, ../../rebild/sass/partials/_fonts.scss */
.icon-zoom-in:before {
  content: "\e90c";
}

/* line 205, ../../rebild/sass/partials/_fonts.scss */
.icon-file-pdf:before {
  content: "\e602";
}

/* line 208, ../../rebild/sass/partials/_fonts.scss */
.icon-pencil:before {
  content: "\e905";
}

/* line 211, ../../rebild/sass/partials/_fonts.scss */
.icon-folder:before {
  content: "\e92f";
}

/* line 214, ../../rebild/sass/partials/_fonts.scss */
.icon-folder-open:before {
  content: "\e930";
}

/* line 217, ../../rebild/sass/partials/_fonts.scss */
.icon-folder-plus:before {
  content: "\e931";
}

/* line 220, ../../rebild/sass/partials/_fonts.scss */
.icon-bin:before {
  content: "\e9ac";
}

/* line 223, ../../rebild/sass/partials/_fonts.scss */
.icon-thumbs-up:before {
  content: "\e90d";
}

/* line 226, ../../rebild/sass/partials/_fonts.scss */
.icon-mail:before {
  content: "\e603";
}

/* line 229, ../../rebild/sass/partials/_fonts.scss */
.icon-mega-phone:before {
  content: "\e601";
}

/* Variables from main theme */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Social media colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

-------------------------------------------------------------------*/
/*
==========================================================================
	Blocks / Grid
==========================================================================
*/
/*
==========================================================================
	Forms
==========================================================================
*/
/*
==========================================================================
	Text
==========================================================================
*/
/*
==========================================================================
	Utilities
==========================================================================
*/
/*------------------------------------------------------------------

[CUSTOM]
General backend styling
Opret indhold
Workbench
WYSIWYG editor
Breadcrumbs
Views
Media module
User profile
Rebildporten newsletter

-------------------------------------------------------------------*/
/*------------------------------------------------------------------

	General backend styling

-------------------------------------------------------------------*/
/* line 33, ../sass/custom.scss */
.page-file-edit {
  background-color: #fff;
  background-image: none;
}

/* line 37, ../sass/custom.scss */
.page-admin, .page-node-add, .page-node-edit, .page-node {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZThlOGU4Ii8+PHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNkNGQ0ZDQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 1200, color-stop(0%, #e8e8e8), color-stop(50%, #e8e8e8), color-stop(75%, #d4d4d4), color-stop(100%, #e8e8e8));
  background-image: -moz-linear-gradient(#e8e8e8, #e8e8e8 600px, #d4d4d4 900px, #e8e8e8 1200px);
  background-image: -webkit-linear-gradient(#e8e8e8, #e8e8e8 600px, #d4d4d4 900px, #e8e8e8 1200px);
  background-image: linear-gradient(#e8e8e8, #e8e8e8 600px, #d4d4d4 900px, #e8e8e8 1200px);
  background-color: #e8e8e8;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  /* Metatag */
}
/* line 43, ../sass/custom.scss */
.page-admin a, .page-node-add a, .page-node-edit a, .page-node a {
  color: #7f9dcd;
}
/* line 46, ../sass/custom.scss */
.page-admin #branding, .page-node-add #branding, .page-node-edit #branding, .page-node #branding {
  background: transparent url("../../rebild/img/noise_bg_repeat.png") repeat;
}
/* line 49, ../sass/custom.scss */
.page-admin #branding #side_titel .page-title, .page-node-add #branding #side_titel .page-title, .page-node-edit #branding #side_titel .page-title, .page-node #branding #side_titel .page-title {
  float: none;
  font-size: 1.5em;
  font-weight: normal;
  padding: 0 0 20px 0;
  color: #474747;
  margin-left: 5px;
  text-shadow: white 1px 1px 1px;
}
/* line 59, ../sass/custom.scss */
.page-admin #branding ul.primary, .page-node-add #branding ul.primary, .page-node-edit #branding ul.primary, .page-node #branding ul.primary {
  float: none;
}
/* line 62, ../sass/custom.scss */
.page-admin #branding ul.primary .active a, .page-node-add #branding ul.primary .active a, .page-node-edit #branding ul.primary .active a, .page-node #branding ul.primary .active a {
  background-color: #fff;
  font-weight: normal;
  position: relative;
  z-index: 100;
}
/* line 70, ../sass/custom.scss */
.page-admin #branding ul.primary li a, .page-node-add #branding ul.primary li a, .page-node-edit #branding ul.primary li a, .page-node #branding ul.primary li a {
  padding: 0 18px 3px;
  font-weight: normal;
  background-color: #dddddd;
}
/* line 78, ../sass/custom.scss */
.page-admin #branding .add-or-remove-shortcuts, .page-node-add #branding .add-or-remove-shortcuts, .page-node-edit #branding .add-or-remove-shortcuts, .page-node #branding .add-or-remove-shortcuts {
  display: none;
}
/* line 82, ../sass/custom.scss */
.page-admin input[type="file"], .page-node-add input[type="file"], .page-node-edit input[type="file"], .page-node input[type="file"] {
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
  border: 0;
  margin-right: 20px;
}
/* line 87, ../sass/custom.scss */
.page-admin #page, .page-node-add #page, .page-node-edit #page, .page-node #page {
  padding: 20px 40px 40px 40px;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  /* @include box-shadow(rgba(black, 0.1) -1px -1px 0px); */
}
/* line 93, ../sass/custom.scss */
.page-admin #page .tabs-secondary ul.secondary, .page-node-add #page .tabs-secondary ul.secondary, .page-node-edit #page .tabs-secondary ul.secondary, .page-node #page .tabs-secondary ul.secondary {
  float: left;
}
/* line 97, ../sass/custom.scss */
.page-admin #page h3, .page-admin #page h2, .page-node-add #page h3, .page-node-add #page h2, .page-node-edit #page h3, .page-node-edit #page h2, .page-node #page h3, .page-node #page h2 {
  font-weight: normal;
  font-size: 1.33333em;
}
/* line 102, ../sass/custom.scss */
.page-admin #page table, .page-node-add #page table, .page-node-edit #page table, .page-node #page table {
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
  border-collapse: separate;
  font-size: 1em;
}
/* line 106, ../sass/custom.scss */
.page-admin #page table .odd, .page-node-add #page table .odd, .page-node-edit #page table .odd, .page-node #page table .odd {
  border-bottom: 1px solid #ebebeb;
}
/* line 109, ../sass/custom.scss */
.page-admin #page table .views-row-last, .page-node-add #page table .views-row-last, .page-node-edit #page table .views-row-last, .page-node #page table .views-row-last {
  border-bottom: 0;
}
/* line 112, ../sass/custom.scss */
.page-admin #page table .views-field.views-field-title, .page-admin #page table .views-field.views-field-type, .page-admin #page table .views-field.views-field-status, .page-admin #page table .views-field.views-field-state, .page-admin #page table .views-field.views-field-moderation-actions, .page-admin #page table .views-field.views-field-name, .page-admin #page table .views-field.views-field-changed, .page-node-add #page table .views-field.views-field-title, .page-node-add #page table .views-field.views-field-type, .page-node-add #page table .views-field.views-field-status, .page-node-add #page table .views-field.views-field-state, .page-node-add #page table .views-field.views-field-moderation-actions, .page-node-add #page table .views-field.views-field-name, .page-node-add #page table .views-field.views-field-changed, .page-node-edit #page table .views-field.views-field-title, .page-node-edit #page table .views-field.views-field-type, .page-node-edit #page table .views-field.views-field-status, .page-node-edit #page table .views-field.views-field-state, .page-node-edit #page table .views-field.views-field-moderation-actions, .page-node-edit #page table .views-field.views-field-name, .page-node-edit #page table .views-field.views-field-changed, .page-node #page table .views-field.views-field-title, .page-node #page table .views-field.views-field-type, .page-node #page table .views-field.views-field-status, .page-node #page table .views-field.views-field-state, .page-node #page table .views-field.views-field-moderation-actions, .page-node #page table .views-field.views-field-name, .page-node #page table .views-field.views-field-changed {
  border-right: 1px solid #ebebeb;
}
/* line 116, ../sass/custom.scss */
.page-admin #page table thead tr, .page-node-add #page table thead tr, .page-node-edit #page table thead tr, .page-node #page table thead tr {
  height: 40px;
}
/* line 120, ../sass/custom.scss */
.page-admin #page table th, .page-node-add #page table th, .page-node-edit #page table th, .page-node #page table th {
  border: none;
  padding: 0 10px 0 10px;
  background-color: #dddddd;
}
/* line 124, ../sass/custom.scss */
.page-admin #page table th a, .page-node-add #page table th a, .page-node-edit #page table th a, .page-node #page table th a {
  color: #000;
  font-size: 1em;
}
/* line 129, ../sass/custom.scss */
.page-admin #page table tr, .page-node-add #page table tr, .page-node-edit #page table tr, .page-node #page table tr {
  border: none;
}
/* line 131, ../sass/custom.scss */
.page-admin #page table tr .last-child, .page-node-add #page table tr .last-child, .page-node-edit #page table tr .last-child, .page-node #page table tr .last-child {
  border: none;
}
/* line 135, ../sass/custom.scss */
.page-admin #page table td, .page-node-add #page table td, .page-node-edit #page table td, .page-node #page table td {
  border: none;
}
/* line 140, ../sass/custom.scss */
.page-admin #page fieldset .fieldset-legend, .page-node-add #page fieldset .fieldset-legend, .page-node-edit #page fieldset .fieldset-legend, .page-node #page fieldset .fieldset-legend {
  position: relative;
  padding-left: 15px;
}
/* line 149, ../sass/custom.scss */
.page-admin .form-item-metatags-description-value .statustegn, .page-node-add .form-item-metatags-description-value .statustegn, .page-node-edit .form-item-metatags-description-value .statustegn, .page-node .form-item-metatags-description-value .statustegn {
  color: #666;
}
/* line 152, ../sass/custom.scss */
.page-admin .form-item-metatags-description-value .grippie, .page-node-add .form-item-metatags-description-value .grippie, .page-node-edit .form-item-metatags-description-value .grippie, .page-node .form-item-metatags-description-value .grippie {
  display: none;
}

/*------------------------------------------------------------------

	Opret indhold 

-------------------------------------------------------------------*/
/* line 162, ../sass/custom.scss */
.node-form .manualcrop-style-button-holder {
  display: inline-block;
}

/* line 166, ../sass/custom.scss */
.page-node-add #page, .page-node-edit #page, .page-node #page, .page-user #page, .page-file #page, .page-block #page {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  -webkit-text-size-adjust: none;
  /* Input felter */
  /* Throbber */
  /* "Tilføj endnu et element" tables */
  /* Fieldset */
  /* Fieldgroups */
  /* Horizontal tabs */
  /* Vertical tabs */
}
/* line 170, ../sass/custom.scss */
.page-node-add #page label, .page-node-edit #page label, .page-node #page label, .page-user #page label, .page-file #page label, .page-block #page label {
  font-size: 1.33333em;
  font-weight: normal;
  margin-bottom: 10px;
}
/* line 175, ../sass/custom.scss */
.page-node-add #page label.option, .page-node-edit #page label.option, .page-node #page label.option, .page-user #page label.option, .page-file #page label.option, .page-block #page label.option {
  font-size: 1em;
  font-weight: bold;
}
/* line 179, ../sass/custom.scss */
.page-node-add #page .customised-select, .page-node-edit #page .customised-select, .page-node #page .customised-select, .page-user #page .customised-select, .page-file #page .customised-select, .page-block #page .customised-select {
  background: url("../images/dropdown.png");
  background-repeat: no-repeat;
  width: 154px;
  height: 20px;
  padding: 1px 0 0 6px;
}
/* line 187, ../sass/custom.scss */
.page-node-add #page .link-field-column label, .page-node-edit #page .link-field-column label, .page-node #page .link-field-column label, .page-user #page .link-field-column label, .page-file #page .link-field-column label, .page-block #page .link-field-column label {
  font-size: 1em;
  font-weight: bold;
}
/* line 192, ../sass/custom.scss */
.page-node-add #page .link-attributes, .page-node-edit #page .link-attributes, .page-node #page .link-attributes, .page-user #page .link-attributes, .page-file #page .link-attributes, .page-block #page .link-attributes {
  margin: 5px 0 10px;
}
/* line 199, ../sass/custom.scss */
.page-node-add #page input[type="radio"], .page-node-edit #page input[type="radio"], .page-node #page input[type="radio"], .page-user #page input[type="radio"], .page-file #page input[type="radio"], .page-block #page input[type="radio"] {
  margin-left: 20px;
}
/* line 202, ../sass/custom.scss */
.page-node-add #page .form-text, .page-node-edit #page .form-text, .page-node #page .form-text, .page-user #page .form-text, .page-file #page .form-text, .page-block #page .form-text {
  width: 100%;
  padding: 0 0 0 1%;
  min-height: 30px;
  font-size: 13px;
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 210, ../sass/custom.scss */
.page-node-add #page .form-textarea, .page-node-edit #page .form-textarea, .page-node #page .form-textarea, .page-user #page .form-textarea, .page-file #page .form-textarea, .page-block #page .form-textarea {
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 214, ../sass/custom.scss */
.page-node-add #page .form-item-title, .page-node-edit #page .form-item-title, .page-node #page .form-item-title, .page-user #page .form-item-title, .page-file #page .form-item-title, .page-block #page .form-item-title {
  background: url("../images/dot.png") repeat-x bottom;
  padding-bottom: 30px;
  margin: 0;
}
/* line 218, ../sass/custom.scss */
.page-node-add #page .form-item-title .general_field_styling, .page-node-edit #page .form-item-title .general_field_styling, .page-node #page .form-item-title .general_field_styling, .page-user #page .form-item-title .general_field_styling, .page-file #page .form-item-title .general_field_styling, .page-block #page .form-item-title .general_field_styling {
  padding: 0 0 0 1%;
  background: none;
}
/* line 223, ../sass/custom.scss */
.page-node-add #page .date-clear, .page-node-edit #page .date-clear, .page-node #page .date-clear, .page-user #page .date-clear, .page-file #page .date-clear, .page-block #page .date-clear {
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
  font-size: 13px;
  border: 0;
  height: 26px;
  padding-left: 1%;
}
/* line 230, ../sass/custom.scss */
.page-node-add #page .date-padding, .page-node-edit #page .date-padding, .page-node #page .date-padding, .page-user #page .date-padding, .page-file #page .date-padding, .page-block #page .date-padding {
  padding: 0;
}
/* line 234, ../sass/custom.scss */
.page-node-add #page .description, .page-node-edit #page .description, .page-node #page .description, .page-user #page .description, .page-file #page .description, .page-block #page .description {
  font-size: 0.91667em;
}
/* line 237, ../sass/custom.scss */
.page-node-add #page .button.launcher, .page-node-add #page .field-add-more-submit, .page-node-add #page .form-submit, .page-node-edit #page .button.launcher, .page-node-edit #page .field-add-more-submit, .page-node-edit #page .form-submit, .page-node #page .button.launcher, .page-node #page .field-add-more-submit, .page-node #page .form-submit, .page-user #page .button.launcher, .page-user #page .field-add-more-submit, .page-user #page .form-submit, .page-file #page .button.launcher, .page-file #page .field-add-more-submit, .page-file #page .form-submit, .page-block #page .button.launcher, .page-block #page .field-add-more-submit, .page-block #page .form-submit {
  background-color: #7f9dcd;
  color: #fff;
  background-image: none;
  border: none;
  font-size: 1em;
  padding: 8px 35px 8px 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 250, ../sass/custom.scss */
.page-node-add #page #edit-actions, .page-node-edit #page #edit-actions, .page-node #page #edit-actions, .page-user #page #edit-actions, .page-file #page #edit-actions, .page-block #page #edit-actions {
  background: none;
}
/* line 253, ../sass/custom.scss */
.page-node-add #page .general_field_styling, .page-node-edit #page .general_field_styling, .page-node #page .general_field_styling, .page-user #page .general_field_styling, .page-file #page .general_field_styling, .page-block #page .general_field_styling {
  background: url("../images/dot.png") repeat-x bottom;
  padding: 30px 0;
}
/* line 258, ../sass/custom.scss */
.page-node-add #page textarea, .page-node-edit #page textarea, .page-node #page textarea, .page-user #page textarea, .page-file #page textarea, .page-block #page textarea {
  width: 100%;
  padding-left: 1%;
}
/* line 264, ../sass/custom.scss */
.page-node-add #page input.form-autocomplete, .page-node-edit #page input.form-autocomplete, .page-node #page input.form-autocomplete, .page-user #page input.form-autocomplete, .page-file #page input.form-autocomplete, .page-block #page input.form-autocomplete {
  background-position: 100% 10px;
  /* LTR */
}
/* line 267, ../sass/custom.scss */
.page-node-add #page input.throbbing, .page-node-edit #page input.throbbing, .page-node #page input.throbbing, .page-user #page input.throbbing, .page-file #page input.throbbing, .page-block #page input.throbbing {
  background-position: 100% -11px;
  /* LTR */
}
/* line 271, ../sass/custom.scss */
.page-node-add #page .field-multiple-table, .page-node-edit #page .field-multiple-table, .page-node #page .field-multiple-table, .page-user #page .field-multiple-table, .page-file #page .field-multiple-table, .page-block #page .field-multiple-table {
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
/* line 280, ../sass/custom.scss */
.page-node-add #page .field-multiple-table th, .page-node-edit #page .field-multiple-table th, .page-node #page .field-multiple-table th, .page-user #page .field-multiple-table th, .page-file #page .field-multiple-table th, .page-block #page .field-multiple-table th {
  /* background: none; */
  text-transform: none;
}
/* line 283, ../sass/custom.scss */
.page-node-add #page .field-multiple-table th label, .page-node-edit #page .field-multiple-table th label, .page-node #page .field-multiple-table th label, .page-user #page .field-multiple-table th label, .page-file #page .field-multiple-table th label, .page-block #page .field-multiple-table th label {
  margin: 0;
  padding: 0;
}
/* line 288, ../sass/custom.scss */
.page-node-add #page .field-multiple-table .field-multiple-drag, .page-node-edit #page .field-multiple-table .field-multiple-drag, .page-node #page .field-multiple-table .field-multiple-drag, .page-user #page .field-multiple-table .field-multiple-drag, .page-file #page .field-multiple-table .field-multiple-drag, .page-block #page .field-multiple-table .field-multiple-drag {
  border-right: 1px solid #dddddd;
}
/* line 290, ../sass/custom.scss */
.page-node-add #page .field-multiple-table .field-multiple-drag a, .page-node-edit #page .field-multiple-table .field-multiple-drag a, .page-node #page .field-multiple-table .field-multiple-drag a, .page-user #page .field-multiple-table .field-multiple-drag a, .page-file #page .field-multiple-table .field-multiple-drag a, .page-block #page .field-multiple-table .field-multiple-drag a {
  display: block;
  float: none;
  padding: 0;
  margin-left: 0;
}
/* line 297, ../sass/custom.scss */
.page-node-add #page .field-multiple-table tr, .page-node-edit #page .field-multiple-table tr, .page-node #page .field-multiple-table tr, .page-user #page .field-multiple-table tr, .page-file #page .field-multiple-table tr, .page-block #page .field-multiple-table tr {
  /* background: none; */
  border-bottom: 20px solid #fff;
  border-right: 0;
  border-left: 0;
  border-top: 0;
}
/* line 304, ../sass/custom.scss */
.page-node-add #page .field-multiple-table .field-name-field-accordion-title, .page-node-edit #page .field-multiple-table .field-name-field-accordion-title, .page-node #page .field-multiple-table .field-name-field-accordion-title, .page-user #page .field-multiple-table .field-name-field-accordion-title, .page-file #page .field-multiple-table .field-name-field-accordion-title, .page-block #page .field-multiple-table .field-name-field-accordion-title {
  margin-bottom: 10px;
}
/* line 310, ../sass/custom.scss */
.page-node-add #page fieldset, .page-node-edit #page fieldset, .page-node #page fieldset, .page-user #page fieldset, .page-file #page fieldset, .page-block #page fieldset {
  border: 0;
  padding: 10px 0 0 0;
}
/* line 313, ../sass/custom.scss */
.page-node-add #page fieldset .fieldset-wrapper, .page-node-edit #page fieldset .fieldset-wrapper, .page-node #page fieldset .fieldset-wrapper, .page-user #page fieldset .fieldset-wrapper, .page-file #page fieldset .fieldset-wrapper, .page-block #page fieldset .fieldset-wrapper {
  padding: 0;
}
/* line 316, ../sass/custom.scss */
.page-node-add #page fieldset label, .page-node-edit #page fieldset label, .page-node #page fieldset label, .page-user #page fieldset label, .page-file #page fieldset label, .page-block #page fieldset label {
  font-size: 1em;
  font-weight: bold;
}
/* line 320, ../sass/custom.scss */
.page-node-add #page fieldset .fieldset-legend, .page-node-edit #page fieldset .fieldset-legend, .page-node #page fieldset .fieldset-legend, .page-user #page fieldset .fieldset-legend, .page-file #page fieldset .fieldset-legend, .page-block #page fieldset .fieldset-legend {
  padding: 0;
  text-transform: none;
  font-weight: normal;
  font-size: 1.33333em;
}
/* line 325, ../sass/custom.scss */
.page-node-add #page fieldset .fieldset-legend a, .page-node-edit #page fieldset .fieldset-legend a, .page-node #page fieldset .fieldset-legend a, .page-user #page fieldset .fieldset-legend a, .page-file #page fieldset .fieldset-legend a, .page-block #page fieldset .fieldset-legend a {
  padding-left: 20px;
}
/* line 331, ../sass/custom.scss */
.page-node-add #page .field-type-datestamp .fieldset-legend, .page-node-edit #page .field-type-datestamp .fieldset-legend, .page-node #page .field-type-datestamp .fieldset-legend, .page-user #page .field-type-datestamp .fieldset-legend, .page-file #page .field-type-datestamp .fieldset-legend, .page-block #page .field-type-datestamp .fieldset-legend {
  padding: 0;
  text-transform: none;
  font-weight: normal;
  font-size: 1.33333em;
}
/* line 339, ../sass/custom.scss */
.page-node-add #page .field-group-fieldset, .page-node-edit #page .field-group-fieldset, .page-node #page .field-group-fieldset, .page-user #page .field-group-fieldset, .page-file #page .field-group-fieldset, .page-block #page .field-group-fieldset {
  margin: 30px 0 0 0;
  background: url("../images/dot.png") repeat-x bottom;
  padding-bottom: 30px;
}
/* line 343, ../sass/custom.scss */
.page-node-add #page .field-group-fieldset .fieldset-legend, .page-node-edit #page .field-group-fieldset .fieldset-legend, .page-node #page .field-group-fieldset .fieldset-legend, .page-user #page .field-group-fieldset .fieldset-legend, .page-file #page .field-group-fieldset .fieldset-legend, .page-block #page .field-group-fieldset .fieldset-legend {
  padding: 0;
  text-transform: none;
  font-size: 1.33333em;
  font-weight: normal;
}
/* line 349, ../sass/custom.scss */
.page-node-add #page .field-group-fieldset .fieldset-wrapper, .page-node-edit #page .field-group-fieldset .fieldset-wrapper, .page-node #page .field-group-fieldset .fieldset-wrapper, .page-user #page .field-group-fieldset .fieldset-wrapper, .page-file #page .field-group-fieldset .fieldset-wrapper, .page-block #page .field-group-fieldset .fieldset-wrapper {
  padding-left: 20px;
}
/* line 351, ../sass/custom.scss */
.page-node-add #page .field-group-fieldset .fieldset-wrapper .general_field_styling, .page-node-edit #page .field-group-fieldset .fieldset-wrapper .general_field_styling, .page-node #page .field-group-fieldset .fieldset-wrapper .general_field_styling, .page-user #page .field-group-fieldset .fieldset-wrapper .general_field_styling, .page-file #page .field-group-fieldset .fieldset-wrapper .general_field_styling, .page-block #page .field-group-fieldset .fieldset-wrapper .general_field_styling {
  background: none;
  padding: 15px 0;
}
/* line 355, ../sass/custom.scss */
.page-node-add #page .field-group-fieldset .fieldset-wrapper .general_field_styling .media-widget .form-item, .page-node-edit #page .field-group-fieldset .fieldset-wrapper .general_field_styling .media-widget .form-item, .page-node #page .field-group-fieldset .fieldset-wrapper .general_field_styling .media-widget .form-item, .page-user #page .field-group-fieldset .fieldset-wrapper .general_field_styling .media-widget .form-item, .page-file #page .field-group-fieldset .fieldset-wrapper .general_field_styling .media-widget .form-item, .page-block #page .field-group-fieldset .fieldset-wrapper .general_field_styling .media-widget .form-item {
  padding-bottom: 5px;
}
/* line 360, ../sass/custom.scss */
.page-node-add #page .field-group-fieldset .fieldset-wrapper label, .page-node-edit #page .field-group-fieldset .fieldset-wrapper label, .page-node #page .field-group-fieldset .fieldset-wrapper label, .page-user #page .field-group-fieldset .fieldset-wrapper label, .page-file #page .field-group-fieldset .fieldset-wrapper label, .page-block #page .field-group-fieldset .fieldset-wrapper label {
  font-size: 1em;
  font-weight: bold;
}
/* line 364, ../sass/custom.scss */
.page-node-add #page .field-group-fieldset .fieldset-wrapper .form-item, .page-node-edit #page .field-group-fieldset .fieldset-wrapper .form-item, .page-node #page .field-group-fieldset .fieldset-wrapper .form-item, .page-user #page .field-group-fieldset .fieldset-wrapper .form-item, .page-file #page .field-group-fieldset .fieldset-wrapper .form-item, .page-block #page .field-group-fieldset .fieldset-wrapper .form-item {
  margin: 0;
  padding: 0;
}
/* line 371, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper, .page-node-edit #page .field-group-htabs-wrapper, .page-node #page .field-group-htabs-wrapper, .page-user #page .field-group-htabs-wrapper, .page-file #page .field-group-htabs-wrapper, .page-block #page .field-group-htabs-wrapper {
  padding: 30px 0;
}
/* line 373, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper .general_field_styling, .page-node-edit #page .field-group-htabs-wrapper .general_field_styling, .page-node #page .field-group-htabs-wrapper .general_field_styling, .page-user #page .field-group-htabs-wrapper .general_field_styling, .page-file #page .field-group-htabs-wrapper .general_field_styling, .page-block #page .field-group-htabs-wrapper .general_field_styling {
  background: none;
  padding: 0;
}
/* line 377, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper .horizontal-tabs, .page-node-edit #page .field-group-htabs-wrapper .horizontal-tabs, .page-node #page .field-group-htabs-wrapper .horizontal-tabs, .page-user #page .field-group-htabs-wrapper .horizontal-tabs, .page-file #page .field-group-htabs-wrapper .horizontal-tabs, .page-block #page .field-group-htabs-wrapper .horizontal-tabs {
  border: 0;
}
/* line 379, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list, .page-node-edit #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list, .page-node #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list, .page-user #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list, .page-file #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list, .page-block #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list {
  border-right: 0;
  border-bottom: 1px solid #d8d8d8;
  background-color: transparent;
}
/* line 383, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li, .page-node-edit #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li, .page-node #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li, .page-user #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li, .page-file #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li, .page-block #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li {
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-radius: 8px 8px 0 0;
  background-color: #dddddd;
  padding: 0 18px 3px;
  margin-right: 5px;
  margin-top: 10px;
  outline: 0;
}
/* line 393, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a, .page-node-edit #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a, .page-node #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a, .page-user #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a, .page-file #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a, .page-block #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a {
  color: #000;
  font-weight: normal;
  outline: 0;
}
/* line 397, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a strong, .page-node-edit #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a strong, .page-node #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a strong, .page-user #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a strong, .page-file #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a strong, .page-block #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a strong {
  font-weight: normal;
}
/* line 401, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a:hover, .page-node-edit #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a:hover, .page-node #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a:hover, .page-user #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a:hover, .page-file #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a:hover, .page-block #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list li a:hover {
  background-color: transparent;
  outline: 0;
}
/* line 407, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list .selected, .page-node-edit #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list .selected, .page-node #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list .selected, .page-user #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list .selected, .page-file #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list .selected, .page-block #page .field-group-htabs-wrapper .horizontal-tabs .horizontal-tabs-list .selected {
  background-color: #fff;
  border-top: 1px solid #eeeeee;
  border-bottom: 0;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 0 18px 2px;
}
/* line 416, ../sass/custom.scss */
.page-node-add #page .field-group-htabs-wrapper .horizontal-tabs .field-group-fieldset, .page-node-edit #page .field-group-htabs-wrapper .horizontal-tabs .field-group-fieldset, .page-node #page .field-group-htabs-wrapper .horizontal-tabs .field-group-fieldset, .page-user #page .field-group-htabs-wrapper .horizontal-tabs .field-group-fieldset, .page-file #page .field-group-htabs-wrapper .horizontal-tabs .field-group-fieldset, .page-block #page .field-group-htabs-wrapper .horizontal-tabs .field-group-fieldset {
  background: none;
}
/* line 422, ../sass/custom.scss */
.page-node-add #page .vertical-tabs, .page-node-edit #page .vertical-tabs, .page-node #page .vertical-tabs, .page-user #page .vertical-tabs, .page-file #page .vertical-tabs, .page-block #page .vertical-tabs {
  margin-top: 30px;
}
/* line 424, ../sass/custom.scss */
.page-node-add #page .vertical-tabs .general_field_styling, .page-node-edit #page .vertical-tabs .general_field_styling, .page-node #page .vertical-tabs .general_field_styling, .page-user #page .vertical-tabs .general_field_styling, .page-file #page .vertical-tabs .general_field_styling, .page-block #page .vertical-tabs .general_field_styling {
  background: none;
  padding: 0;
}
/* line 428, ../sass/custom.scss */
.page-node-add #page .vertical-tabs .form-text, .page-node-edit #page .vertical-tabs .form-text, .page-node #page .vertical-tabs .form-text, .page-user #page .vertical-tabs .form-text, .page-file #page .vertical-tabs .form-text, .page-block #page .vertical-tabs .form-text {
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
  height: 30px;
}
/* line 432, ../sass/custom.scss */
.page-node-add #page .vertical-tabs .vertical-tab-button-error, .page-node-edit #page .vertical-tabs .vertical-tab-button-error, .page-node #page .vertical-tabs .vertical-tab-button-error, .page-user #page .vertical-tabs .vertical-tab-button-error, .page-file #page .vertical-tabs .vertical-tab-button-error, .page-block #page .vertical-tabs .vertical-tab-button-error {
  border: 2px solid red;
}

/*------------------------------------------------------------------

	Workbench

-------------------------------------------------------------------*/
/* line 446, ../sass/custom.scss */
.page-admin-workbench #page {
  min-width: 960px;
}
/* line 449, ../sass/custom.scss */
.page-admin-workbench #page .tabs-secondary .min-profil {
  float: right;
  width: 28%;
}
/* line 452, ../sass/custom.scss */
.page-admin-workbench #page .tabs-secondary .min-profil li {
  float: left;
  display: block;
  margin-right: 10px;
}
/* line 456, ../sass/custom.scss */
.page-admin-workbench #page .tabs-secondary .min-profil li a {
  background-color: #ddd;
  color: #000;
  display: inline-block;
  border-radius: 7px;
  padding: 2px 10px;
}
/* line 468, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_top .left {
  float: left;
  width: 75%;
  padding-right: 40px;
  box-sizing: border-box;
}
/* line 474, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_top .right {
  float: left;
  width: 25%;
}
/* line 477, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_top .right .view-content {
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
}
/* line 479, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_top .right .view-content h4 {
  padding: 10px;
  border-bottom: 1px solid #bcbdbd;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  height: 19px;
  background-color: #dddddd;
  text-transform: uppercase;
  vertical-align: middle;
}
/* line 490, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_top .right .view-content .views-field.views-field-picture {
  padding: 10px 10px 0 10px;
}
/* line 493, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_top .right .view-content .views-field.views-field-field-user-jobtitel {
  padding: 0 10px 0 10px;
  font-style: italic;
  margin: 10px 0;
}
/* line 498, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_top .right .view-content .views-field.views-field-field-user-tlf, .page-admin-workbench #page #min_profil_side .min_profil_top .right .view-content .views-field.views-field-mail {
  padding: 0 10px 0 10px;
}
/* line 501, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_top .right .view-content .views-field.views-field-mail {
  padding-bottom: 10px;
}
/* line 504, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_top .right .view-content p {
  margin: 0;
}
/* line 511, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_middle .needs_attention {
  float: left;
  width: 75%;
  padding-right: 40px;
  box-sizing: border-box;
}
/* line 517, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_middle #block-block-16 {
  float: left;
  width: 25%;
  margin-top: 69px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
}
/* line 523, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_middle #block-block-16 h2 {
  padding: 10px;
  border-bottom: 1px solid #bcbdbd;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  height: 19px;
  background-color: #dddddd;
  text-transform: uppercase;
  vertical-align: middle;
}
/* line 534, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_middle #block-block-16 .content {
  padding: 10px;
}
/* line 537, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_middle #block-block-16 p {
  margin: 0;
}
/* line 543, ../sass/custom.scss */
.page-admin-workbench #page #min_profil_side .min_profil_bottom .all_recent_content, .page-admin-workbench #page #min_profil_side .min_profil_bottom .content_without_moderation {
  float: left;
  width: 100%;
}

/*------------------------------------------------------------------

	WYSIWYG editor

-------------------------------------------------------------------*/
/* line 564, ../sass/custom.scss */
.page-node #page .mceEditor .mceLayout .mce_removeformat {
  display: none;
}
/* line 567, ../sass/custom.scss */
.page-node #page .mceEditor .mceLayout .mce_pasteword {
  display: none;
}
/* line 570, ../sass/custom.scss */
.page-node #page .mceEditor .mceLayout .mce_paste {
  display: none;
}
/* line 573, ../sass/custom.scss */
.page-node #page .mceEditor .mceLayout .mceFirst {
  background: #f6f6f6;
}
/* line 576, ../sass/custom.scss */
.page-node #page .mceEditor .mceLayout .mceIframeContainer.mceFirst.mceLast {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
/* line 580, ../sass/custom.scss */
.page-node #page .mceEditor .mceLayout .mceListBox {
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
/* line 594, ../sass/custom.scss */
.page-node #page .filter-wrapper label {
  font-size: 12px;
  font-weight: bold;
}

/*------------------------------------------------------------------

	Breadcrumbs
	
-------------------------------------------------------------------*/
/* line 610, ../sass/custom.scss */
#branding .breadcrumb {
  font-size: 0.91667em;
  line-height: 1.5;
  color: #474747;
  margin-bottom: 15px;
  padding-bottom: 0;
  margin-left: 5px;
  text-shadow: white 1px 1px 1px;
}
/* line 618, ../sass/custom.scss */
#branding .breadcrumb a, #branding .breadcrumb strong {
  color: #474747;
  text-decoration: none;
  position: relative;
  top: -1px;
}
/* line 624, ../sass/custom.scss */
#branding .breadcrumb span {
  font-size: 1.25em;
}

/*------------------------------------------------------------------

	Views 
	
-------------------------------------------------------------------*/
/* line 635, ../sass/custom.scss */
.views-exposed-form .form-item {
  padding: 0;
}

/*------------------------------------------------------------------

	Media module
	
-------------------------------------------------------------------*/
/* line 646, ../sass/custom.scss */
.page-media .form-submit, .page-media a.button {
  background-color: #7f9dcd;
  color: #fff;
  background-image: none;
  border: none;
  font-size: 1em;
  padding: 8px 35px 8px 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 659, ../sass/custom.scss */
.page-media input[type="file"] {
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
  border: 0;
  margin-right: 20px;
}

/* line 667, ../sass/custom.scss */
.page-node .media-widget .preview {
  margin: 0;
}
/* line 669, ../sass/custom.scss */
.page-node .media-widget .preview > div {
  margin-right: 15px;
}
/* line 673, ../sass/custom.scss */
.page-node .media-widget .button {
  background-color: #7f9dcd;
  color: #fff;
  background-image: none;
  border: none;
  font-size: 1em;
  padding: 8px 35px 8px 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}

/* line 692, ../sass/custom.scss */
#file-entity-edit .chzn-choices input[type="text"], #file-entity-edit .chzn-drop input[type="text"], #file-entity-edit--2 .chzn-choices input[type="text"], #file-entity-edit--2 .chzn-drop input[type="text"] {
  border-radius: 0;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: transparent 0 0 0;
  -moz-box-shadow: transparent 0 0 0;
  box-shadow: transparent 0 0 0;
}
/* line 704, ../sass/custom.scss */
#file-entity-edit input[type="text"], #file-entity-edit--2 input[type="text"] {
  width: 50%;
  padding: 0 0 0 1%;
  min-height: 30px;
  border: none;
  background-color: white;
  border: 1px solid #bebfb9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* @include box-shadow(rgba(black, 0.85) 0 0 3px); */
  font-size: 13px;
}
/* line 712, ../sass/custom.scss */
#file-entity-edit input[type="submit"], #file-entity-edit--2 input[type="submit"] {
  background-color: #7f9dcd;
  color: #fff;
  background-image: none;
  border: none;
  font-size: 1em;
  padding: 8px 35px 8px 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 725, ../sass/custom.scss */
#file-entity-edit .button-no, #file-entity-edit--2 .button-no {
  background-color: #7f9dcd;
  color: #fff;
  background-image: none;
  border: none;
  font-size: 1em;
  padding: 8px 35px 8px 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 740, ../sass/custom.scss */
.media-modal-frame .page-file {
  background-color: #fff;
}

/* line 745, ../sass/custom.scss */
#media-browser-page #branding {
  background: #fff;
}

/*------------------------------------------------------------------

	BEAN
	
-------------------------------------------------------------------*/
/* line 757, ../sass/custom.scss */
.page-block #bean-form .form-item-is-new-revision, .page-block #bean-form .form-item-default-revision, .page-block #bean-form .form-item-view-mode {
  display: none;
}
/* line 761, ../sass/custom.scss */
.page-block #bean-form #edit-log-wrapper .form-item {
  display: none;
}
/* line 766, ../sass/custom.scss */
.page-block #bean-form .form-item-default-revision input, .page-block #bean-form .form-item-default-revision label {
  display: none;
}

/*------------------------------------------------------------------

	User profile
	
-------------------------------------------------------------------*/
/* line 781, ../sass/custom.scss */
.page-user #page #user-profile-form .fieldset-wrapper {
  padding-top: 30px;
}

/*------------------------------------------------------------------

	Node Edit
	
-------------------------------------------------------------------*/
/* line 795, ../sass/custom.scss */
.page-node-edit #page .field-multiple-table,
.page-node-add #page .field-multiple-table {
  /* Style secondary buttons */
}
/* line 797, ../sass/custom.scss */
.page-node-edit #page .field-multiple-table tr.draggable > td,
.page-node-add #page .field-multiple-table tr.draggable > td {
  padding: 15px 25px;
  /* Section Type Headline */
}
/* line 800, ../sass/custom.scss */
.page-node-edit #page .field-multiple-table tr.draggable > td > .form-wrapper:first-child,
.page-node-edit #page .field-multiple-table tr.draggable > td > .ajax-new-content > .form-wrapper:first-child,
.page-node-add #page .field-multiple-table tr.draggable > td > .form-wrapper:first-child,
.page-node-add #page .field-multiple-table tr.draggable > td > .ajax-new-content > .form-wrapper:first-child {
  margin-top: 5px;
  margin-bottom: 15px;
}
/* line 804, ../sass/custom.scss */
.page-node-edit #page .field-multiple-table tr.draggable > td > .form-wrapper:first-child em,
.page-node-edit #page .field-multiple-table tr.draggable > td > .ajax-new-content > .form-wrapper:first-child em,
.page-node-add #page .field-multiple-table tr.draggable > td > .form-wrapper:first-child em,
.page-node-add #page .field-multiple-table tr.draggable > td > .ajax-new-content > .form-wrapper:first-child em {
  font-weight: bold;
  font-style: normal;
}
/* line 810, ../sass/custom.scss */
.page-node-edit #page .field-multiple-table tr.draggable > td.field-multiple-drag,
.page-node-add #page .field-multiple-table tr.draggable > td.field-multiple-drag {
  padding: 15px 5px;
}
/* line 813, ../sass/custom.scss */
.page-node-edit #page .field-multiple-table tr.draggable div[class^="field-type-"],
.page-node-add #page .field-multiple-table tr.draggable div[class^="field-type-"] {
  margin-bottom: 15px;
}
/* line 816, ../sass/custom.scss */
.page-node-edit #page .field-multiple-table tr.draggable .form-actions,
.page-node-add #page .field-multiple-table tr.draggable .form-actions {
  margin-bottom: 0;
}
/* line 820, ../sass/custom.scss */
.page-node-edit #page .field-multiple-table input.field-add-more-submit,
.page-node-add #page .field-multiple-table input.field-add-more-submit {
  margin: 15px 0 15px;
}
/* line 824, ../sass/custom.scss */
.page-node-edit #page .field-multiple-table input.field-add-more-submit,
.page-node-edit #page .field-multiple-table input.remove,
.page-node-edit #page .field-multiple-table a.button.edit,
.page-node-edit #page .field-multiple-table a.button.browse,
.page-node-edit #page .field-multiple-table table[id*='field-main-accordion-values'] input[type=submit],
.page-node-edit #page .field-multiple-table .field-name-field-sec-nav-elment input[type=submit],
.page-node-edit #page .field-multiple-table .manualcrop-style-button,
.page-node-add #page .field-multiple-table input.field-add-more-submit,
.page-node-add #page .field-multiple-table input.remove,
.page-node-add #page .field-multiple-table a.button.edit,
.page-node-add #page .field-multiple-table a.button.browse,
.page-node-add #page .field-multiple-table table[id*='field-main-accordion-values'] input[type=submit],
.page-node-add #page .field-multiple-table .field-name-field-sec-nav-elment input[type=submit],
.page-node-add #page .field-multiple-table .manualcrop-style-button {
  background: #bbb;
}
/* line 834, ../sass/custom.scss */
.page-node-edit #page .form-item-field-main-paragraphs-add-more-type,
.page-node-add #page .form-item-field-main-paragraphs-add-more-type {
  margin: 25px 0 0;
}

/*------------------------------------------------------------------

	Rebildporten newsletter
	
-------------------------------------------------------------------*/
/* line 847, ../sass/custom.scss */
.page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-header ul.action-links {
  margin-bottom: 2em;
}
/* line 849, ../sass/custom.scss */
.page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-header ul.action-links li {
  background-color: #7f9dcd;
  color: #fff;
  background-image: none;
  border: none;
  font-size: 1em;
  padding: 8px 35px 8px 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
}
/* line 862, ../sass/custom.scss */
.page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-header ul.action-links li a {
  color: #ffffff;
  background: none;
  padding: 0;
}
/* line 869, ../sass/custom.scss */
.page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-header .fieldset-legend {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 874, ../sass/custom.scss */
.page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-filters {
  margin-bottom: 2em;
}
/* line 876, ../sass/custom.scss */
.page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-filters .views-submit-button, .page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-filters .views-reset-button {
  padding-top: 0;
  padding-right: 0;
  position: relative;
  height: 43px;
}
/* line 881, ../sass/custom.scss */
.page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-filters .views-submit-button input, .page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-filters .views-reset-button input {
  position: absolute;
  bottom: 0;
  margin: 0;
}
/* line 887, ../sass/custom.scss */
.page-admin-br-nyhedsbreve .view-rebildporten-content-list .view-filters .views-submit-button {
  padding-right: 7em;
}
