@charset "UTF-8";
/* Partials from main theme */
/*------------------------------------------------------------------

[FONTS]

-------------------------------------------------------------------*/
@font-face {
  font-family: 'Rebild';
  src: url("../fonts/Rebild.eot");
  src: url("../fonts/Rebild.eot?#iefix") format("embedded-opentype"), url("../fonts/Rebild.svg#Rebild") format("svg"), url("../fonts/Rebild.woff") format("woff"), url("../fonts/Rebild.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 33, ../../rebild/sass/partials/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'Rebild';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * UDSKIFT KUN LINJERNE HERUNDER, NåR DER SKAL OPDATERS
 */
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 48, ../../rebild/sass/partials/_fonts.scss */
.icon-pencil:before {
  content: "\e905";
}

/* line 52, ../../rebild/sass/partials/_fonts.scss */
.icon-folder:before {
  content: "\e92f";
}

/* line 56, ../../rebild/sass/partials/_fonts.scss */
.icon-folder-open:before {
  content: "\e930";
}

/* line 60, ../../rebild/sass/partials/_fonts.scss */
.icon-folder-plus:before {
  content: "\e931";
}

/* line 64, ../../rebild/sass/partials/_fonts.scss */
.icon-bin:before {
  content: "\e9ac";
}

/* line 68, ../../rebild/sass/partials/_fonts.scss */
.icon-mega-phone:before {
  content: "\e601";
}

/* line 72, ../../rebild/sass/partials/_fonts.scss */
.icon-mobil_logo:before {
  content: "\e007";
}

/* line 76, ../../rebild/sass/partials/_fonts.scss */
.icon-printer:before {
  content: "\e011";
}

/* line 80, ../../rebild/sass/partials/_fonts.scss */
.icon-volume:before {
  content: "\e012";
}

/* line 84, ../../rebild/sass/partials/_fonts.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 88, ../../rebild/sass/partials/_fonts.scss */
.icon-search:before {
  content: "\e013";
}

/* line 92, ../../rebild/sass/partials/_fonts.scss */
.icon-plus2:before {
  content: "\e00f";
}

/* line 96, ../../rebild/sass/partials/_fonts.scss */
.icon-minus2:before {
  content: "\e010";
}

/* line 100, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-down2:before {
  content: "\e003";
}

/* line 104, ../../rebild/sass/partials/_fonts.scss */
.icon-bottom_logo:before {
  content: "\e009";
}

/* line 108, ../../rebild/sass/partials/_fonts.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 112, ../../rebild/sass/partials/_fonts.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 116, ../../rebild/sass/partials/_fonts.scss */
.icon-home:before {
  content: "\e005";
}

/* line 120, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 124, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 128, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 132, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 136, ../../rebild/sass/partials/_fonts.scss */
.icon-images:before {
  content: "\e00e";
}

/* line 140, ../../rebild/sass/partials/_fonts.scss */
.icon-menu:before {
  content: "\e000";
}

/* line 144, ../../rebild/sass/partials/_fonts.scss */
.icon-pil2:before {
  content: "\e014";
}

/* line 148, ../../rebild/sass/partials/_fonts.scss */
.icon-angle-right:before {
  content: "\e006";
}

/* line 152, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-left2:before {
  content: "\e004";
}

/* line 156, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-up2:before {
  content: "\e002";
}

/* line 160, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-right2:before {
  content: "\e001";
}

/* line 164, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 168, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 172, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 176, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 180, ../../rebild/sass/partials/_fonts.scss */
.icon-close:before {
  content: "\e008";
}

/* line 184, ../../rebild/sass/partials/_fonts.scss */
.icon-plus:before {
  content: "\e00a";
}

/* line 188, ../../rebild/sass/partials/_fonts.scss */
.icon-minus:before {
  content: "\e00c";
}

/* line 192, ../../rebild/sass/partials/_fonts.scss */
.icon-compass:before {
  content: "\e00d";
}

/* line 196, ../../rebild/sass/partials/_fonts.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 200, ../../rebild/sass/partials/_fonts.scss */
.icon-rss:before {
  content: "\f09f";
}

/* line 204, ../../rebild/sass/partials/_fonts.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 208, ../../rebild/sass/partials/_fonts.scss */
.icon-og_bliv_her2:before {
  content: "\e600";
}

/* Variables from main theme */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

Blocks
Backend

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Blocks
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Input
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Backend
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Nodes
-------------------------------------------------------------------*/
/**
 * Resets
 */
/* line 13, ../sass/media_browser.scss */
#media-browser-library-list li {
  width: 100%;
  display: block;
  float: left;
  position: relative;
  margin: 0;
}
/* line 20, ../sass/media_browser.scss */
#media-browser-library-list .media-item.selected {
  background: none;
}
/* line 23, ../sass/media_browser.scss */
#media-browser-library-list .form-type-checkbox {
  bottom: 0;
  left: 0;
  float: left;
  width: 5%;
}
/* line 28, ../sass/media_browser.scss */
#media-browser-library-list .form-type-checkbox input {
  display: inline-block !important;
}
/* line 34, ../sass/media_browser.scss */
#media-browser-library-list #draggingContainer .form-type-checkbox input {
  display: none !important;
}
/* line 39, ../sass/media_browser.scss */
#media-browser-library-list .file-icon {
  margin: 0 0 -3px 0;
}
/* line 42, ../sass/media_browser.scss */
#media-browser-library-list .label-wrapper {
  display: none;
}

/**
 * Local Actions
 */
/* line 50, ../sass/media_browser.scss */
ul.action-links {
  padding: 0;
}
/* line 52, ../sass/media_browser.scss */
ul.action-links .upload-button {
  color: white;
  background: #68a386;
  padding-left: 0;
  display: block;
  padding: 3px 14px;
  line-height: 1.85em;
  border: 1px solid #5b9679;
}
/* line 60, ../sass/media_browser.scss */
ul.action-links .upload-button:hover {
  text-decoration: none;
  background: #5b9679;
}

/**
 * Controls / Actions / Filters
 */
/* line 70, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus #edit-select {
  display: none;
}

/* line 73, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .vbo-fieldset-select-all {
  width: 100%;
  padding-left: 15px;
  text-align: left;
  box-sizing: border-box;
}

/* line 81, ../sass/media_browser.scss */
.view-media-browser-plus-customized .view-footer .form-submit {
  background-color: #7f9dcd;
  color: #fff;
  background-image: none;
  border: none;
  font-size: 1em;
  padding: 8px 16px 8px 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 94, ../sass/media_browser.scss */
.view-media-browser-plus-customized .view-footer .mbp-action-delete {
  /* background: #8c2e0b; */
}

/**
 * Table
 */
/* line 103, ../sass/media_browser.scss */
.page-admin-content-file table {
  border: 1px solid #ccc !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/**
 * Toolbar
 */
/* line 113, ../sass/media_browser.scss */
.mbp-toolbar-folders,
.mbp-toolbar-files {
  border-top: 1px solid #ccc !important;
  border-bottom: 1px dashed #ddd !important;
}
/* line 117, ../sass/media_browser.scss */
.mbp-toolbar-folders input.form-submit, .mbp-toolbar-folders a.button,
.mbp-toolbar-files input.form-submit,
.mbp-toolbar-files a.button {
  margin: 0 10px 0 0;
  font-size: 11px;
  padding: 4px 12px;
  outline: none;
  border-bottom: 1px solid #d2d2d2;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 124, ../sass/media_browser.scss */
.mbp-toolbar-folders input.form-submit:active, .mbp-toolbar-folders a.button:active,
.mbp-toolbar-files input.form-submit:active,
.mbp-toolbar-files a.button:active {
  background: #eeeeee;
  border-color: #d2d2d2;
  color: black;
  text-shadow: none;
}

/* line 132, ../sass/media_browser.scss */
.mbp-toolbar-folders {
  border-right: 1px solid #d2d2d2 !important;
}

/**
 * Folders
 */
/* line 139, ../sass/media_browser.scss */
.mbp-folders {
  border-right: 1px solid #d2d2d2 !important;
  padding: 0;
}

/* line 146, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
/* line 151, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .folder-name,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .folder-name {
  height: 20px;
  line-height: 24px;
  padding: 5px 8px 5px 37px;
  color: #555;
}
/* line 156, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .folder-name .icon,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .folder-name .icon {
  background: none !important;
  width: auto;
  position: absolute;
  top: 5px;
  left: 10px;
}
/* line 163, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .folder-name .icon:before,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .folder-name .icon:before {
  content: "\e92f";
  font-size: 20px;
  font-family: 'Rebild';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 170, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .folder-name.ui-droppable .ajax-progress-throbber,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .folder-name.ui-droppable .ajax-progress-throbber {
  margin-top: 4px;
}
/* line 174, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .ajax-progress-throbber,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .ajax-progress-throbber {
  margin-top: 8px;
}
/* line 179, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li.active > div.folder-name,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li.active > div.folder-name {
  background-color: #eeeeee;
}
/* line 181, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li.active > div.folder-name .icon:before,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li.active > div.folder-name .icon:before {
  content: "\e930";
  color: #7f9dcd;
}
/* line 189, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li.open > div.folder-name .icon:before,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li.open > div.folder-name .icon:before {
  content: "\e930";
}

/**
 * Files
 */
/* line 200, ../sass/media_browser.scss */
.view td.mbp-file-list {
  padding: 0;
  padding-left: 0;
}

/* line 204, ../sass/media_browser.scss */
#media-browser-library-list {
  margin: 0;
}

/* line 207, ../sass/media_browser.scss */
#media-browser-library-list li:nth-child(odd) {
  background: #fafafa;
}

/* line 210, ../sass/media_browser.scss */
#media-browser-library-list li.selected {
  background: #FFFFDC;
}

/* line 213, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  padding: 12px 15px;
  box-sizing: border-box;
  cursor: pointer;
}
/* line 221, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .media-item {
  float: left;
  width: 46%;
  border: none;
  padding: 0;
  background: transparent;
  box-shadow: none;
}
/* line 228, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .media-item img {
  display: inline-block;
}
/* line 231, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .media-item a:hover {
  text-decoration: underline;
}
/* line 235, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .media-item.selected {
  background: #FFFFDC;
}
/* line 238, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .form-item {
  margin: 0;
}
/* line 241, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-filesize {
  float: left;
  width: 12%;
}
/* line 245, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-user {
  float: left;
  width: 20%;
}
/* line 248, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-user a:hover {
  text-decoration: underline;
}
/* line 252, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-actions {
  float: left;
  width: 12%;
  text-align: left;
}
/* line 256, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-actions a {
  color: #888;
  font-size: 1.25em;
  margin: 0 5px 0 0;
}
/* line 261, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-actions a:hover {
  color: #bbb;
}
/* line 265, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-use {
  width: 5%;
  float: left;
}
/* line 268, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-use a:hover {
  text-decoration: underline;
}

/* line 275, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview .media-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  padding: 12px 15px;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 287, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview .media-item img {
  display: inline-block;
}
/* line 291, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview .media-item.selected {
  background: #FFFFDC !important;
  border-color: #f0f0f0;
}
/* line 295, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview .media-item:hover {
  border-color: #f0f0f0;
}

/* Active Draggable Element */
/* line 301, ../sass/media_browser.scss */
#draggingContainer {
  max-width: 500px;
  min-width: 300px;
}
/* line 304, ../sass/media_browser.scss */
#draggingContainer .media-item {
  width: 100%;
}
/* line 307, ../sass/media_browser.scss */
#draggingContainer .doc-actions,
#draggingContainer .doc-filesize {
  display: none !important;
}

/**
 * LinkIt
 */
/* line 316, ../sass/media_browser.scss */
.form-item-linkit-class {
  display: none;
}

/*
========================================================================== 
	File Form
========================================================================== 
*/
/* line 327, ../sass/media_browser.scss */
.page-file-edit #file-entity-edit .form-text.required {
  width: 50%;
}

/* line 334, ../sass/media_browser.scss */
.media-bulk-upload-multiedit-form h2 {
  background: url("../images/dot.png") repeat-x top;
  padding-top: 30px;
}
/* line 338, ../sass/media_browser.scss */
.media-bulk-upload-multiedit-form h2:first-child {
  background: none;
  padding-top: 0;
  margin-top: 0;
}
/* line 343, ../sass/media_browser.scss */
.media-bulk-upload-multiedit-form .file-form {
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

/*
========================================================================== 
	File Usage Table
========================================================================== 
*/
/* line 358, ../sass/media_browser.scss */
.page-file-usage .region-content table th:nth-child(1) {
  width: 50%;
}
/* line 361, ../sass/media_browser.scss */
.page-file-usage .region-content table th:nth-child(2),
.page-file-usage .region-content table th:nth-child(3),
.page-file-usage .region-content table td:nth-child(2),
.page-file-usage .region-content table td:nth-child(3) {
  display: none;
}
