@charset "UTF-8";
/* Partials from main theme */
/*------------------------------------------------------------------

[FONTS]

-------------------------------------------------------------------*/
@font-face {
  font-family: 'Rebild';
  src: url("../fonts/Rebild.eot?389so7");
  src: url("../fonts/Rebild.eot?#iefix389so7") format("embedded-opentype"), url("../fonts/Rebild.woff2?389so7") format("woff2"), url("../fonts/Rebild.woff?389so7") format("woff"), url("../fonts/Rebild.ttf?389so7") format("truetype"), url("../fonts/Rebild.svg?389so7#Rebild") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 34, ../../rebild/sass/partials/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'Rebild';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * UDSKIFT KUN LINJERNE HERUNDER, NåR DER SKAL OPDATERS
 */
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 49, ../../rebild/sass/partials/_fonts.scss */
.icon-brand:before {
  content: "\e90e";
  color: #3b5998;
}

/* line 53, ../../rebild/sass/partials/_fonts.scss */
.icon-instagram:before {
  content: "\e900";
}

/* line 56, ../../rebild/sass/partials/_fonts.scss */
.icon-youtube:before {
  content: "\e901";
}

/* line 59, ../../rebild/sass/partials/_fonts.scss */
.icon-google-plus:before {
  content: "\e902";
}

/* line 62, ../../rebild/sass/partials/_fonts.scss */
.icon-facebook2:before {
  content: "\e903";
}

/* line 65, ../../rebild/sass/partials/_fonts.scss */
.icon-linkedin:before {
  content: "\e904";
}

/* line 68, ../../rebild/sass/partials/_fonts.scss */
.icon-twitter:before {
  content: "\e906";
}

/* line 71, ../../rebild/sass/partials/_fonts.scss */
.icon-english-flag .path1:before {
  content: "\e908";
  color: white;
}

/* line 75, ../../rebild/sass/partials/_fonts.scss */
.icon-english-flag .path2:before {
  content: "\e909";
  margin-left: -1.1318359375em;
  color: #d00f14;
}

/* line 80, ../../rebild/sass/partials/_fonts.scss */
.icon-english-flag .path3:before {
  content: "\e90a";
  margin-left: -1.1318359375em;
  color: #d00f14;
}

/* line 85, ../../rebild/sass/partials/_fonts.scss */
.icon-english-flag .path4:before {
  content: "\e90b";
  margin-left: -1.1318359375em;
  color: #00305b;
}

/* line 90, ../../rebild/sass/partials/_fonts.scss */
.icon-danish-flag:before {
  content: "\e907";
  color: #d00f14;
}

/* line 94, ../../rebild/sass/partials/_fonts.scss */
.icon-mobil_logo:before {
  content: "\e007";
}

/* line 97, ../../rebild/sass/partials/_fonts.scss */
.icon-printer:before {
  content: "\e011";
}

/* line 100, ../../rebild/sass/partials/_fonts.scss */
.icon-volume:before {
  content: "\e012";
}

/* line 103, ../../rebild/sass/partials/_fonts.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 106, ../../rebild/sass/partials/_fonts.scss */
.icon-search:before {
  content: "\e013";
}

/* line 109, ../../rebild/sass/partials/_fonts.scss */
.icon-plus2:before {
  content: "\e00f";
}

/* line 112, ../../rebild/sass/partials/_fonts.scss */
.icon-minus2:before {
  content: "\e010";
}

/* line 115, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-down2:before {
  content: "\e003";
}

/* line 118, ../../rebild/sass/partials/_fonts.scss */
.icon-bottom_logo:before {
  content: "\e009";
}

/* line 121, ../../rebild/sass/partials/_fonts.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 124, ../../rebild/sass/partials/_fonts.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 127, ../../rebild/sass/partials/_fonts.scss */
.icon-home:before {
  content: "\e005";
}

/* line 130, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 133, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 136, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 139, ../../rebild/sass/partials/_fonts.scss */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 142, ../../rebild/sass/partials/_fonts.scss */
.icon-images:before {
  content: "\e00e";
}

/* line 145, ../../rebild/sass/partials/_fonts.scss */
.icon-menu:before {
  content: "\e000";
}

/* line 148, ../../rebild/sass/partials/_fonts.scss */
.icon-pil2:before {
  content: "\e014";
}

/* line 151, ../../rebild/sass/partials/_fonts.scss */
.icon-angle-right:before {
  content: "\e006";
}

/* line 154, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-left2:before {
  content: "\e004";
}

/* line 157, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-up2:before {
  content: "\e002";
}

/* line 160, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-right2:before {
  content: "\e001";
}

/* line 163, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 166, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 169, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 172, ../../rebild/sass/partials/_fonts.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 175, ../../rebild/sass/partials/_fonts.scss */
.icon-close:before {
  content: "\e008";
}

/* line 178, ../../rebild/sass/partials/_fonts.scss */
.icon-plus:before {
  content: "\e00a";
}

/* line 181, ../../rebild/sass/partials/_fonts.scss */
.icon-minus:before {
  content: "\e00c";
}

/* line 184, ../../rebild/sass/partials/_fonts.scss */
.icon-compass:before {
  content: "\e00d";
}

/* line 187, ../../rebild/sass/partials/_fonts.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 190, ../../rebild/sass/partials/_fonts.scss */
.icon-rss:before {
  content: "\f09f";
}

/* line 193, ../../rebild/sass/partials/_fonts.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 196, ../../rebild/sass/partials/_fonts.scss */
.icon-og_bliv_her2:before {
  content: "\e600";
}

/* line 199, ../../rebild/sass/partials/_fonts.scss */
.icon-enlarge:before {
  content: "\e90f";
}

/* line 202, ../../rebild/sass/partials/_fonts.scss */
.icon-zoom-in:before {
  content: "\e90c";
}

/* line 205, ../../rebild/sass/partials/_fonts.scss */
.icon-file-pdf:before {
  content: "\e602";
}

/* line 208, ../../rebild/sass/partials/_fonts.scss */
.icon-pencil:before {
  content: "\e905";
}

/* line 211, ../../rebild/sass/partials/_fonts.scss */
.icon-folder:before {
  content: "\e92f";
}

/* line 214, ../../rebild/sass/partials/_fonts.scss */
.icon-folder-open:before {
  content: "\e930";
}

/* line 217, ../../rebild/sass/partials/_fonts.scss */
.icon-folder-plus:before {
  content: "\e931";
}

/* line 220, ../../rebild/sass/partials/_fonts.scss */
.icon-bin:before {
  content: "\e9ac";
}

/* line 223, ../../rebild/sass/partials/_fonts.scss */
.icon-thumbs-up:before {
  content: "\e90d";
}

/* line 226, ../../rebild/sass/partials/_fonts.scss */
.icon-mail:before {
  content: "\e603";
}

/* line 229, ../../rebild/sass/partials/_fonts.scss */
.icon-mega-phone:before {
  content: "\e601";
}

/* Variables from main theme */
/*------------------------------------------------------------------

[COLORS]

Main colors
Text colors
Background colors
Button colors

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Main colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Text colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Background colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Button colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Social media colors
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[VARIABLES]

Typography
Layout

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
	Typography
-------------------------------------------------------------------*/
/* 12px */
/*------------------------------------------------------------------
	Layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------

[MIXINS]

-------------------------------------------------------------------*/
/*
==========================================================================
	Blocks / Grid
==========================================================================
*/
/*
==========================================================================
	Forms
==========================================================================
*/
/*
==========================================================================
	Text
==========================================================================
*/
/*
==========================================================================
	Utilities
==========================================================================
*/
/*
========================================================================== 
	Resets
	
	- Resets much of the styling originating from the media 
		and media browser plus modules
========================================================================== 
*/
/* line 18, ../sass/media_browser.scss */
#media-browser-library-list li {
  width: 100%;
  display: block;
  float: left;
  position: relative;
  margin: 0;
}
/* line 25, ../sass/media_browser.scss */
#media-browser-library-list .media-item.selected {
  background: none;
}
/* line 28, ../sass/media_browser.scss */
#media-browser-library-list .form-type-checkbox,
#media-browser-library-list .form-type-radio {
  bottom: 0;
  left: 0;
  float: left;
  width: 5%;
  padding: 0;
  margin: 0;
}
/* line 36, ../sass/media_browser.scss */
#media-browser-library-list .form-type-checkbox input,
#media-browser-library-list .form-type-radio input {
  display: inline-block !important;
}
/* line 42, ../sass/media_browser.scss */
#media-browser-library-list #draggingContainer .form-type-checkbox input {
  display: none !important;
}
/* line 47, ../sass/media_browser.scss */
#media-browser-library-list .file-icon {
  margin: 0 0 -3px 0;
}
/* line 50, ../sass/media_browser.scss */
#media-browser-library-list .label-wrapper {
  display: none;
}

/*
========================================================================== 
	View: File Browser
========================================================================== 
*/
/**
 * Local Actions (Admin)
 */
/* line 64, ../sass/media_browser.scss */
ul.action-links {
  padding: 0;
}
/* line 66, ../sass/media_browser.scss */
ul.action-links .upload-button {
  color: white;
  background: #68a386;
  padding-left: 0;
  display: block;
  padding: 3px 14px;
  line-height: 1.85em;
  border: 1px solid #5b9679;
}
/* line 74, ../sass/media_browser.scss */
ul.action-links .upload-button:hover {
  text-decoration: none;
  background: #5b9679;
}

/**
 * Controls / Actions / Filters
 */
/* line 84, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus #edit-select {
  display: none;
}

/* line 87, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .vbo-fieldset-select-all {
  width: 100%;
  padding-left: 15px;
  text-align: left;
  box-sizing: border-box;
}

/* line 94, ../sass/media_browser.scss */
.view-media-browser-plus-customized .views-exposed-widgets {
  margin-bottom: 1em;
}
/* line 96, ../sass/media_browser.scss */
.view-media-browser-plus-customized .views-exposed-widgets .form-submit {
  margin-top: 1.12em;
  margin-right: 0;
}
/* line 100, ../sass/media_browser.scss */
.view-media-browser-plus-customized .views-exposed-widgets .form-item-mbp-current-folder-include-subfolders {
  margin-top: 19px;
  display: inline-block;
}
/* line 106, ../sass/media_browser.scss */
.view-media-browser-plus-customized .view-footer .form-submit {
  background-color: #7f9dcd;
  color: #fff;
  background-image: none;
  border: none;
  font-size: 1em;
  padding: 8px 16px 8px 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 119, ../sass/media_browser.scss */
.view-media-browser-plus-customized .view-footer .mbp-action-delete {
  /* background: #8c2e0b; */
}

/* File Browser */
/* line 127, ../sass/media_browser.scss */
.view-display-id-media_browser_thumbnails #edit-select {
  display: none;
}
/* line 130, ../sass/media_browser.scss */
.view-display-id-media_browser_thumbnails .vbo-select-all-markup {
  display: none !important;
}

/**
 * Table
 */
/* line 138, ../sass/media_browser.scss */
.page-admin-content-file table {
  border: 1px solid #ccc !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

/**
 * Toolbar
 */
/* line 147, ../sass/media_browser.scss */
.mbp-toolbar-folders,
.mbp-toolbar-files {
  border-top: 1px solid #ccc !important;
  border-bottom: 1px dashed #ddd !important;
}
/* line 151, ../sass/media_browser.scss */
.mbp-toolbar-folders input.form-submit, .mbp-toolbar-folders a.button,
.mbp-toolbar-files input.form-submit,
.mbp-toolbar-files a.button {
  margin: 0 10px 0 0;
  font-size: 11px;
  padding: 4px 12px;
  outline: none;
  border-bottom: 1px solid #d2d2d2;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 158, ../sass/media_browser.scss */
.mbp-toolbar-folders input.form-submit:active, .mbp-toolbar-folders a.button:active,
.mbp-toolbar-files input.form-submit:active,
.mbp-toolbar-files a.button:active {
  background: #eeeeee;
  border-color: #d2d2d2;
  color: black;
  text-shadow: none;
}

/* line 166, ../sass/media_browser.scss */
.mbp-toolbar-folders {
  border-right: 1px solid #d2d2d2 !important;
}

/**
 * Folders
 */
/* line 173, ../sass/media_browser.scss */
.mbp-folders {
  border-right: 1px solid #d2d2d2 !important;
  padding: 0;
}

/* line 180, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
/* line 185, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .folder-name,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .folder-name {
  height: 20px;
  line-height: 24px;
  padding: 5px 8px 5px 37px;
  color: #555;
}
/* line 190, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .folder-name .icon,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .folder-name .icon {
  background: none !important;
  width: auto;
  position: absolute;
  top: 5px;
  left: 10px;
}
/* line 197, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .folder-name .icon:before,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .folder-name .icon:before {
  content: "\e92f";
  font-size: 20px;
  font-family: 'Rebild';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 204, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .folder-name.ui-droppable .ajax-progress-throbber,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .folder-name.ui-droppable .ajax-progress-throbber {
  margin-top: 4px;
}
/* line 208, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li .ajax-progress-throbber,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li .ajax-progress-throbber {
  margin-top: 8px;
}
/* line 213, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li.active > div.folder-name,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li.active > div.folder-name {
  background-color: #eeeeee;
}
/* line 215, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li.active > div.folder-name .icon:before,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li.active > div.folder-name .icon:before {
  content: "\e930";
  color: #7f9dcd;
}
/* line 223, ../sass/media_browser.scss */
#views-form-media-browser-plus-customized-media-browser-plus .mbp-folders li.open > div.folder-name .icon:before,
#media-tab-media_browser_plus_customized--media_browser_thumbnails .mbp-folders li.open > div.folder-name .icon:before {
  content: "\e930";
}

/**
 * Files
 */
/* line 234, ../sass/media_browser.scss */
.view td.mbp-file-list {
  padding: 0;
  padding-left: 0;
}

/* line 238, ../sass/media_browser.scss */
#media-browser-library-list {
  margin: 0;
}

/* line 241, ../sass/media_browser.scss */
#media-browser-library-list li:nth-child(odd) {
  background: #fafafa;
}

/* line 244, ../sass/media_browser.scss */
#media-browser-library-list li.selected {
  background: #FFFFDC;
}

/* line 247, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  padding: 12px 15px;
  box-sizing: border-box;
  cursor: pointer;
  color: #555;
}
/* line 256, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .media-item {
  float: left;
  width: 45%;
  border: none;
  padding: 0;
  background: transparent;
  box-shadow: none;
}
/* line 263, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .media-item img {
  display: inline-block;
}
/* line 266, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .media-item a:hover {
  text-decoration: underline;
}
/* line 270, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .media-item.selected {
  background: #FFFFDC;
}
/* line 273, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .form-item {
  margin: 0;
}
/* line 276, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-filesize {
  float: left;
  width: 11%;
}
/* line 280, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-user {
  float: left;
  width: 11%;
}
/* line 283, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-user a:hover {
  text-decoration: underline;
}
/* line 287, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-actions {
  float: left;
  width: 15%;
  text-align: left;
  text-align: center;
}
/* line 292, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-actions a {
  display: inline-block;
  color: #555;
  margin: 0 5px 0 0;
  padding-right: 5px;
  border-right: 1px solid #bbb;
  line-height: 1;
}
/* line 300, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-actions a:last-child {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}
/* line 305, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-actions a:hover {
  text-decoration: underline;
}
/* line 309, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-use {
  width: 11%;
  float: left;
  text-align: center;
}
/* line 313, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview-vbo .doc-use a:hover {
  text-decoration: underline;
}

/* line 320, ../sass/media_browser.scss */
#media-browser-library-list li {
  position: relative;
}
/* line 323, ../sass/media_browser.scss */
#media-browser-library-list .views-field-views-bulk-operations {
  position: absolute;
  top: 10px;
  left: 15px;
}

/* line 329, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview {
  position: relative;
  z-index: 2;
}
/* line 332, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview .media-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  padding: 12px 15px 12px 50px;
  box-sizing: border-box;
  cursor: pointer;
  background: none;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 344, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview .media-item img {
  display: inline-block;
}
/* line 348, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview .media-item.selected {
  /* 	background: #FFFFDC !important; */
  border-color: #f0f0f0;
}
/* line 352, ../sass/media_browser.scss */
.views-field-media-browser-plus-preview .media-item:hover {
  border-color: #f0f0f0;
}

/* Active Draggable Element */
/* line 358, ../sass/media_browser.scss */
#draggingContainer {
  max-width: 500px;
  min-width: 300px;
}
/* line 361, ../sass/media_browser.scss */
#draggingContainer .media-item {
  width: 100%;
}
/* line 364, ../sass/media_browser.scss */
#draggingContainer .doc-actions,
#draggingContainer .doc-filesize,
#draggingContainer .doc-use,
#draggingContainer .doc-user {
  display: none !important;
}

/*
========================================================================== 
	Plupload
========================================================================== 
*/
/* line 377, ../sass/media_browser.scss */
.plupload_start {
  display: none;
}

/*
========================================================================== 
	LinkIt
========================================================================== 
*/
/* line 386, ../sass/media_browser.scss */
.form-item-linkit-class {
  display: none;
}

/*
========================================================================== 
	File Form
========================================================================== 
*/
/* File Upload */
/* line 399, ../sass/media_browser.scss */
.media-browser-tab .form-managed-file .form-submit {
  display: none;
}

/* File Edit */
/* line 408, ../sass/media_browser.scss */
.page-file-edit #file-entity-edit .form-text.required {
  width: 50%;
}

/* File Edit Multiple */
/* line 416, ../sass/media_browser.scss */
.media-bulk-upload-multiedit-form h2 {
  background: url("../images/dot.png") repeat-x top;
  padding-top: 30px;
}
/* line 420, ../sass/media_browser.scss */
.media-bulk-upload-multiedit-form h2:first-child {
  background: none;
  padding-top: 0;
  margin-top: 0;
}
/* line 425, ../sass/media_browser.scss */
.media-bulk-upload-multiedit-form .file-form {
  padding: 10px 20px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

/*
========================================================================== 
	File Usage Table
========================================================================== 
*/
/* line 440, ../sass/media_browser.scss */
.page-file-usage .region-content table th:nth-child(1) {
  width: 50%;
}
/* line 443, ../sass/media_browser.scss */
.page-file-usage .region-content table th:nth-child(2),
.page-file-usage .region-content table th:nth-child(3),
.page-file-usage .region-content table td:nth-child(2),
.page-file-usage .region-content table td:nth-child(3) {
  display: none;
}
