#footer-wrapper {
  background: $color-gray;
  padding: $space-base*2 $space-base;

  @include bp-narrow {
    padding: $space-base*3 $space-base;

  }

  #footer {
    margin: auto;

    @include bp-narrow {
      width: 640px;
    }

    @include bp-normal {
      width: 960px;
    }

  }

  .region-footer {

    @include bp-narrow {
      box-sizing: border-box;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: $space-base;
      display: -ms-grid;
      -ms-grid-columns: 23% 3% 23% 2% 23% 3% 23%;

      .block {
        -ms-grid-row: 1;

        &:nth-child(1) {
          -ms-grid-column: 1;
        }
        &:nth-child(2) {
          -ms-grid-column: 3;
        }
        &:nth-child(3) {
          -ms-grid-column: 5;
        }
        &:nth-child(4) {
          -ms-grid-column: 7;
        }
      }

      &.contains-one {
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-columns: 100%;

        .block {
          &:nth-child(1) {
            -ms-grid-column: 1;
          }
        }
      }

      &.contains-two {
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: 49% 2% 49%;

        .block {
          &:nth-child(1) {
            -ms-grid-column: 1;
          }
          &:nth-child(2) {
            -ms-grid-column: 3;
          }
        }
      }

      &.contains-three {
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-columns: 32% 2% 32% 2% 32%;

        .block {
          &:nth-child(1) {
            -ms-grid-column: 1;
          }
          &:nth-child(2) {
            -ms-grid-column: 3;
          }
          &:nth-child(3) {
            -ms-grid-column: 5;
          }
        }
      }
    }

    .block {
      margin-bottom: $space-base;

      &:last-child {
        margin-bottom: 0;
      }

      @include bp-narrow {
        margin-bottom: 0;
      }
    }

  }
}
