#block-bean-business-rebild-contact {
  .field-item {

  }
  .field-name-field-sec-txt-img-image {
    float: left;
    width: 40%;
    max-width: 145px;
    margin: 2px 12px 8px 0;
  }
}

  .field-name-field-contact-employees > .field-items > .field-item {
    padding-bottom: 20px;
  }
