.node-type-nl-rp, .node-type-nl-br {
    #region-content{
        .node{
            .field-item{
                td{
                    vertical-align: top;
                    .field{
                        margin-bottom: 0;
                        a{
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}